Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix(security): remove silent admin fallbacks and hardcoded default secrets
  backend/app/migrations_routes.py
  backend/app/services/auth_service.py
  backend/app/services/encryption_service.py
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/admin/DatabaseManager.jsx
  frontend/src/utils/adminAuth.js
Due: lint-db-transactions, lint-frontend-deploy

fix: TDZ crash in SimpleScorekeeper + repair 25 failing frontend tests
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
  frontend/src/components/signup/__tests__/AllPlayersAvailability.test.jsx
  frontend/src/components/tutorial/__tests__/TutorialSystem.test.jsx
Due: lint-frontend-deploy

ci: make frontend CI actually run, fix backend lint, drop redundant workflow
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
  backend/app/domain/wgp_handlers_core.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/games.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
  backend/app/routers/notifications.py
  backend/app/routers/players.py
  backend/app/routers/tee_sheet.py
  backend/app/services/foretees_service.py
  backend/app/services/game_lifecycle_service.py
  backend/app/services/livsow_service.py
  backend/app/wolf_goat_pig.py
  frontend/public/service-worker.js
  frontend/public/version.json
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

test(backend): triage 112 pre-existing failures — suite now fully green
  backend/tests/game_rules/5man/test_aardvark.py
  backend/tests/game_rules/5man/test_hoepfinger_5man.py
  backend/tests/game_rules/5man/test_ping_pong_aardvark.py
  backend/tests/game_rules/5man/test_tunkarri.py
  backend/tests/game_rules/betting/test_carry_over.py
  backend/tests/game_rules/betting/test_double_points.py
  backend/tests/game_rules/betting/test_float_enforcement.py
  backend/tests/game_rules/betting/test_karl_marx.py
  backend/tests/game_rules/betting/test_pre_hole_doubling.py
  backend/tests/game_rules/betting/test_scorekeeping_validation.py
  backend/tests/game_rules/special/test_big_dick.py
  backend/tests/game_rules/special/test_hoepfinger.py
  backend/tests/game_rules/special/test_the_duncan.py
  backend/tests/game_rules/special/test_the_option.py
  backend/tests/game_rules/special/test_vinnies_variation.py
  backend/tests/game_rules/teams/test_dynamic_rotation_selection.py
  backend/tests/game_rules/teams/test_rotation_tracking.py
  backend/tests/game_rules/teams/test_solo_requirement.py
  backend/tests/unit/engine/test_game_lifecycle_service.py
  backend/tests/unit/routers/test_games_holes_router.py
  backend/tests/unit/routers/test_games_players_router.py
  backend/tests/unit/routers/test_games_router.py
  backend/tests/unit/routers/test_leaderboard_router.py
Due: none

ci: remove build-docker job — unconfigured Docker Hub secrets, Render deploys via git
  .github/workflows/backend-ci.yml
Due: none

fix(frontend): surface silent fetch failures where they could mislead or harm
  frontend/src/components/game/GHINPostModal.jsx
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-frontend-deploy

refactor(engine): extract SerializationMixin from WolfGoatPigGame (step 1/10)
  backend/app/engine/__init__.py
  backend/app/engine/serialization.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract AnalyticsMixin (step 2/10)
  backend/app/engine/__init__.py
  backend/app/engine/analytics.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract SimulationMixin (step 3/10)
  backend/app/engine/__init__.py
  backend/app/engine/simulation_api.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract ShotProgressionMixin, seed PartnershipMixin (step 4/10)
  backend/app/engine/__init__.py
  backend/app/engine/partnership.py
  backend/app/engine/shot_progression.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract StateViewsMixin (step 5/10)
  backend/app/engine/__init__.py
  backend/app/engine/state_views.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract ScoringMixin (step 6/10)
  backend/app/engine/__init__.py
  backend/app/engine/scoring.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract BettingActionsMixin (step 7/10)
  backend/app/engine/__init__.py
  backend/app/engine/betting_actions.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract AardvarkMixin (step 8/10)
  backend/app/engine/__init__.py
  backend/app/engine/aardvark.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): move core partnership methods into PartnershipMixin (step 9/10)
  backend/app/engine/partnership.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(engine): extract HoleSetupMixin — wolf_goat_pig.py split complete (step 10/10)
  backend/app/engine/__init__.py
  backend/app/engine/hole_setup.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor(scorekeeper): delete dead code — ARROW_BUTTON_STYLE, loadHoleForEdit, validateHole, betting narrative memo (step 1)
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

refactor(scorekeeper): extract OptionalEntryPanels (step 2a)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/OptionalEntryPanels.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract AnalysisPanels (step 2b)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/AnalysisPanels.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract UsageStatsPanel (step 2c)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/UsageStatsPanel.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract SpecialActionsPanel (step 2d)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/SpecialActionsPanel.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract ScorekeeperBanners + ErrorBanner (step 3a)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/ScorekeeperBanners.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract ScorecardSection (step 3b)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/ScorecardSection.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract StuartModeControls — toggle, phase strip, double offer (step 4)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/StuartModeControls.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

refactor(scorekeeper): reuse getStrokesForHole from utils/strokeAllocation (step 5)
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

test(scorekeeper): add Stuart Mode characterization tests before hook extraction (step 6a)
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
Due: lint-frontend-deploy

refactor(scorekeeper): extract useStuartMode hook — all 6 AI effects + move log (step 6b)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useStuartMode.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract useGameActions dispatch wrappers (step 7a)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/useGameActions.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract useScorekeeperSync — course/persistence/standings/rotation effects (step 7c)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useAchievements.js
  frontend/src/hooks/useScorekeeperSync.js
Due: lint-frontend-deploy

refactor(scorekeeper): extract useHoleSubmission — submit/edit/reset lifecycle (step 8)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useHoleSubmission.js
Due: lint-frontend-deploy

fix(signup): repair stray escape character in pairings-error JSX guard
  frontend/src/components/signup/DailySignupView.jsx
Due: lint-frontend-deploy

docs: add pre-push definition-of-done mirroring CI, deploy verification steps
  CLAUDE.md
Due: none

feat(livsow): roster snapshots + auto-derived transaction log (backend)
  .github/workflows/livsow-snapshot.yml
  backend/app/models.py
  backend/app/routers/unified_data.py
  backend/app/services/livsow_service.py
  backend/app/services/livsow_transactions.py
  backend/migrations/add_livsow_transactions_postgres.sql
  backend/tests/unit/routers/test_livsow_router.py
  backend/tests/unit/services/test_livsow_transactions.py
Due: lint-db-transactions

feat(livsow): team franchise pages + transaction feeds (frontend)
  frontend/src/App.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
  frontend/src/components/game/livsow/LivSowTransactions.jsx
  frontend/src/components/game/livsow/__tests__/LivSowTeamPage.test.jsx
  frontend/src/components/game/livsow/shared.jsx
Due: lint-frontend-deploy

feat(chat): GroupMe bridge — league chat embedded in the app
  backend/app/main.py
  backend/app/routers/groupme.py
  backend/app/services/groupme_service.py
  backend/tests/unit/routers/test_groupme_router.py
  backend/tests/unit/routers/test_team_formation_router.py
  frontend/src/App.jsx
  frontend/src/components/chat/GroupMeChat.jsx
  frontend/src/components/ui/Navigation.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(chat): post-as-user fallback when no GroupMe bot is configured
  backend/app/services/groupme_service.py
  backend/tests/unit/routers/test_groupme_router.py
Due: lint-db-transactions

feat(chat): full chat history on the LivSow home page
  backend/app/routers/groupme.py
  backend/app/services/groupme_service.py
  backend/tests/unit/routers/test_groupme_router.py
  frontend/src/components/chat/GroupMeChat.jsx
  frontend/src/components/chat/GroupMeFeed.jsx
  frontend/src/components/chat/MessageParts.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(chat+livsow): inline video playback and player profile links
  backend/app/routers/unified_data.py
  backend/app/services/groupme_service.py
  backend/tests/unit/routers/test_groupme_router.py
  frontend/src/components/chat/MessageParts.jsx
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(livsow): fuzzy profile matching for sheet-name typos
  backend/app/routers/unified_data.py
  backend/tests/unit/routers/test_livsow_router.py
Due: lint-db-transactions

feat(livsow): Messages from the Commissioner — permanent league media archive
  .github/workflows/livsow-snapshot.yml
  backend/app/models.py
  backend/app/routers/groupme.py
  backend/app/services/league_media_service.py
  backend/migrations/add_livsow_media_postgres.sql
  backend/tests/unit/routers/test_groupme_router.py
  frontend/src/App.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
  frontend/src/components/game/livsow/CommissionerMediaPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
