Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix: reduce CI noise across all workflows
  .github/workflows/backend-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-checks.yml
  backend/mypy.ini
Due: none

chore: CI/CD cleanup and maintenance fixes
  .github/auto-assign.yml
  .github/workflows/backend-ci.yml
  .github/workflows/deploy.yml
  backend/app/services/player_service.py
  frontend/src/components/__tests__/BettingOddsPanel.test.js
  frontend/src/components/__tests__/GameStateWidget.test.js
  frontend/src/components/__tests__/Navigation.test.js
  frontend/src/components/signup/__tests__/MatchmakingSuggestions.test.js
  frontend/src/components/tutorial/__tests__/InteractiveElement.test.js
  frontend/src/components/tutorial/__tests__/ProgressTracker.test.js
  frontend/src/pages/__tests__/AboutPage.test.js
  frontend/src/pages/__tests__/HomePage.test.js
  frontend/src/pages/__tests__/RulesPage.test.js
  frontend/src/pages/__tests__/SignupPage.test.js
Due: lint-db-transactions, lint-frontend-deploy

feat: daily GHIN handicap sync via GitHub Actions cron
  .github/workflows/ghin-sync.yml
Due: none

fix: clear orphaned GHIN ID from soft-deleted duplicate player 61 so it can be assigned to Clint Knudsen (id=19)
  backend/schema/clear_duplicate_clint_ghin_postgres.sql
Due: none

fix: clear ghin_id on player soft-delete to prevent unique constraint conflicts
  backend/app/services/player_service.py
  backend/schema/clear_duplicate_brett_ghin_postgres.sql
Due: lint-db-transactions

fix: send file as 'file' field (not 'image') to match backend, and handle array error details
  frontend/src/components/game/ScorecardPhoto.jsx
Due: lint-frontend-deploy

fix: expose real scan error message instead of generic 500
  backend/app/main.py
Due: lint-db-transactions

fix: remove leading comments from migration SQL so ensure_schema.py doesn't skip them
  backend/schema/clear_duplicate_brett_ghin_postgres.sql
  backend/schema/clear_duplicate_clint_ghin_postgres.sql
Due: none

fix: switch Gemini model to gemini-3.0-flash
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

fix: use gemini-flash-latest model
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

fix: treat blank scorecard cells as carry-overs (delta=0), require all 18 holes in extraction
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

fix: match orphaned GHIN records by value instead of row ID for reliability
  backend/schema/clear_duplicate_brett_ghin_postgres.sql
  backend/schema/clear_duplicate_clint_ghin_postgres.sql
Due: none

fix: use id != N condition to clear orphaned GHINs, avoiding is_active type ambiguity
  backend/schema/clear_duplicate_brett_ghin_postgres.sql
  backend/schema/clear_duplicate_clint_ghin_postgres.sql
Due: none

fix: auto-clear duplicate GHIN from other records before assigning to a player
  backend/app/services/player_service.py
Due: lint-db-transactions

feat: few-shot scorecard scanning with reference image and handwriting notes (9U=96)
  backend/app/data/scorecard_examples/example_001.jpeg
  backend/app/data/scorecard_examples/example_001.png
  backend/app/data/scorecard_examples/example_001_ground_truth.json
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

feat: add H1-H9 confirmed ground truth for scorecard few-shot example
  backend/app/data/scorecard_examples/example_001_ground_truth.json
Due: none

chore: remove husky git hooks
  .husky/deployment-checklist
  .husky/pre-commit
  .husky/pre-push
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: wire Commissioner chat to Claude with live DB context
  backend/app/main.py
  backend/app/routers/commissioner.py
  backend/requirements.txt
  frontend/src/components/game/CommissionerChat.js
  render.yaml
Due: lint-db-transactions, lint-frontend-deploy

fix: use Gemini instead of Anthropic for Commissioner chat
  backend/app/routers/commissioner.py
  backend/requirements.txt
  render.yaml
Due: lint-db-transactions

fix: use gemini-flash-latest alias to avoid free tier quota
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: log leaderboard load failure as warning in Commissioner
  backend/app/routers/commissioner.py
Due: lint-db-transactions

feat: sync sheet rounds to legacy_rounds DB table, Commissioner queries DB only
  backend/app/models.py
  backend/app/routers/commissioner.py
  backend/app/routers/unified_data.py
  backend/migrations/add_legacy_rounds_postgres.sql
Due: lint-db-transactions

feat: sync legacy_rounds from sheets every 2h + on startup
  backend/app/main.py
  backend/app/services/email_scheduler.py
Due: lint-db-transactions

refactor: move sheet admin endpoints off hot path, add background sync queue
  backend/app/models.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/email_scheduler.py
  backend/migrations/add_legacy_rounds_duration_postgres.sql
  backend/migrations/add_pending_sheet_syncs_postgres.sql
Due: lint-db-transactions

perf: read /data/* endpoints from legacy_rounds cache, not live Sheets
  backend/app/routers/unified_data.py
  backend/app/services/email_scheduler.py
  backend/app/services/unified_data_service.py
Due: lint-db-transactions

perf: serve /leaderboard/ghin-enhanced from DB, sync handicaps daily
  backend/app/main.py
  backend/app/services/email_scheduler.py
Due: lint-db-transactions

fix: add admin auth to spreadsheet and data sync endpoints
  backend/app/main.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/routers/unified_data.py
  backend/app/utils/admin_auth.py
Due: lint-db-transactions

fix: repair test_advanced_rules and remove test_progression from CI
  .github/workflows/backend-ci.yml
  backend/tests/integration/test_advanced_rules.py
  backend/tests/manual/manual_progression_diagnostic.py
Due: none

refactor: extract main.py (9080→572 lines) into 21 modular router/handler files
  backend/app/domain/wgp_handlers_betting.py
  backend/app/domain/wgp_handlers_core.py
  backend/app/domain/wgp_handlers_teams.py
  backend/app/main.py
  backend/app/routers/__init__.py
  backend/app/routers/admin.py
  backend/app/routers/admin_oauth.py
  backend/app/routers/analytics.py
  backend/app/routers/betting_odds.py
  backend/app/routers/email_routes.py
  backend/app/routers/games.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
  backend/app/routers/ghin.py
  backend/app/routers/leaderboard.py
  backend/app/routers/legacy_scoring.py
  backend/app/routers/matchmaking.py
  backend/app/routers/messages.py
  backend/app/routers/scorecard.py
  backend/app/routers/signups.py
  backend/app/routers/team_formation.py
  backend/app/routers/websocket_routes.py
  backend/app/routers/wgp_actions.py
  backend/app/schemas.py
  backend/app/state/app_state.py
Due: lint-db-transactions

chore: remove 12 dead test files referencing deleted wolf_goat_pig_simulation module
  backend/tests/_diagnostic/test_analytics.py
  backend/tests/_diagnostic/test_debug.py
  backend/tests/_diagnostic/test_final_implementation.py
  backend/tests/_diagnostic/test_fixes.py
  backend/tests/_diagnostic/test_short_game.py
  backend/tests/_diagnostic/test_wgp_direct.py
  backend/tests/api/test_unified_action_api.py
  backend/tests/game_rules/betting/test_betting_flow.py
  backend/tests/integration/test_basic_functionality.py
  backend/tests/integration/test_integration_scenarios.py
  backend/tests/manual/manual_progression_diagnostic.py
  backend/tests/unit/engine/test_hole_state_mechanics.py
Due: none

fix: repair all 51 pre-existing test failures (833 passing, 0 failing)
  backend/app/domain/wgp_handlers_core.py
  backend/app/models.py
  backend/app/routers/courses.py
  backend/migrations/add_game_player_result_columns_postgres.sql
  backend/tests/api/test_api_endpoints.py
  backend/tests/game_rules/special/test_creecher_feature.py
  backend/tests/infra/startup_test.py
  backend/tests/integration/test_full_game_flow.py
  backend/tests/integration/test_golden_round.py
  backend/tests/integration/test_hole_completion.py
  backend/tests/unit/services/test_ghin_service.py
  backend/tests/unit/services/test_matchmaking_service.py
Due: lint-db-transactions

fix: add missing columns to legacy_rounds and game_player_results tables
  backend/migrations/add_missing_columns_postgres.sql
  backend/schema/add_missing_columns_postgres.sql
Due: none

fix: add run-migration endpoint for add_missing_columns
  backend/app/routers/admin.py
Due: lint-db-transactions

chore: quarantine dead code into _unused/ directories
  _unused/backend/app/services/achievement_service.py
  _unused/backend/app/services/score_calculation_service.py
  _unused/backend/docker-compose.yml
  _unused/backend/tests/manual/manual_test_scoring_mode.py
  _unused/backend/tests/unit/engine/test_achievement_service.py
  _unused/backend/tests/unit/services/test_score_calculation_service.py
  backend/app/utils/__init__.py
  frontend/_unused/src/components/__tests__/PerformanceAnalytics.test.js
  frontend/_unused/src/components/__tests__/PlayerProfileManager.test.js
  frontend/_unused/src/components/analytics/PerformanceAnalytics.js
  frontend/_unused/src/components/analytics/PostHoleAnalytics.js
  frontend/_unused/src/components/player/PlayerProfileManager.js
  frontend/_unused/src/config/environment.js
  frontend/_unused/src/pages/TeeTimesPage.js
  frontend/_unused/src/services/__tests__/offlineGameManager.test.js
  frontend/_unused/src/services/offlineGameManager.js
  frontend/_unused/src/utils_api.js
  frontend/src/utils/index.js
Due: lint-db-transactions, lint-frontend-deploy

chore: improve pytest config, deployment scripts, and version bump
  backend/pyproject.toml
  backend/schedule.py
  frontend/public/service-worker.js
  frontend/public/version.json
  scripts/deployment/deploy.sh
  scripts/deployment/test-prod-all.sh
  scripts/testing/podman-test.sh
Due: lint-frontend-deploy, check-sw-version-script

refactor: split schemas.py (885 lines) into 5 domain modules
  backend/app/schemas.py
  backend/app/schemas/__init__.py
  backend/app/schemas/betting.py
  backend/app/schemas/courses.py
  backend/app/schemas/games.py
  backend/app/schemas/players.py
  backend/app/schemas/signups.py
Due: lint-db-transactions

refactor: extract FoursomesManager and DatabaseManager from AdminPage
  frontend/src/pages/AdminPage.js
  frontend/src/pages/admin/DatabaseManager.js
  frontend/src/pages/admin/FoursomesManager.js
Due: lint-frontend-deploy

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
