Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

feat(scorecard): guided prompt + expected-player completeness check
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): horizontal split helper for tiled scanning
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): merge left/right tile results by player
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): adaptive single->tiled scan guided by expected players
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

fix(scorecard): guard tiled path against raising; cover zero-sum-trigger + selection
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

test(scorecard): regression test for tiled-path exception fallback to single
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: none

feat(scorecard): accept optional players form field on /scorecard/scan
  backend/app/routers/scorecard.py
  backend/tests/unit/routers/test_scorecard_router.py
Due: lint-db-transactions

feat(scorecard): pre-pick roster players, send to scan, fixed-row review
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardPhoto.players.test.jsx
  frontend/src/pages/ScorecardScanPage.jsx
  frontend/src/pages/__tests__/ScorecardScanPage.test.jsx
Due: lint-frontend-deploy

fix(scorecard): align scanned players to picked roster by name in review
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardReview.newround.test.jsx
Due: lint-frontend-deploy

fix(scorecard): positional fallback in player remap so unmatched names don't drop scores
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardReview.newround.test.jsx
Due: lint-frontend-deploy

test(scorecard): live eval passes known players, asserts all found + higher floor
  backend/tests/live/test_scorecard_accuracy_live.py
Due: none

style(scorecard): ruff format the scan service + tests
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

fix(scorecard): guard tiling against empty result when expected_players is None
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

fix(scorecard): pass game players as pickedPlayers in attach-mode scan
  frontend/src/pages/ScorecardScanPage.jsx
  frontend/src/pages/__tests__/ScorecardScanPage.test.jsx
Due: lint-frontend-deploy

style(scorecard): ruff C420 fix (dict.fromkeys) in adaptive scan tests
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: none

fix(scorecard): surface tiling fallback reason instead of silently swallowing it
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

fix(scorecard): retry Groq vision calls on 429 so tiling isn't killed by rate limits
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): zero-sum correction retry — re-read unbalanced holes before tiling
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): raise preprocessing resolution 2048->3000 (fixes low-res over-crop)
  backend/app/services/scorecard_scan_service.py
  frontend/src/utils/scorecardImage.js
Due: lint-db-transactions, lint-frontend-deploy

test(scorecard): repeatable accuracy eval harness (variance band, single vs adaptive)
  .github/workflows/scorecard-eval.yml
  backend/scripts/scorecard_eval.py
  backend/tests/live/data/scorecard_5man_001.jpeg
Due: none

refactor(scorecard): drop tiling + zero-sum correction (eval showed no gain over single)
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

test(scorecard): lower live-eval floor to a catastrophic-regression bar (~0.10)
  backend/tests/live/test_scorecard_accuracy_live.py
Due: none

test(scorecard): add clear 4-man fixture + final-totals eval (measure the clear-card case)
  backend/scripts/scorecard_eval.py
  backend/tests/live/data/scorecard_4man_002.jpeg
  backend/tests/live/data/scorecard_4man_002_finaltotals.json
Due: none

test(scorecard): slim eval to one prod config + the 4-man finals metric
  backend/scripts/scorecard_eval.py
Due: none

feat(scorecard): totals-first review for scan-a-finished-round (per-hole optional)
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardReview.newround.test.jsx
Due: lint-frontend-deploy

docs(spec): in-app scorecard photo zoom for totals validation (Part A)
  docs/superpowers/specs/2026-06-21-scorecard-photo-zoom-design.md
Due: none

feat(scorecard): in-app photo zoom to validate totals during review (Part A)
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/ScorecardPhotoZoom.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardPhotoZoom.test.jsx
  frontend/src/components/game/__tests__/ScorecardReview.photo.test.jsx
Due: lint-frontend-deploy

docs(spec): persist scorecard photo + backfill per-hole later (Part B)
  docs/superpowers/specs/2026-06-21-scorecard-photo-persist-backfill-design.md
Due: none

fix(sheets): stop gcloud-fallback Sentry spam; surface real GOOGLE_OAUTH_CREDENTIALS failure
  backend/app/services/spreadsheet_sync_service.py
  backend/tests/unit/services/test_spreadsheet_token.py
Due: lint-db-transactions

docs(plan): persist scorecard photo + backfill per-hole (Part B) implementation plan
  docs/superpowers/plans/2026-06-21-scorecard-photo-persist-backfill.md
Due: none

feat(scorecard): scorecard_image column on game_state (+ pg migration)
  backend/app/models.py
  backend/migrations/add_scorecard_image_postgres.sql
  backend/tests/unit/test_models_scorecard_image.py
Due: lint-db-transactions

feat(scorecard): from-scorecard stores optional image_base64
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_round.py
Due: lint-db-transactions

feat(scorecard): GET /games/{id}/scorecard-photo serves the stored image
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_photo.py
Due: lint-db-transactions

feat(scorecard): PATCH /games/{id}/scorecard backfills per-hole + recomputes standings
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_photo.py
Due: lint-db-transactions

style(models): split sqlalchemy import to multi-line (Text addition tripped I001)
  backend/app/models.py
Due: lint-db-transactions

style(tests): ruff format scorecard image/photo test files
  backend/tests/unit/routers/test_scorecard_photo.py
  backend/tests/unit/test_models_scorecard_image.py
Due: none

feat(scorecard): send downscaled photo (image_base64) on from-scorecard save
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/__tests__/ScorecardPhoto.players.test.jsx
  frontend/src/utils/__tests__/scorecardImage.test.js
  frontend/src/utils/scorecardImage.js
Due: lint-frontend-deploy

feat(scorecard): Photo button on the completed round view (reuses zoom overlay)
  frontend/src/components/game/ScorecardPhotoButton.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/ScorecardPhotoButton.test.jsx
  frontend/src/pages/SimpleScorekeeperPage.jsx
Due: lint-frontend-deploy

feat(scorecard): Fill-in-holes backfill editor (locked totals, PATCH save)
  frontend/src/components/game/ScorecardBackfill.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardBackfill.test.jsx
  frontend/src/pages/SimpleScorekeeperPage.jsx
  frontend/src/utils/quarters.js
Due: lint-frontend-deploy

fix(scorecard-backfill): emit all 18 holes, refresh GameRecord, fix photo button
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_photo.py
  frontend/src/components/game/ScorecardBackfill.jsx
  frontend/src/components/game/__tests__/ScorecardBackfill.test.jsx
  frontend/src/pages/SimpleScorekeeperPage.jsx
Due: lint-db-transactions, lint-frontend-deploy
