Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

feat(signups): inline editable notes on your own signup row
  frontend/src/components/signup/DailySignupView.jsx
Due: lint-frontend-deploy

feat(leaderboard): link player names to their profile page
  frontend/src/components/game/Leaderboard.jsx
Due: lint-frontend-deploy

feat(home): add 'First time here?' signup hint on login screen
  frontend/src/pages/HomePage.jsx
Due: lint-frontend-deploy

feat(admin): add relink-auth0 endpoint to fix duplicate account linking
  backend/app/routers/players.py
Due: lint-db-transactions

feat(admin): account linking manager tab for fixing duplicate Auth0 accounts
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
Due: lint-frontend-deploy

feat(onboarding): disable mandatory legacy linking — new users go straight in
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/hooks/usePlayerProfile.js
Due: lint-frontend-deploy

fix(signup): unlinked users can sign up using display name, remove legacy block
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-frontend-deploy

feat(admin): runtime feature toggles for foretees, scorecard scan, livsow, chat
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/features.py
  backend/migrations/009_app_config_postgres.sql
  frontend/src/App.jsx
  frontend/src/config/features.js
  frontend/src/hooks/useFeatureFlags.js
  frontend/src/index.jsx
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/admin/FeatureToggles.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: disable LivSow by default across app surfaces
  backend/app/routers/features.py
  backend/openapi.json
  frontend/src/api/schema.d.ts
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/config/features.js
  frontend/src/hooks/useFeatureFlags.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/HomePage.clubLink.test.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: disable LivSow by default across app surfaces (#358)
  backend/app/routers/features.py
  backend/openapi.json
  frontend/src/api/schema.d.ts
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/config/features.js
  frontend/src/hooks/useFeatureFlags.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/HomePage.clubLink.test.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: post foursome results on the honor system
  backend/app/database.py
  backend/app/models.py
  backend/app/routers/member_rounds.py
  backend/migrations/add_member_round_submitter_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_member_rounds_router.py
  backend/tests/unit/test_member_round_submitter_migration.py
  frontend/src/api/schema.d.ts
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/pages/__tests__/PostRoundPage.test.jsx
  frontend/src/services/rounds.js
Due: lint-db-transactions, lint-frontend-deploy

feat: manage player account links explicitly
  backend/app/routers/account_links.py
  backend/app/routers/players.py
  backend/app/services/auth_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_account_links.py
  frontend/src/api/schema.d.ts
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/__tests__/AccountPage.name.test.jsx
  frontend/src/pages/__tests__/HomePage.clubLink.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
  frontend/src/utils/__tests__/playerDisplayName.test.js
  frontend/src/utils/playerDisplayName.js
Due: lint-db-transactions, lint-frontend-deploy

feat: post foursome scores and manage player account links (#359)
  backend/app/database.py
  backend/app/models.py
  backend/app/routers/account_links.py
  backend/app/routers/member_rounds.py
  backend/app/routers/players.py
  backend/app/services/auth_service.py
  backend/migrations/add_member_round_submitter_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_member_rounds_router.py
  backend/tests/unit/test_member_round_submitter_migration.py
  frontend/src/api/schema.d.ts
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/__tests__/AccountPage.name.test.jsx
  frontend/src/pages/__tests__/HomePage.clubLink.test.jsx
  frontend/src/pages/__tests__/PostRoundPage.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
  frontend/src/services/rounds.js
  frontend/src/utils/__tests__/playerDisplayName.test.js
  frontend/src/utils/playerDisplayName.js
Due: lint-db-transactions, lint-frontend-deploy

fix: select installed PostgreSQL driver explicitly
  backend/app/database.py
  backend/tests/unit/test_postgres_driver.py
Due: lint-db-transactions

fix: select installed PostgreSQL driver explicitly (#360)
  backend/app/database.py
  backend/tests/unit/test_postgres_driver.py
Due: lint-db-transactions

fix: make player sign-in and history linking reliable
  backend/app/routers/players.py
  backend/app/services/auth_service.py
  backend/app/services/legacy_player_service.py
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/services/test_auth_service.py
  backend/tests/unit/services/test_signin_identity.py
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/OnboardingModal.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/hooks/usePlayerProfile.js
Due: lint-db-transactions, lint-frontend-deploy

fix: limit identity locks to first sign-in
  backend/app/services/auth_service.py
Due: lint-db-transactions

fix: make player sign-in and history linking reliable (#361)
  backend/app/routers/players.py
  backend/app/services/auth_service.py
  backend/app/services/legacy_player_service.py
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/services/test_auth_service.py
  backend/tests/unit/services/test_signin_identity.py
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/OnboardingModal.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/hooks/usePlayerProfile.js
Due: lint-db-transactions, lint-frontend-deploy

fix: simplify active game quarter entry
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/QuartersPanel.test.jsx
  frontend/src/hooks/useHoleSubmission.js
Due: lint-frontend-deploy

fix: simplify active game quarter entry (#362)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/QuartersPanel.test.jsx
  frontend/src/hooks/useHoleSubmission.js
Due: lint-frontend-deploy

fix: disable Stuart Mode behind an admin feature flag
  backend/app/routers/features.py
  backend/tests/unit/routers/test_features.py
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
  frontend/src/config/features.js
  frontend/src/hooks/__tests__/useUIState.stuartMode.test.js
  frontend/src/hooks/useStuartMode.js
  frontend/src/hooks/useUIState.js
  frontend/src/pages/CreateGamePage.jsx
  frontend/src/pages/__tests__/CreateGamePage.test.jsx
  frontend/src/pages/admin/FeatureToggles.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: disable Stuart Mode behind an admin feature flag (#363)
  backend/app/routers/features.py
  backend/tests/unit/routers/test_features.py
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
  frontend/src/config/features.js
  frontend/src/hooks/__tests__/useUIState.stuartMode.test.js
  frontend/src/hooks/useStuartMode.js
  frontend/src/hooks/useUIState.js
  frontend/src/pages/CreateGamePage.jsx
  frontend/src/pages/__tests__/CreateGamePage.test.jsx
  frontend/src/pages/admin/FeatureToggles.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: simplify scoring to quarters per player per hole
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/HoleNavigation.test.jsx
  frontend/src/components/game/scorekeeper/__tests__/QuartersPanel.test.jsx
  frontend/src/hooks/__tests__/useHoleSubmission.test.js
  frontend/src/hooks/useHoleSubmission.js
  frontend/src/utils/__tests__/quarters.test.js
Due: lint-frontend-deploy

fix: simplify scoring to quarters per player per hole (#364)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/HoleNavigation.test.jsx
  frontend/src/components/game/scorekeeper/__tests__/QuartersPanel.test.jsx
  frontend/src/hooks/__tests__/useHoleSubmission.test.js
  frontend/src/hooks/useHoleSubmission.js
  frontend/src/utils/__tests__/quarters.test.js
Due: lint-frontend-deploy

feat: submit authenticated feedback as GitHub issues
  backend/app/main.py
  backend/app/routers/feedback.py
  backend/openapi.json
  backend/tests/unit/routers/test_feedback_router.py
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/secrets.md
  frontend/src/App.jsx
  frontend/src/api/schema.d.ts
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/FeedbackPage.jsx
  frontend/src/pages/__tests__/FeedbackPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: submit authenticated feedback as GitHub issues (#370)
  backend/app/main.py
  backend/app/routers/feedback.py
  backend/openapi.json
  backend/tests/unit/routers/test_feedback_router.py
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/secrets.md
  frontend/src/App.jsx
  frontend/src/api/schema.d.ts
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/FeedbackPage.jsx
  frontend/src/pages/__tests__/FeedbackPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: require admin for per-player endpoints; retiring a profile frees its login
  .ctk/ledger.json
  backend/app/routers/account_links.py
  backend/app/routers/players.py
  backend/app/services/player_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_players_router.py
  frontend/src/components/integration/GHINIntegration.jsx
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: require admin for per-player endpoints; retiring a profile frees its login (#371)
  .ctk/ledger.json
  backend/app/routers/account_links.py
  backend/app/routers/players.py
  backend/app/services/player_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_players_router.py
  frontend/src/components/integration/GHINIntegration.jsx
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
Due: lint-db-transactions, lint-frontend-deploy

docs: spec for managing admins in the app
  docs/superpowers/specs/2026-10-08-manage-admins-design.md
Due: none

docs: implementation plan for managing admins in the app
  docs/superpowers/plans/2026-10-08-manage-admins.md
Due: none

feat: honor an in-app admin flag alongside the env allowlist
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/schemas/players.py
  backend/app/utils/admin_auth.py
  backend/migrations/add_profile_admin_flag_postgres.sql
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_admin_auth_profile_flag.py
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/hooks/usePlayerProfile.js
Due: lint-db-transactions, lint-frontend-deploy

fix: keep stored admin flag out of profile responses
  backend/app/models.py
  backend/app/schemas/players.py
  backend/app/utils/admin_auth.py
  backend/tests/unit/utils/test_admin_auth_profile_flag.py
Due: lint-db-transactions

feat: admin grant/revoke API with env floor and self-revoke guard
  backend/app/routers/admin_grants.py
  backend/app/routers/players.py
  backend/app/services/player_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_admin_grants.py
  frontend/src/api/schema.d.ts
Due: lint-db-transactions, lint-frontend-deploy

fix: require admin for schema tools and the job token for callouts/run
  .github/workflows/callout-list.yml
  backend/app/routers/callouts.py
  backend/app/routers/health.py
  backend/openapi.json
  backend/tests/unit/routers/test_callouts_router.py
  backend/tests/unit/routers/test_open_admin_endpoints_locked.py
  frontend/src/api/schema.d.ts
Due: lint-db-transactions, lint-frontend-deploy

feat: Admins tab to grant and remove admin access
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/__tests__/AdminManager.test.jsx
  frontend/src/pages/admin/AdminManager.jsx
Due: lint-frontend-deploy

docs: what admins can do and how admin access is managed
  docs/admin-permissions.md
Due: none

docs: include spreadsheet sync admin routes
  docs/admin-permissions.md
Due: none

fix: in-app admins get LivSOW team editing; harden admin grants
  backend/app/database.py
  backend/app/models.py
  backend/app/routers/account_links.py
  backend/app/routers/admin_grants.py
  backend/app/routers/unified_data.py
  backend/app/utils/admin_auth.py
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_admin_grants.py
  backend/tests/unit/routers/test_livsow_router.py
  docs/admin-permissions.md
Due: lint-db-transactions

chore: refresh capability ledger for admin management changes
  .ctk/ledger.json
Due: none

feat: manage admins in the app + document admin permissions (#373)
  .ctk/ledger.json
  .github/workflows/callout-list.yml
  backend/app/database.py
  backend/app/models.py
  backend/app/routers/account_links.py
  backend/app/routers/admin_grants.py
  backend/app/routers/callouts.py
  backend/app/routers/health.py
  backend/app/routers/players.py
  backend/app/routers/unified_data.py
  backend/app/schemas/players.py
  backend/app/services/player_service.py
  backend/app/utils/admin_auth.py
  backend/migrations/add_profile_admin_flag_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_account_links.py
  backend/tests/unit/routers/test_admin_grants.py
  backend/tests/unit/routers/test_callouts_router.py
  backend/tests/unit/routers/test_livsow_router.py
  backend/tests/unit/routers/test_open_admin_endpoints_locked.py
  backend/tests/unit/utils/__init__.py
  backend/tests/unit/utils/test_admin_auth_profile_flag.py
  docs/admin-permissions.md
  docs/superpowers/plans/2026-10-08-manage-admins.md
  docs/superpowers/specs/2026-10-08-manage-admins-design.md
  frontend/src/api/schema.d.ts
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/__tests__/AdminManager.test.jsx
  frontend/src/pages/admin/AdminManager.jsx
Due: lint-db-transactions, lint-frontend-deploy
