Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

refactor: extract game engine data types to domain/game_types.py
  backend/app/domain/game_types.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor: extract post-hole analytics to dedicated service
  backend/app/services/post_hole_analysis_service.py
  backend/app/wolf_goat_pig.py
Due: lint-db-transactions

refactor: extract business logic from games_holes router to service
  backend/app/routers/games_holes.py
  backend/app/services/hole_completion_service.py
Due: lint-db-transactions

test: add 90 router tests for games, signups, leaderboard, matchmaking
  backend/tests/unit/routers/test_games_router.py
  backend/tests/unit/routers/test_leaderboard_router.py
  backend/tests/unit/routers/test_matchmaking_router.py
  backend/tests/unit/routers/test_signups_router.py
Due: none

refactor: extract 4 sub-components from SimpleScorekeeper
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/HoleHeader.jsx
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/TeamSelector.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

test: add 79 tests for admin and messages routers
  backend/tests/unit/routers/test_admin_router.py
  backend/tests/unit/routers/test_messages_router.py
Due: none

test: add 32 tests for games_holes and wgp_actions routers
  backend/tests/unit/routers/test_games_holes_router.py
  backend/tests/unit/routers/test_wgp_actions_router.py
Due: none

test: add 71 tests for games_players, unified_data, scorecard routers
  backend/tests/unit/routers/test_games_players_router.py
  backend/tests/unit/routers/test_scorecard_router.py
  backend/tests/unit/routers/test_unified_data_router.py
Due: none

test: add 66 tests for team_formation and betting_odds routers
  backend/tests/unit/routers/test_betting_odds_router.py
  backend/tests/unit/routers/test_team_formation_router.py
Due: none

test: add 65 tests for admin_oauth, email_routes, commissioner routers
  backend/tests/unit/routers/test_admin_oauth_router.py
  backend/tests/unit/routers/test_commissioner_router.py
  backend/tests/unit/routers/test_email_routes_router.py
Due: none

test: add 50 tests for foretees, ghin, course_data_update routers
  backend/tests/unit/routers/test_course_data_update_router.py
  backend/tests/unit/routers/test_foretees_router.py
  backend/tests/unit/routers/test_ghin_router.py
Due: none

test: add 62 tests for analytics, legacy_scoring, websocket routers
  backend/tests/unit/routers/test_analytics_router.py
  backend/tests/unit/routers/test_legacy_scoring_router.py
  backend/tests/unit/routers/test_websocket_routes_router.py
Due: none

test: add 116 tests for sheet_integration and spreadsheet_sync routers
  backend/tests/unit/routers/test_sheet_integration_router.py
  backend/tests/unit/routers/test_spreadsheet_sync_router.py
Due: none

fix: correct game.status → game.game_status attribute in games_players
  backend/app/routers/games_players.py
  backend/tests/unit/routers/test_games_players_router.py
Due: lint-db-transactions

fix: remove SimulationResult reference and fix wgp_simulation globals
  backend/app/domain/wgp_handlers_betting.py
  backend/app/domain/wgp_handlers_core.py
  backend/app/domain/wgp_handlers_teams.py
  backend/app/routers/analytics.py
Due: lint-db-transactions

fix: leaderboard sort key, HTTPException swallowing in 3 routers
  backend/app/routers/games_holes.py
  backend/app/routers/leaderboard.py
  backend/app/routers/legacy_scoring.py
  backend/tests/unit/routers/test_legacy_scoring_router.py
Due: lint-db-transactions

chore: remove dead Monte Carlo simulation code
  backend/app/routers/betting_odds.py
  backend/app/schemas/__init__.py
  backend/app/schemas/betting.py
  backend/app/services/monte_carlo.py
  backend/tests/unit/engine/test_monte_carlo.py
  backend/tests/unit/routers/test_betting_odds_router.py
Due: lint-db-transactions

chore: remove archived wolf_goat_pig_simulation (4,229 lines)
  backend/app/domain/wgp_handlers_core.py
  backend/archived/game_engine/README.md
  backend/archived/game_engine/wolf_goat_pig_simulation.py
Due: lint-db-transactions

feat: add Ask Commissioner Hover Over data exploration chat
  backend/app/routers/commissioner.py
  frontend/src/App.js
  frontend/src/components/ui/Navigation.js
  frontend/src/pages/AskPage.js
Due: lint-db-transactions, lint-frontend-deploy

fix: bypass google-generativeai SDK geo-restriction on Render
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: sanitize Gemini API errors to prevent key leakage
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: use gemini-1.5-flash to avoid free tier quota limits
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: use gemini-flash-latest model alias for REST API
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: include Gemini error message in API response for debugging
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: route Gemini API calls through Vercel proxy
  api/gemini-proxy.js
  backend/app/routers/commissioner.py
  vercel.json
Due: lint-db-transactions

chore: trigger Vercel redeploy to pick up GEMINI_API_KEY env var
  api/gemini-proxy.js
Due: none

fix: strip trailing semicolons from Gemini-generated SQL
  backend/app/routers/commissioner.py
Due: lint-db-transactions

feat: switch to gemini-2.0-flash-lite for higher free tier limits
  backend/app/routers/commissioner.py
Due: lint-db-transactions

feat: switch from Gemini to Groq (Llama 3.3 70B) for Commissioner AI
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: allow WITH (CTE) queries in SQL validation
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: allow CTE aliases in SQL table validation
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: note that group is a reserved word in schema description
  backend/app/routers/commissioner.py
Due: lint-db-transactions

feat: persist hole-by-hole data on game completion
  backend/app/routers/commissioner.py
  backend/app/routers/games.py
Due: lint-db-transactions

fix: backfill results for already-completed games
  backend/app/routers/games.py
Due: lint-db-transactions

fix: add missing event tracking columns to game_player_results
  backend/migrations/add_game_player_result_event_columns_postgres.sql
Due: none

fix: add event columns migration to schema/ dir (where ensure_schema.py reads)
  backend/schema/add_game_player_result_event_columns_postgres.sql
Due: none

fix: use raw SQL for GamePlayerResult to avoid ORM column mismatch
  backend/app/routers/games.py
Due: lint-db-transactions

fix: use CAST instead of :: for jsonb to avoid SQLAlchemy param conflict
  backend/app/routers/games.py
Due: lint-db-transactions

fix: skip function calls in table allowlist check (jsonb_array_elements etc)
  backend/app/routers/commissioner.py
Due: lint-db-transactions

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
