Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix(games): complete on full 1-18 hole set, dedupe replayed holes
  backend/app/routers/games_holes.py
  backend/tests/unit/routers/test_games_holes_router.py
Due: lint-db-transactions

fix(scorekeeper): complete on distinct holes 1-18, dedupe replayed holes
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useHoleSubmission.js
  frontend/src/utils/__tests__/holeHistory.test.js
  frontend/src/utils/holeHistory.js
Due: lint-frontend-deploy

feat(api): serve Swagger UI + ReDoc in production
  backend/app/main.py
Due: lint-db-transactions

docs: spec for cross-device game sync self-healing reconciliation
  docs/superpowers/specs/2026-06-16-cross-device-game-sync-design.md
Due: none

docs: implementation plan for cross-device game sync reconciliation
  docs/superpowers/plans/2026-06-16-cross-device-game-sync.md
Due: none

feat(sync): pure reconcileGameState decision helper
  frontend/src/services/__tests__/gameReconcile.test.js
  frontend/src/services/gameReconcile.js
Due: lint-frontend-deploy

feat(sync): per-game pending check + reconcileOnLoad (flush-or-heal)
  frontend/src/services/__tests__/syncManager.reconcile.test.js
  frontend/src/services/syncManager.jsx
Due: lint-frontend-deploy

fix(scorekeeper): restore local only when it has unsynced edits (heal from server otherwise)
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

fix(scorekeeper): reconcile local cache vs server on game load
  frontend/src/pages/SimpleScorekeeperPage.jsx
Due: lint-frontend-deploy

fix(sync): keep local when it holds holes the server lacks (in-flight sync window)
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/services/__tests__/gameReconcile.test.js
  frontend/src/services/__tests__/syncManager.reconcile.test.js
  frontend/src/services/gameReconcile.js
  frontend/src/services/syncManager.jsx
Due: lint-frontend-deploy

test(migrations): guard the startup SQL-migration runner
  backend/tests/unit/test_migrations_runner.py
Due: none

fix(email): report swallowed Resend send failures to Sentry
  backend/app/services/providers/resend_provider.py
  backend/tests/unit/services/test_silent_failure_capture.py
Due: lint-db-transactions

chore(caps): commit the capability layer (manifest, tooling, ledger, gate)
  .claude/settings.json
  .ctk/bin/caps-stop-gate.sh
  .ctk/caps/__init__.py
  .ctk/caps/__main__.py
  .ctk/caps/backup.py
  .ctk/caps/cli.py
  .ctk/caps/fingerprint.py
  .ctk/caps/freshness.py
  .ctk/caps/gate.py
  .ctk/caps/hookinstall.py
  .ctk/caps/ledger.py
  .ctk/caps/manifest.py
  .ctk/caps/manifest_edit.py
  .ctk/caps/project.py
  .ctk/caps/runner.py
  .ctk/caps/state.py
  .ctk/checks/api_surface_baseline.json
  .ctk/checks/api_surface_check.py
  .ctk/ledger.json
  backend/requirements-testing.txt
  capabilities.yaml
Due: none

chore: prune stale docs, gitignore playwright logs, cap caps backups
  .ctk/caps/backup.py
  .gitignore
  docs/pull-requests/betting-odds-integration.md
  docs/reports/codebase-organization-review.md
  docs/reports/development-environment-report.md
  docs/reports/wgp-round-test-summary.md
  docs/status/current-state.md
  docs/stories/story-001-fix-typescript-errors.md
  docs/stories/story-002-shot-range-integration.md
  docs/stories/story-003-betting-odds-calculations.md
  docs/stories/story-004-player-profiles.md
  docs/stories/story-005-tutorial-onboarding.md
  docs/superpowers/plans/2026-04-17-stuart-mode-whisperer.md
  docs/superpowers/plans/2026-04-17-stuart-mode.md
  docs/superpowers/plans/2026-04-28-scorecard-circle-preprocessing.md
  docs/superpowers/plans/2026-06-14-test-infra-consolidation.md
  docs/superpowers/plans/2026-06-15-request-validation-to-pydantic.md
  docs/superpowers/plans/2026-06-16-cross-device-game-sync.md
  docs/superpowers/specs/2026-04-17-stuart-mode-design.md
  docs/superpowers/specs/2026-04-17-stuart-mode-whisperer-design.md
  docs/superpowers/specs/2026-04-28-scorecard-circle-preprocessing-design.md
  docs/superpowers/specs/2026-06-14-test-infra-consolidation-design.md
  docs/superpowers/specs/2026-06-15-request-validation-to-pydantic-design.md
  docs/superpowers/specs/2026-06-16-cross-device-game-sync-design.md
  docs/testing/COMPREHENSIVE_TESTING_PLAN.md
  docs/testing/PROGRESS_TRACKER.md
  docs/testing/TEST_STREAMLINING_SUMMARY.md
Due: none

feat(onboarding): capture unmatched signups + auto-sync canonical roster
  .ctk/ledger.json
  CAPABILITIES_ONBOARDING.md
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/signups.py
  backend/app/services/auth_service.py
  backend/app/services/email_scheduler.py
  backend/app/services/email_service.py
  backend/app/services/legacy_player_service.py
  backend/app/utils/admin_auth.py
  backend/migrations/add_legacy_roster_postgres.sql
  backend/tests/unit/routers/test_legacy_roster_admin.py
  backend/tests/unit/services/test_auth_new_player_capture.py
  backend/tests/unit/services/test_legacy_player_service.py
  capabilities.yaml
Due: lint-db-transactions

feat(onboarding): capture unmatched signups + auto-sync canonical roster (#269)
  .ctk/ledger.json
  CAPABILITIES_ONBOARDING.md
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/signups.py
  backend/app/services/auth_service.py
  backend/app/services/email_scheduler.py
  backend/app/services/email_service.py
  backend/app/services/legacy_player_service.py
  backend/app/utils/admin_auth.py
  backend/migrations/add_legacy_roster_postgres.sql
  backend/tests/unit/routers/test_legacy_roster_admin.py
  backend/tests/unit/services/test_auth_new_player_capture.py
  backend/tests/unit/services/test_legacy_player_service.py
  capabilities.yaml
Due: lint-db-transactions

chore(roster): refresh legacy-players seed from live dropdown
  backend/app/data/legacy_players.json
  scripts/development/refresh_legacy_players_seed.py
Due: none

fix(roster): correct 3 stale player-name spellings in production
  backend/migrations/fix_legacy_roster_casing_postgres.sql
Due: none

feat(onboarding): welcome email on account creation
  .ctk/ledger.json
  CAPABILITIES_ONBOARDING.md
  backend/app/services/auth_service.py
  backend/app/services/email_service.py
  backend/tests/unit/services/test_auth_welcome_email.py
  capabilities.yaml
Due: lint-db-transactions

feat(onboarding): welcome email on account creation (#271)
  .ctk/ledger.json
  CAPABILITIES_ONBOARDING.md
  backend/app/services/auth_service.py
  backend/app/services/email_service.py
  backend/tests/unit/services/test_auth_welcome_email.py
  capabilities.yaml
Due: lint-db-transactions

feat(admin): roster management screen
  frontend/src/App.jsx
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/pages/AdminPage.jsx
Due: lint-frontend-deploy

docs: mark roster-management UI gap (#4) resolved
  CAPABILITIES_ONBOARDING.md
Due: none

fix(admin): address review — pending status filter, mutation content-type, doc move
  CAPABILITIES_ONBOARDING.md
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
Due: lint-frontend-deploy

feat(admin): roster management screen (#272)
  CAPABILITIES_ONBOARDING.md
  frontend/src/App.jsx
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/pages/AdminPage.jsx
Due: lint-frontend-deploy

chore(roster): refresh legacy-players seed + correct production casing (#270)
  backend/app/data/legacy_players.json
  backend/migrations/fix_legacy_roster_casing_postgres.sql
  scripts/development/refresh_legacy_players_seed.py
Due: none

feat(handicap): display Wing Point course handicap instead of raw index
  frontend/src/components/game/ScoreInputField.jsx
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/__tests__/ScoreInputField.test.jsx
  frontend/src/components/game/__tests__/Scorecard.test.jsx
  frontend/src/components/integration/GHINIntegration.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/utils/index.js
Due: lint-frontend-deploy

feat(handicap): display Wing Point course handicap instead of raw index (#273)
  frontend/src/components/game/ScoreInputField.jsx
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/__tests__/ScoreInputField.test.jsx
  frontend/src/components/game/__tests__/Scorecard.test.jsx
  frontend/src/components/integration/GHINIntegration.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/utils/index.js
Due: lint-frontend-deploy

feat(notifications): headcount callout list for short games
  .ctk/ledger.json
  .github/workflows/callout-list.yml
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/callouts.py
  backend/app/routers/players.py
  backend/app/schemas/signups.py
  backend/app/services/callout_service.py
  backend/app/services/email_service.py
  backend/migrations/add_callout_list_postgres.sql
  backend/tests/unit/routers/test_callouts_router.py
  backend/tests/unit/services/test_callout_service.py
  capabilities.yaml
  frontend/src/components/signup/EmailPreferences.jsx
Due: lint-db-transactions, lint-frontend-deploy

Clean stale backend docs
  docs/backend/ARCHITECTURE_SEPARATION_GUIDE.md
  docs/backend/ENDPOINT_DUPLICATION_ANALYSIS.md
  docs/backend/FRONTEND_ENDPOINT_AUDIT.md
  docs/backend/PHASE1_COMPLETION_REPORT.md
  docs/backend/PHASE2_FRONTEND_COMPLETION_REPORT.md
  docs/backend/PHASE3_ADVANCED_FEATURES_UI_COMPLETION_REPORT.md
  docs/backend/PHASE4_UI_TEST_VERIFICATION.md
  docs/backend/PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/backend/ROUTER_EXTRACTION_PLAN.md
  docs/backend/RULE_MANAGER_QUICKSTART.md
  docs/backend/RULE_MANAGER_SUMMARY.md
  docs/backend/SCOREKEEPER_VERIFICATION.md
  docs/backend/TEST_FAILURE_ANALYSIS.md
  docs/backend/TROUBLESHOOTING_GAME_CREATION.md
  docs/backend/todo.md
Due: none

docs(architecture): collapse overlapping architecture docs into one canonical file
  docs/architecture/ARCHITECTURE_GAP_ANALYSIS.md
  docs/architecture/ARCHITECTURE_OVERVIEW.md
  docs/architecture/ARCHITECTURE_QUICK_REFERENCE.md
  docs/architecture/ActionApi.md
  docs/architecture/CLASS_DOCUMENTATION.md
  docs/architecture/UNIFIED_ACTION_API.md
  docs/architecture/architecture.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
Due: none

Clean up stale feature and planning docs
  docs/development/TODO.md
  docs/development/bug-remediation-plan.md
  docs/development/outline.md
  docs/development/prd.md
  docs/development/project-brief.md
  docs/features/5_MAN_GAME_STATUS.md
  docs/features/CAPTAIN_ROTATION_IMPLEMENTATION.md
  docs/features/GAMESTATE_WIDGET_FEATURE.md
  docs/features/PROOF_MULTI_HOLE_TRACKING.md
  docs/features/SCOREKEEPER_RULES_COMPLIANCE_ANALYSIS.md
  docs/features/SUNDAY_TEAM_AUTOMATION.md
  docs/features/nft-badge-implementation-guide.md
  docs/features/nft-badge-proposal.md
  docs/features/styling-improvements-for-simplescorekeeper.md
  docs/product/integration-summary.md
  docs/product/tv-poker-style-ux.md
Due: none

docs(guides): consolidate duplicate guide piles, trim validator ref
  docs/guides/ADMIN_SYNC_GUIDE.md
  docs/guides/DEPLOYMENT.md
  docs/guides/DEPLOYMENT_BEST_PRACTICES.md
  docs/guides/DEPLOYMENT_CHECKLIST.md
  docs/guides/DEPLOYMENT_TROUBLESHOOTING.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/FRONTEND_SYNC_TESTING.md
  docs/guides/GHIN_INTEGRATION_GUIDE.md
  docs/guides/GHIN_QUICK_START.md
  docs/guides/GOOGLE_SHEETS_LEADERBOARD_SETUP.md
  docs/guides/PODMAN_TESTING_GUIDE.md
  docs/guides/PRODUCTION_SYNC_VERIFICATION.md
  docs/guides/QUICK_SYNC_REFERENCE.md
  docs/guides/README-DOCKER.md
  docs/guides/VALIDATOR_USAGE_GUIDE.md
  docs/guides/browser-testing.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/google-sheets-sync.md
  docs/guides/local-deployment-testing.md
  docs/guides/local-development.md
  docs/guides/production-setup.md
  docs/guides/project-structure.md
Due: none

docs(guides): fix review blockers — CRA-era env vars to VITE_*, correct Auth0 audience, drop dead links
  docs/guides/DEPLOYMENT.md
  docs/guides/DEVELOPER_QUICK_START.md
  docs/guides/google-sheets-sync.md
Due: none

docs: fix onboarding note for Jeff — drop stale 'no roster-management UI' gap
  CAPABILITIES_ONBOARDING.md
Due: none

Remove stale miscellaneous docs
  docs/WOLF_GOAT_PIG_README.md
  docs/manual-testing/betting-odds-verification.md
  docs/testing/QUICK_START_GUIDE.md
  docs/testing/README.md
Due: none

docs: fix onboarding note for Jeff — drop stale 'no roster-management UI' gap (#280)
  CAPABILITIES_ONBOARDING.md
Due: none

feat(notifications): headcount callout list for short games (#274)
  .ctk/ledger.json
  .github/workflows/callout-list.yml
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/callouts.py
  backend/app/routers/players.py
  backend/app/schemas/signups.py
  backend/app/services/callout_service.py
  backend/app/services/email_service.py
  backend/migrations/add_callout_list_postgres.sql
  backend/tests/unit/routers/test_callouts_router.py
  backend/tests/unit/services/test_callout_service.py
  capabilities.yaml
  frontend/src/components/signup/EmailPreferences.jsx
Due: lint-db-transactions, lint-frontend-deploy

Clean stale backend docs (#275)
  docs/backend/ARCHITECTURE_SEPARATION_GUIDE.md
  docs/backend/ENDPOINT_DUPLICATION_ANALYSIS.md
  docs/backend/FRONTEND_ENDPOINT_AUDIT.md
  docs/backend/PHASE1_COMPLETION_REPORT.md
  docs/backend/PHASE2_FRONTEND_COMPLETION_REPORT.md
  docs/backend/PHASE3_ADVANCED_FEATURES_UI_COMPLETION_REPORT.md
  docs/backend/PHASE4_UI_TEST_VERIFICATION.md
  docs/backend/PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/backend/ROUTER_EXTRACTION_PLAN.md
  docs/backend/RULE_MANAGER_QUICKSTART.md
  docs/backend/RULE_MANAGER_SUMMARY.md
  docs/backend/SCOREKEEPER_VERIFICATION.md
  docs/backend/TEST_FAILURE_ANALYSIS.md
  docs/backend/TROUBLESHOOTING_GAME_CREATION.md
  docs/backend/todo.md
Due: none

Clean up stale feature and planning docs (#276)
  docs/development/TODO.md
  docs/development/bug-remediation-plan.md
  docs/development/outline.md
  docs/development/prd.md
  docs/development/project-brief.md
  docs/features/5_MAN_GAME_STATUS.md
  docs/features/CAPTAIN_ROTATION_IMPLEMENTATION.md
  docs/features/GAMESTATE_WIDGET_FEATURE.md
  docs/features/PROOF_MULTI_HOLE_TRACKING.md
  docs/features/SCOREKEEPER_RULES_COMPLIANCE_ANALYSIS.md
  docs/features/SUNDAY_TEAM_AUTOMATION.md
  docs/features/nft-badge-implementation-guide.md
  docs/features/nft-badge-proposal.md
  docs/features/styling-improvements-for-simplescorekeeper.md
  docs/product/integration-summary.md
  docs/product/tv-poker-style-ux.md
Due: none

docs(architecture): collapse overlapping architecture docs into one canonical file (#277)
  docs/architecture/ARCHITECTURE_GAP_ANALYSIS.md
  docs/architecture/ARCHITECTURE_OVERVIEW.md
  docs/architecture/ARCHITECTURE_QUICK_REFERENCE.md
  docs/architecture/ActionApi.md
  docs/architecture/CLASS_DOCUMENTATION.md
  docs/architecture/UNIFIED_ACTION_API.md
  docs/architecture/architecture.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
