Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

docs(guides): consolidate duplicate guide piles, trim validator reference (#278)
  docs/guides/ADMIN_SYNC_GUIDE.md
  docs/guides/DEPLOYMENT.md
  docs/guides/DEPLOYMENT_BEST_PRACTICES.md
  docs/guides/DEPLOYMENT_CHECKLIST.md
  docs/guides/DEPLOYMENT_TROUBLESHOOTING.md
  docs/guides/DEVELOPER_QUICK_START.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/FRONTEND_SYNC_TESTING.md
  docs/guides/GHIN_INTEGRATION_GUIDE.md
  docs/guides/GHIN_QUICK_START.md
  docs/guides/GOOGLE_SHEETS_LEADERBOARD_SETUP.md
  docs/guides/PODMAN_TESTING_GUIDE.md
  docs/guides/PRODUCTION_SYNC_VERIFICATION.md
  docs/guides/QUICK_SYNC_REFERENCE.md
  docs/guides/README-DOCKER.md
  docs/guides/VALIDATOR_USAGE_GUIDE.md
  docs/guides/browser-testing.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/google-sheets-sync.md
  docs/guides/local-deployment-testing.md
  docs/guides/local-development.md
  docs/guides/production-setup.md
  docs/guides/project-structure.md
Due: none

Remove stale miscellaneous docs (#279)
  docs/WOLF_GOAT_PIG_README.md
  docs/manual-testing/betting-odds-verification.md
  docs/testing/QUICK_START_GUIDE.md
  docs/testing/README.md
Due: none

Fix GitHub labeler configuration
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-checks.yml
Due: none

docs: reconcile post-cleanup tree and finish CRA->Vite sweep
  docs/README.md
  docs/architecture/architecture.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  docs/guides/BACKEND_FRONTEND_CONNECTIVITY.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/VERCEL_CONFIG.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/local-development.md
Due: none

docs: fix residual REACT_APP grep + stale React/Router versions + build-dir note
  docs/architecture/architecture.md
  docs/architecture/source-tree.md
  docs/guides/DOCKER-SETUP.md
Due: none

Fix GitHub labeler configuration (#281)
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-checks.yml
Due: none

docs: reconcile post-cleanup tree and finish CRA->Vite sweep (#282)
  docs/README.md
  docs/architecture/architecture.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  docs/guides/BACKEND_FRONTEND_CONNECTIVITY.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/VERCEL_CONFIG.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/local-development.md
Due: none

Remove Claude GitHub Actions workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Remove Claude GitHub Actions workflows (#283)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat(backend): member round-posting + peer attestation
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/member_rounds.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/email_service.py
  backend/app/services/unified_data_service.py
  backend/migrations/add_member_round_attestation_postgres.sql
  backend/tests/unit/routers/test_member_rounds_router.py
Due: lint-db-transactions

Add round posting and attestation frontend
  frontend/src/App.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/hooks/useLegacyPlayers.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/services/fetchJson.jsx
  frontend/src/services/rounds.js
Due: lint-frontend-deploy

fix(backend): exclude pending member rounds from Commissioner reads
  backend/app/database.py
  backend/app/routers/commissioner.py
  backend/migrations/add_member_round_attestation_postgres.sql
  backend/tests/unit/routers/test_commissioner_pending_filter.py
Due: lint-db-transactions

fix(commissioner): reject quoted/qualified raw legacy_rounds refs in _validate_sql
  backend/app/routers/commissioner.py
  backend/tests/unit/routers/test_commissioner_pending_filter.py
Due: lint-db-transactions

fix(commissioner): denylist raw legacy_rounds so CTE aliasing cannot reach it
  backend/app/routers/commissioner.py
  backend/tests/unit/routers/test_commissioner_pending_filter.py
Due: lint-db-transactions

fix(commissioner): parse SQL with sqlglot to enumerate table refs (kill regex bypasses)
  backend/app/routers/commissioner.py
  backend/requirements-local.txt
  backend/requirements.txt
  backend/tests/unit/routers/test_commissioner_pending_filter.py
Due: lint-db-transactions

fix(commissioner): skip empty-name TVF wrappers in _validate_sql allow-list
  backend/app/routers/commissioner.py
  backend/tests/unit/routers/test_commissioner_pending_filter.py
Due: lint-db-transactions

Add round posting and attestation frontend (#285)
  frontend/src/App.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/hooks/useLegacyPlayers.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/services/fetchJson.jsx
  frontend/src/services/rounds.js
Due: lint-frontend-deploy

feat(backend): member round-posting + peer attestation (#284)
  backend/app/database.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/commissioner.py
  backend/app/routers/member_rounds.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/email_service.py
  backend/app/services/unified_data_service.py
  backend/migrations/add_member_round_attestation_postgres.sql
  backend/requirements-local.txt
  backend/requirements.txt
  backend/tests/unit/routers/test_commissioner_pending_filter.py
  backend/tests/unit/routers/test_member_rounds_router.py
Due: lint-db-transactions

fix(frontend): post-round UX polish
  frontend/src/pages/PostRoundPage.jsx
Due: lint-frontend-deploy

fix(frontend): post-round UX polish (#286)
  frontend/src/pages/PostRoundPage.jsx
Due: lint-frontend-deploy

fix(scorekeeper): repair golf-score crash, mobile overlap, and quarters entry
  frontend/src/components/game/EditHoleModal.jsx
  frontend/src/components/game/ScoreInputField.jsx
  frontend/src/components/game/scorekeeper/OptionalEntryPanels.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/ScorecardSection.jsx
  frontend/src/components/game/scorekeeper/__tests__/OptionalEntryPanels.test.jsx
  frontend/src/components/game/scorekeeper/__tests__/QuartersPanel.test.jsx
  frontend/src/hooks/useHoleSubmission.js
  frontend/src/styles/mobile-touch.css
  frontend/src/utils/__tests__/quarters.test.js
  frontend/src/utils/index.js
  frontend/src/utils/quarters.js
Due: lint-frontend-deploy

fix: trigger nightly sheet write-back drain (cron + startup) and correct sheet-id docstring
  .github/workflows/sheet-sync-drain.yml
  backend/app/main.py
  backend/app/routers/spreadsheet_ops.py
  backend/app/services/email_scheduler.py
  backend/app/services/spreadsheet_sync_service.py
  backend/tests/unit/routers/test_spreadsheet_ops_router.py
Due: lint-db-transactions

fix(frontend): stop wiping Auth0 session + profile linkage on every deploy
  frontend/src/services/__tests__/cacheManager.test.js
  frontend/src/services/cacheManager.jsx
Due: lint-frontend-deploy

docs(spec): design for scanning a finished round (standalone scorecard path)
  docs/superpowers/specs/2026-06-18-scan-finished-round-design.md
Due: none

docs(plan): implementation plan for scanning a finished round
  docs/superpowers/plans/2026-06-18-scan-finished-round.md
Due: none

feat(backend): build_hole_history helper for completed-game persistence
  backend/app/services/completed_game_service.py
  backend/tests/unit/services/test_completed_game_service.py
Due: lint-db-transactions

refactor(backend): extract dialect-aware persist_completed_game; reuse in /complete
  backend/app/routers/games.py
  backend/app/services/completed_game_service.py
  backend/tests/unit/services/test_completed_game_service.py
Due: lint-db-transactions

feat(backend): POST /games/from-scorecard records a round from a scanned scorecard
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_round.py
Due: lint-db-transactions

feat(frontend): ScorecardReview new-round mode (roster mapping, date, warn-not-block)
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardReview.newround.test.jsx
Due: lint-frontend-deploy

feat(frontend): ScorecardPhoto new-round save via /games/from-scorecard (no GHIN)
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/__tests__/ScorecardPhoto.newround.test.jsx
Due: lint-frontend-deploy

feat(frontend): scorecard-scan landing offers 'scan a finished round' vs 'add to active game'
  frontend/src/pages/ScorecardScanPage.jsx
Due: lint-frontend-deploy

fix(scorecard): address review — validate hole/index ranges, add missing tests, harden mapping
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_round.py
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/pages/__tests__/ScorecardScanPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(scorecard): honor 'keep as typed (unlinked)' — never auto-link a guest to a roster profile
  backend/app/routers/games.py
  backend/tests/unit/routers/test_scorecard_round.py
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/__tests__/ScorecardReview.newround.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

test(ctk): auto-heal drifted local SQLite schema in the backend test session
  .ctk/ctk/dbreset.py
  backend/tests/conftest.py
  backend/tests/unit/test_ctk_dbreset.py
Due: none

test(scorecard): held-out 5-man accuracy eval + multi-reference calibration loader
  backend/app/services/scorecard_scan_service.py
  backend/tests/live/data/scorecard_5man_001.jpeg
  backend/tests/live/data/scorecard_5man_001_ground_truth.json
  backend/tests/live/test_scorecard_accuracy_live.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard): send phone pics to Groq at max resolution that fits the request budget
  backend/app/routers/scorecard.py
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
  frontend/src/utils/scorecardImage.js
Due: lint-db-transactions, lint-frontend-deploy

fix(scorecard): cap preprocessing working size to 2048px (the max-res change hung scans)
  backend/app/services/scorecard_scan_service.py
  frontend/src/utils/scorecardImage.js
Due: lint-db-transactions, lint-frontend-deploy

docs(spec): tiled adaptive scorecard scanning (pre-picked players, single->tile fallback)
  docs/superpowers/specs/2026-06-19-tiled-scorecard-scan-design.md
Due: none

docs(plan): implementation plan for tiled adaptive scorecard scanning
  docs/superpowers/plans/2026-06-19-tiled-scorecard-scan.md
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
