Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix: expose ttdata at top level of booking dict
  backend/app/services/foretees_service.py
Due: lint-db-transactions

debug: log page content on cancel to find correct button selector
  booking-service/server.js
Due: none

fix: navigate Member_teelist_list and click booking by ttdata for cancel
  booking-service/server.js
Due: none

feat: show cancel progress spinner with timing message
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

feat: surface ForeTees booking rules in tee sheet UI
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

fix: matchmaking now works with 2-4 player groups
  backend/app/main.py
  backend/app/services/matchmaking_service.py
Due: lint-db-transactions

feat: configure Resend email for match notifications
  render.yaml
Due: none

fix: add schedule dependency, set FROM_EMAIL to resend onboarding address
  backend/requirements.txt
  render.yaml
Due: none

fix: allow email field in player profile update
  backend/app/schemas.py
  backend/app/services/player_service.py
Due: lint-db-transactions

fix: use int for is_available in availability schemas to match DB column type
  backend/app/schemas.py
Due: lint-db-transactions

fix: cast is_available to int before DB insert to avoid bool/integer type mismatch
  backend/app/routers/players.py
Due: lint-db-transactions

fix: use _send_email with correct args in create-and-notify endpoint
  backend/app/main.py
Due: lint-db-transactions

feat: add admin delete matches endpoint for testing
  backend/app/main.py
Due: lint-db-transactions

fix: use database.SessionLocal in admin delete matches endpoint
  backend/app/main.py
Due: lint-db-transactions

fix: align GHIN env var names, add .json to endpoints, enable integration
  backend/app/services/ghin_service.py
  render.yaml
Due: lint-db-transactions

fix: add browser headers to GHIN login request to avoid 400 rejection
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: include static bearer token in GHIN login request headers
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: remove Authorization header from GHIN login request
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: log GHIN error response body for debugging
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: add token field to GHIN login request body
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: use 'or' fallback for GHIN_API_STATIC_TOKEN to handle empty string
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: handle 204 No Content response from GHIN search
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: correct handicap_index key mismatch and log raw GHIN API response
  backend/app/services/ghin_service.py
Due: lint-db-transactions

feat: add ghin_id to player profile update schema and service
  backend/app/schemas.py
  backend/app/services/player_service.py
Due: lint-db-transactions

feat: expose ghin_id in PlayerProfileResponse
  backend/app/schemas.py
Due: lint-db-transactions

fix: correct GHIN handicap endpoint URL and remove invalid updated_at field
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: use 'or' fallback for ENABLE_GHIN_INTEGRATION to handle empty string
  backend/app/services/ghin_service.py
Due: lint-db-transactions

fix: use correct GHIN API endpoint format for golfer lookup
  backend/app/services/ghin_service.py
Due: lint-db-transactions

feat: add GHIN data to profile manager and standings leaderboard
  frontend/src/components/game/Leaderboard.js
  frontend/src/components/player/PlayerProfileManager.js
Due: lint-frontend-deploy

Fix badge system: add route, navigation, and fix API integration
  backend/app/badge_routes.py
  frontend/src/App.js
  frontend/src/components/ui/Navigation.js
  frontend/src/pages/BadgesPage.js
Due: lint-db-transactions, lint-frontend-deploy

Add feature spec for scorecard photo capture
  docs/features/SCORECARD_PHOTO_CAPTURE.md
Due: none

Rewrite spec: scorecard capture is for quarters, not strokes
  docs/features/SCORECARD_PHOTO_CAPTURE.md
Due: none

Update spec for circle notation and running totals
  docs/features/SCORECARD_PHOTO_CAPTURE.md
Due: none

Clarify per-hole independence is preserved in data model
  docs/features/SCORECARD_PHOTO_CAPTURE.md
Due: none

Consolidate linting on Ruff, add CodeRabbit integration
  .coderabbit.yaml
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  backend/.flake8
  backend/pyproject.toml
  backend/requirements.txt
Due: none

feat: convert handicap index to course handicap for stroke allocation
  backend/app/validators/handicap_validator.py
  frontend/src/utils/strokeAllocation.js
Due: lint-db-transactions, lint-frontend-deploy

feat: add scorecard photo capture via Gemini Vision
  backend/app/main.py
  backend/app/services/scorecard_scan_service.py
  backend/requirements.txt
  frontend/src/components/game/ScorecardCapture.jsx
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: add Scan Scorecard as dedicated home screen option
  frontend/src/App.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/ScorecardScanPage.js
Due: lint-frontend-deploy

feat: add manual entry override to scorecard scan flow
  frontend/src/components/game/ScorecardCapture.jsx
  frontend/src/components/game/ScorecardPhoto.jsx
Due: lint-frontend-deploy

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
