Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

fix: properly skip function calls in table allowlist using post-match check
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: note json (not jsonb) type in schema for correct function usage
  backend/app/routers/commissioner.py
Due: lint-db-transactions

fix: add explicit JSON access pattern example to prevent dot notation
  backend/app/routers/commissioner.py
Due: lint-db-transactions

feat: auto-persist game results when quarters-only reaches 18 holes
  backend/app/routers/games_holes.py
Due: lint-db-transactions

fix: downsize scorecard scan button to reduce accidental taps on mobile
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

feat: auto-balance quarters — last player auto-fills to zero-sum
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
Due: lint-frontend-deploy

feat: redesign QuartersPanel with quick wager + tap-winners mode
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
Due: lint-frontend-deploy

feat: Quick mode as default, Edit mode for overrides
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
Due: lint-frontend-deploy

fix: route scorecard scanning through Vercel Gemini proxy
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

feat: switch scorecard scanning from Gemini to Groq Vision
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

fix: auto-compress scorecard images over 2.5MB for Groq 4MB limit
  backend/app/routers/scorecard.py
  backend/requirements.txt
Due: lint-db-transactions

feat: add Venmo handle to player profiles
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/schemas/players.py
  backend/schema/add_venmo_handle_postgres.sql
  frontend/src/pages/AccountPage.js
Due: lint-db-transactions, lint-frontend-deploy

fix: remove accidental backend dependency and fix npm registry URLs
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: critical auth, security, and data integrity fixes from full codebase review
  backend/app/domain/wgp_handlers_betting.py
  backend/app/routers/admin.py
  backend/app/routers/admin_oauth.py
  backend/app/services/auth_service.py
  backend/app/services/ghin_service.py
  backend/requirements-testing.txt
  backend/requirements.txt
Due: lint-db-transactions

fix: performance, code quality, and resilience improvements
  backend/app/main.py
  backend/app/routers/leaderboard.py
  backend/app/routers/players.py
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/auth/OnboardingWrapper.js
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/ScorecardCapture.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/ui/ColdStartHandler.js
  frontend/src/components/ui/ErrorBoundary.js
  frontend/src/config/api.config.js
  frontend/src/context/SheetSyncContext.js
  frontend/src/hooks/useGamePersistence.js
  frontend/src/hooks/useGameState.js
  frontend/src/index.js
  frontend/src/pages/ActiveGamesPage.js
  frontend/src/pages/GameLobbyPage.js
  frontend/src/pages/GameScorerPage.js
  frontend/src/serviceWorkerRegistration.js
  frontend/src/services/cacheManager.js
  frontend/src/services/offlineStorage.js
  frontend/src/services/syncManager.js
  frontend/src/utils/storage.js
Due: lint-db-transactions, lint-frontend-deploy

chore: regenerate frontend lockfile after moving test deps to devDependencies
  frontend/package-lock.json
Due: none

fix: regenerate lockfile to fix empty version causing Vercel build failure
  frontend/package-lock.json
Due: none

feat: add stale game nudge banner on HomePage
  frontend/src/components/game/StaleGameBanner.js
  frontend/src/pages/HomePage.js
Due: lint-frontend-deploy

docs: add Stuart Mode design spec
  docs/superpowers/specs/2026-04-17-stuart-mode-design.md
Due: none

chore: add .worktrees to .gitignore
  .gitignore
Due: none

feat: add stuartModeInsights utility with threat scoring and tip generation
  frontend/src/utils/__tests__/stuartModeInsights.test.js
  frontend/src/utils/stuartModeInsights.js
Due: lint-frontend-deploy

test: add missing Creecher and avoid→caution bump coverage to stuartModeInsights
  frontend/src/utils/__tests__/stuartModeInsights.test.js
Due: lint-frontend-deploy

refactor: clarify HIGH_THREAT_CEILING naming, remove stuartEntry, add guard test
  frontend/src/utils/__tests__/stuartModeInsights.test.js
  frontend/src/utils/stuartModeInsights.js
Due: lint-frontend-deploy

feat: add StuartModePanel component
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: use consistent amber color for caution solo badge
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
Due: lint-frontend-deploy

feat: add stuartMode toggle with localStorage persistence to useUIState
  frontend/src/hooks/__tests__/useUIState.stuartMode.test.js
  frontend/src/hooks/useUIState.js
Due: lint-frontend-deploy

feat: wire up Stuart Mode toggle and panel in SimpleScorekeeper
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/index.js
Due: lint-frontend-deploy

docs: add Stuart Mode Betting Whisperer design spec
  docs/superpowers/specs/2026-04-17-stuart-mode-whisperer-design.md
Due: none

docs: add Stuart Mode Betting Whisperer implementation plan
  docs/superpowers/plans/2026-04-17-stuart-mode-whisperer.md
Due: none

feat: add whisperer state, API helper, and proactive briefing trigger
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: address code review feedback on whisperer state implementation
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: use mockReset in afterEach to prevent mock leaking between tests
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: remove unnecessary afterEach — setupTests.js already resets global.fetch
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

feat: add whisperer UI section with toggle, message history, and input row
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: document append-only assumption for key={idx} on message rows
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
Due: lint-frontend-deploy

fix: gate API response on resp.ok to prevent HTTP error details surfacing as advice
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/StuartModePanel.test.jsx
Due: lint-frontend-deploy

fix: regenerate lockfile to fix empty version causing Vercel build failure
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add +/− sign flip button to quarters manual edit
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
Due: lint-frontend-deploy

fix: pin ajv-keywords@3.5.2 as direct dep to prevent bad hoisting
  frontend/package-lock.json
  frontend/package.json
Due: none
