Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

test(auth0): contract + read-only live integration tests
  backend/tests/contract/test_auth0_contract.py
  backend/tests/live/test_auth0_live.py
Due: none

test(groupme): contract + read-only live integration tests
  backend/tests/contract/test_groupme_contract.py
  backend/tests/live/test_groupme_live.py
Due: none

test(tee-sheet): contract + read-only live integration tests
  backend/tests/contract/test_tee_sheet_contract.py
  backend/tests/live/test_tee_sheet_live.py
Due: none

test(resend): contract + read-only live integration tests
  backend/tests/contract/test_resend_contract.py
  backend/tests/live/test_resend_live.py
Due: none

test(ghin): contract + read-only live integration tests
  backend/tests/contract/test_ghin_contract.py
  backend/tests/live/test_ghin_live.py
Due: none

test(foretees): contract + read-only live integration tests
  backend/tests/contract/test_foretees_contract.py
  backend/tests/live/test_foretees_live.py
Due: none

test(google): contract + read-only live integration tests
  backend/tests/contract/test_google_contract.py
  backend/tests/live/test_google_live.py
Due: none

ci(live): manual-dispatch workflow for the live external suite
  .github/workflows/live-integration.yml
Due: none

ci: pin ruff (0.14.8) so the format gate is deterministic
  .github/workflows/backend-ci.yml
  backend/requirements-testing.txt
Due: none

feat(observability): backend Sentry init (no-op without DSN) + scrubber
  backend/app/observability/__init__.py
  backend/app/observability/sentry.py
  backend/requirements.txt
  backend/tests/unit/observability/__init__.py
  backend/tests/unit/observability/test_sentry.py
Due: lint-db-transactions

feat(observability): initialize Sentry at app startup
  backend/app/main.py
Due: lint-db-transactions

feat(observability): report swallowed GHIN/Sheets/ForeTees failures to Sentry
  backend/app/services/foretees_service.py
  backend/app/services/ghin_service.py
  backend/app/services/spreadsheet_sync_service.py
  backend/tests/unit/services/test_silent_failure_capture.py
Due: lint-db-transactions

feat(observability): frontend Sentry (gated on VITE_SENTRY_DSN) + ErrorBoundary capture
  frontend/package.json
  frontend/src/index.jsx
  frontend/src/sentry.js
  frontend/src/sentry.test.js
Due: lint-frontend-deploy

docs(observability): Sentry setup runbook (DSN env + email alerts)
  docs/observability/sentry-setup.md
Due: none

feat(observability): read-only external-service health checks
  backend/app/observability/external_checks.py
  backend/tests/unit/observability/test_external_checks.py
Due: lint-db-transactions

feat(observability): GET /health/external (guarded, cached, 200/503)
  backend/app/routers/health.py
  backend/tests/unit/routers/test_health_external.py
Due: lint-db-transactions

docs(observability): uptime monitor setup runbook
  docs/observability/uptime-setup.md
Due: none

chore(render): declare observability env in render.yaml
  render.yaml
Due: none

docs(observability): render-blueprint guide + sentry DSN-in-code update
  docs/observability/render-blueprint.md
  docs/observability/sentry-setup.md
Due: none

fix(render): make ForeTees secrets sync:false (don't blank on Blueprint sync)
  render.yaml
Due: none

fix(health): correct tee_sheet + resend external probes
  backend/app/observability/external_checks.py
  backend/tests/unit/observability/test_external_checks.py
Due: lint-db-transactions

chore(vercel): set VITE_SENTRY_DSN in vercel.json build env
  vercel.json
Due: none

feat(health): accept monitor key via ?monitor_key= query param too
  backend/app/routers/health.py
  backend/tests/unit/routers/test_health_external.py
  docs/observability/uptime-setup.md
  render.yaml
Due: lint-db-transactions

feat(health): /health/sentry-test diagnostic (verify backend Sentry)
  backend/app/routers/health.py
  backend/tests/unit/routers/test_health_external.py
Due: lint-db-transactions

fix(render): point SENTRY_DSN at the FastAPI Sentry project
  render.yaml
Due: none

feat(observability): resilient Sentry init + DSN diagnostics
  backend/app/observability/sentry.py
  backend/app/routers/health.py
Due: lint-db-transactions

chore(render): nudge blueprint to re-sync at current commit
  render.yaml
Due: none

fix(health): accept HEAD on health endpoints (uptime monitors)
  backend/app/routers/health.py
  backend/tests/unit/routers/test_health_external.py
Due: lint-db-transactions

fix(api): normalize malformed-request (422) errors into the app envelope
  backend/app/main.py
  backend/tests/unit/test_validation_error_envelope.py
Due: lint-db-transactions

docs: spec for migrating request-shape validation to Pydantic models
  docs/superpowers/specs/2026-06-15-request-validation-to-pydantic-design.md
Due: none

docs: implementation plan for request-validation Pydantic migration
  docs/superpowers/plans/2026-06-15-request-validation-to-pydantic.md
Due: none

feat(validation): add shared non_blank request-field validator
  backend/app/routers/_validators.py
  backend/tests/unit/routers/test_validators.py
Due: lint-db-transactions

refactor(validation): move player-name non-blank check to Pydantic model
  backend/app/routers/games_players.py
  backend/tests/unit/routers/test_games_players_router.py
Due: lint-db-transactions

refactor(validation): drop unreachable player-count check (model enforces 4-6)
  backend/app/routers/games_players.py
  backend/tests/unit/routers/test_create_custom_game.py
Due: lint-db-transactions

refactor(validation): move tee-sheet signup name check to Pydantic model
  backend/app/routers/tee_sheet.py
  backend/tests/unit/routers/test_tee_sheet_router.py
Due: lint-db-transactions

refactor(validation): type handicap-update body with Pydantic model
  backend/app/routers/games_players.py
  backend/tests/unit/routers/test_games_players_router.py
Due: lint-db-transactions

refactor(validation): type set-tee-order body; player_order presence via model
  backend/app/routers/games.py
  backend/tests/unit/routers/test_games_router.py
Due: lint-db-transactions

refactor(validation): type email-test request bodies with Pydantic models
  backend/app/routers/admin.py
  backend/app/routers/admin_oauth.py
  backend/app/routers/email_routes.py
  backend/tests/unit/routers/test_admin_oauth_router.py
  backend/tests/unit/routers/test_admin_router.py
  backend/tests/unit/routers/test_email_routes_router.py
Due: lint-db-transactions

refactor(validation): type sheet-integration request bodies with Pydantic models
  backend/app/routers/sheet_integration.py
  backend/tests/unit/routers/test_sheet_integration_router.py
Due: lint-db-transactions

test(validation): guard business-state checks vs 422; rename repurposed 400→422 tests
  backend/tests/unit/routers/test_admin_oauth_router.py
  backend/tests/unit/routers/test_admin_router.py
  backend/tests/unit/routers/test_email_routes_router.py
  backend/tests/unit/routers/test_games_router.py
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
