Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

feat: Auth0 Action to link a new login into the player's existing account
  deploy/auth0/README.md
  deploy/auth0/actions/link-accounts-by-email.js
  deploy/auth0/actions/link-accounts-by-email.test.js
Due: none

fix: link password sign-ups once verified, never fold older into newer
  deploy/auth0/README.md
  deploy/auth0/actions/link-accounts-by-email.js
  deploy/auth0/actions/link-accounts-by-email.test.js
Due: none

feat: Auth0 Action to link a new login into the player's existing account (#374)
  deploy/auth0/README.md
  deploy/auth0/actions/link-accounts-by-email.js
  deploy/auth0/actions/link-accounts-by-email.test.js
Due: none

feat: compare the roster with Jeff's dropdown and remove junk entries
  .ctk/ledger.json
  backend/app/main.py
  backend/app/routers/roster_admin.py
  backend/app/routers/signups.py
  backend/app/services/legacy_player_service.py
  backend/app/services/roster_drift_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_roster_drift.py
  frontend/src/api/schema.d.ts
  frontend/src/components/admin/RosterDriftPanel.jsx
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterDriftPanel.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: compare the roster with Jeff's dropdown and remove junk entries (#375)
  .ctk/ledger.json
  backend/app/main.py
  backend/app/routers/roster_admin.py
  backend/app/routers/signups.py
  backend/app/services/legacy_player_service.py
  backend/app/services/roster_drift_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_roster_drift.py
  frontend/src/api/schema.d.ts
  frontend/src/components/admin/RosterDriftPanel.jsx
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterDriftPanel.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

docs: spec for admin-approved account claims
  docs/superpowers/specs/2026-10-09-account-claims-design.md
Due: none

docs: implementation plan for admin-approved account claims
  docs/superpowers/plans/2026-10-09-account-claims.md
Due: none

feat: store account claims; retired profiles no longer hold roster names
  backend/app/models.py
  backend/app/services/account_claim_service.py
  backend/app/services/legacy_player_service.py
  backend/migrations/add_account_claims_postgres.sql
  backend/tests/unit/services/test_account_claim_service.py
Due: lint-db-transactions

feat: picking a name held by a login-less original sends a claim to admins
  backend/app/routers/players.py
  backend/app/schemas/__init__.py
  backend/app/schemas/players.py
  backend/app/services/email_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_account_claims_player.py
  backend/tests/unit/routers/test_players_router.py
  frontend/src/api/schema.d.ts
Due: lint-db-transactions, lint-frontend-deploy

feat: admins approve or dismiss account claims
  backend/app/routers/account_claims.py
  backend/app/routers/players.py
  backend/app/services/player_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_account_claims_admin.py
  frontend/src/api/schema.d.ts
Due: lint-db-transactions, lint-frontend-deploy

fix: approve claims with relink's lock order and conflict checks
  backend/app/routers/account_claims.py
  backend/tests/unit/routers/test_account_claims_admin.py
Due: lint-db-transactions

fix: re-read locked rows when approving claims
  backend/app/routers/account_claims.py
  backend/tests/unit/routers/test_account_claims_admin.py
Due: lint-db-transactions

feat: onboarding shows a waiting note while an account claim is pending
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
  frontend/src/hooks/usePlayerProfile.js
Due: lint-frontend-deploy

feat: Claim requests list with approve and dismiss in Account links
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/__tests__/ClaimRequests.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
  frontend/src/pages/admin/ClaimRequests.jsx
Due: lint-frontend-deploy

fix: claim-pending feedback everywhere a name is picked
  backend/app/routers/players.py
  backend/app/services/email_service.py
  backend/tests/unit/routers/test_account_claims_player.py
  frontend/src/components/auth/ClubPlayerSection.jsx
  frontend/src/components/auth/__tests__/ClubPlayerSection.test.jsx
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
  frontend/src/hooks/usePlayerProfile.js
Due: lint-db-transactions, lint-frontend-deploy

chore: refresh capability ledger for account claims
  .ctk/ledger.json
Due: none

feat: admin-approved account claims for returning players (#376)
  .ctk/ledger.json
  backend/app/models.py
  backend/app/routers/account_claims.py
  backend/app/routers/players.py
  backend/app/schemas/__init__.py
  backend/app/schemas/players.py
  backend/app/services/account_claim_service.py
  backend/app/services/email_service.py
  backend/app/services/legacy_player_service.py
  backend/app/services/player_service.py
  backend/migrations/add_account_claims_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_account_claims_admin.py
  backend/tests/unit/routers/test_account_claims_player.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/services/test_account_claim_service.py
  docs/superpowers/plans/2026-10-09-account-claims.md
  docs/superpowers/specs/2026-10-09-account-claims-design.md
  frontend/src/api/schema.d.ts
  frontend/src/components/auth/ClubPlayerSection.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/ClubPlayerSection.test.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/__tests__/AccountLinkingManager.test.jsx
  frontend/src/pages/__tests__/ClaimRequests.test.jsx
  frontend/src/pages/admin/AccountLinkingManager.jsx
  frontend/src/pages/admin/ClaimRequests.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: admins add linked players to upcoming sign-ups; lock down cancel/edit
  .ctk/ledger.json
  backend/app/main.py
  backend/app/routers/signup_admin.py
  backend/app/routers/signups.py
  backend/app/utils/admin_auth.py
  backend/app/utils/time.py
  backend/openapi.json
  backend/tests/unit/routers/test_signup_admin.py
  backend/tests/unit/routers/test_signups_router.py
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/AdminAddSignup.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/SignupCalendar.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: sortable leaderboard with season best/worst scores and round detail
  backend/app/routers/unified_data.py
  backend/app/services/unified_data_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_unified_data_router.py
  backend/tests/unit/services/test_unified_data_service.py
  frontend/src/api/schema.d.ts
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/game/leaderboard/ExtremeScores.jsx
  frontend/src/components/game/leaderboard/RoundsDetail.jsx
  frontend/src/components/game/leaderboard/StandingsTable.jsx
  frontend/src/components/game/leaderboard/__tests__/standings.test.js
  frontend/src/components/game/leaderboard/standings.js
Due: lint-db-transactions, lint-frontend-deploy

feat: sortable leaderboard with season best/worst scores and round detail (#378)
  backend/app/routers/unified_data.py
  backend/app/services/unified_data_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_unified_data_router.py
  backend/tests/unit/services/test_unified_data_service.py
  frontend/src/api/schema.d.ts
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/game/leaderboard/ExtremeScores.jsx
  frontend/src/components/game/leaderboard/RoundsDetail.jsx
  frontend/src/components/game/leaderboard/StandingsTable.jsx
  frontend/src/components/game/leaderboard/__tests__/standings.test.js
  frontend/src/components/game/leaderboard/standings.js
Due: lint-db-transactions, lint-frontend-deploy

feat: admin overwrite of official pairings on a signup day
  backend/app/routers/team_formation.py
  backend/openapi.json
  backend/tests/unit/routers/test_pairing_overwrite.py
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/AdminPairingOverwrite.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: admin overwrite of official pairings on a signup day (#379)
  backend/app/routers/team_formation.py
  backend/openapi.json
  backend/tests/unit/routers/test_pairing_overwrite.py
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/AdminPairingOverwrite.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: drop duplicate isAdmin from merge of admin signup controls
  frontend/src/components/signup/DailySignupView.jsx
Due: lint-frontend-deploy

fix: pin admin add-player and generate at the top of the signup day
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-frontend-deploy

feat: admins add linked players to upcoming sign-ups; lock down cancel/edit (#377)
  .ctk/ledger.json
  backend/app/main.py
  backend/app/routers/signup_admin.py
  backend/app/routers/signups.py
  backend/app/utils/admin_auth.py
  backend/app/utils/time.py
  backend/openapi.json
  backend/tests/unit/routers/test_signup_admin.py
  backend/tests/unit/routers/test_signups_router.py
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/AdminAddSignup.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/SignupCalendar.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: link leaderboard players to their rounds and add a comment thread per game
  backend/app/database.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/routers/round_stories.py
  backend/app/routers/unified_data.py
  backend/app/services/player_name_index.py
  backend/migrations/add_round_comments_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_round_stories.py
  backend/tests/unit/test_player_name_index.py
  frontend/src/App.jsx
  frontend/src/api/schema.d.ts
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/game/leaderboard/ExtremeScores.jsx
  frontend/src/components/game/leaderboard/PlayerName.jsx
  frontend/src/components/game/leaderboard/RoundsDetail.jsx
  frontend/src/components/game/leaderboard/StandingsTable.jsx
  frontend/src/components/game/leaderboard/roundLink.js
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/RoundStoryPage.jsx
  frontend/src/pages/__tests__/RoundStoryPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: reactions on round pages, keep the written comments
  backend/app/database.py
  backend/app/models.py
  backend/app/routers/round_stories.py
  backend/migrations/add_round_reactions_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_round_stories.py
  frontend/src/api/schema.d.ts
  frontend/src/components/game/leaderboard/ReactionBar.jsx
  frontend/src/pages/RoundStoryPage.jsx
  frontend/src/pages/__tests__/RoundStoryPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: link leaderboard players to their rounds and add a comment thread per game (#380)
  backend/app/database.py
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/routers/round_stories.py
  backend/app/routers/unified_data.py
  backend/app/services/player_name_index.py
  backend/migrations/add_round_comments_postgres.sql
  backend/migrations/add_round_reactions_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_round_stories.py
  backend/tests/unit/test_player_name_index.py
  frontend/src/App.jsx
  frontend/src/api/schema.d.ts
  frontend/src/components/game/__tests__/Leaderboard.features.test.jsx
  frontend/src/components/game/leaderboard/ExtremeScores.jsx
  frontend/src/components/game/leaderboard/PlayerName.jsx
  frontend/src/components/game/leaderboard/ReactionBar.jsx
  frontend/src/components/game/leaderboard/RoundsDetail.jsx
  frontend/src/components/game/leaderboard/StandingsTable.jsx
  frontend/src/components/game/leaderboard/roundLink.js
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/RoundStoryPage.jsx
  frontend/src/pages/__tests__/RoundStoryPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: round pages accept the sheet date in the URL
  backend/app/routers/round_stories.py
  backend/tests/unit/routers/test_round_stories.py
  frontend/src/components/game/leaderboard/roundLink.js
  frontend/src/pages/RoundStoryPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: notify the site when someone comments on a round
  backend/app/routers/round_stories.py
  backend/app/services/notification_service.py
  backend/tests/unit/routers/test_round_stories.py
  frontend/src/components/ui/NotificationBell.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: notify the site when someone comments on a round (#382)
  backend/app/routers/round_stories.py
  backend/app/services/notification_service.py
  backend/tests/unit/routers/test_round_stories.py
  frontend/src/components/ui/NotificationBell.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: allow negative quarters when posting round scores
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/pages/__tests__/PostRoundPage.test.jsx
Due: lint-frontend-deploy

fix: preserve signup priority and show upcoming club days
  backend/app/routers/signups.py
  backend/tests/unit/routers/test_signups_router.py
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix: allow negative quarters when posting round scores (#383)
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/pages/__tests__/PostRoundPage.test.jsx
Due: lint-frontend-deploy

fix: preserve signup priority and show upcoming club days (#384)
  backend/app/routers/signups.py
  backend/tests/unit/routers/test_signups_router.py
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(rounds): keep the location query on comment and reaction posts
  frontend/src/pages/RoundStoryPage.jsx
  frontend/src/pages/__tests__/RoundStoryPage.test.jsx
Due: lint-frontend-deploy

chore(ci): disconnect the paused Vercel project
  .github/workflows/disconnect-vercel.yml
Due: none

chore(ci): drop the one-shot Vercel disconnect
  .github/workflows/disconnect-vercel.yml
  deploy/gcp/DECOMMISSION.md
Due: none

fix: name the live tee-sheet write before signup or cancel
  backend/.env.example
  backend/app/routers/signups.py
  backend/app/schemas/signups.py
  backend/app/services/legacy_signup_service.py
  backend/openapi.json
  backend/tests/unit/routers/test_signups_router.py
  backend/tests/unit/services/test_legacy_signup_service.py
  docs/guides/tee-sheet-safety.md
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

refactor: extract useGameData hook from SimpleScorekeeperPage (#300 step 1)
  frontend/src/hooks/__tests__/useGameData.test.js
  frontend/src/hooks/useGameData.js
  frontend/src/pages/SimpleScorekeeperPage.jsx
Due: lint-frontend-deploy
