Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix(deploy): wire GROQ_API_KEY into Cloud Run secrets
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): migrate remaining Render-only secrets to Cloud Run
  deploy/gcp/cloudbuild.yaml
Due: none

fix(commissioner): prefer club sheet standings over sparse in-app stats
  backend/app/database.py
  backend/app/routers/commissioner.py
  backend/tests/unit/routers/test_commissioner_router.py
Due: lint-db-transactions

fix(stats): make quarters the only club standing metric
  backend/app/routers/commissioner.py
  backend/app/routers/member_rounds.py
  backend/app/routers/sheet_integration.py
  backend/app/services/leaderboard_service.py
  backend/tests/unit/routers/test_commissioner_router.py
  backend/tests/unit/routers/test_member_rounds_router.py
  backend/tests/unit/services/test_leaderboard_service.py
  frontend/src/components/analytics/WGPAnalyticsDashboard.jsx
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/AccountPage.stats.test.js
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(stats): make quarters the only club standing metric (#331)
  backend/app/routers/commissioner.py
  backend/app/routers/member_rounds.py
  backend/app/routers/sheet_integration.py
  backend/app/services/leaderboard_service.py
  backend/tests/unit/routers/test_commissioner_router.py
  backend/tests/unit/routers/test_member_rounds_router.py
  backend/tests/unit/services/test_leaderboard_service.py
  frontend/src/components/analytics/WGPAnalyticsDashboard.jsx
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/AccountPage.stats.test.js
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(booking): cut ForeTees book/cancel over to Gemini Computer Use
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  booking-agent/.gitignore
  booking-agent/Dockerfile
  booking-agent/README.md
  booking-agent/app/__init__.py
  booking-agent/app/agent.py
  booking-agent/app/browser.py
  booking-agent/app/config.py
  booking-agent/app/jobs.py
  booking-agent/app/main.py
  booking-agent/requirements.txt
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase7-booking/10-deploy.sh
  deploy/gcp/phase7-booking/README.md
  docs/architecture/COMPUTER_USE_BOOKING.md
  frontend/src/components/foretees/AgentConfirmDialog.jsx
  frontend/src/components/foretees/BookingModal.jsx
  frontend/src/components/foretees/ForeTeesTeeSheet.jsx
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/hooks/useTeeTimes.js
Due: lint-db-transactions, lint-frontend-deploy

chore(api): sync openapi.json for book/confirm route
  backend/openapi.json
Due: none

feat(booking): Gemini Computer Use agent on Cloud Run (#332)
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  backend/openapi.json
  booking-agent/.gitignore
  booking-agent/Dockerfile
  booking-agent/README.md
  booking-agent/app/__init__.py
  booking-agent/app/agent.py
  booking-agent/app/browser.py
  booking-agent/app/config.py
  booking-agent/app/jobs.py
  booking-agent/app/main.py
  booking-agent/requirements.txt
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase7-booking/10-deploy.sh
  deploy/gcp/phase7-booking/README.md
  docs/architecture/COMPUTER_USE_BOOKING.md
  frontend/src/components/foretees/AgentConfirmDialog.jsx
  frontend/src/components/foretees/BookingModal.jsx
  frontend/src/components/foretees/ForeTeesTeeSheet.jsx
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/hooks/useTeeTimes.js
Due: lint-db-transactions, lint-frontend-deploy

chore(deploy): auto-deploy Firebase Hosting on push to main
  .github/workflows/deploy-gcp.yml
  deploy/gcp/README.md
  deploy/gcp/phase3-hosting/README.md
Due: none

chore(deploy): auto-deploy Firebase Hosting on push to main (#333)
  .github/workflows/deploy-gcp.yml
  deploy/gcp/README.md
  deploy/gcp/phase3-hosting/README.md
Due: none

chore(deploy): auto-deploy Computer Use booking agent on push
  .github/workflows/deploy-gcp.yml
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/cloudbuild-booking.yaml
  deploy/gcp/phase7-booking/10-deploy.sh
  deploy/gcp/phase7-booking/README.md
Due: none

chore(deploy): auto-deploy Computer Use booking agent on push (#334)
  .github/workflows/deploy-gcp.yml
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/cloudbuild-booking.yaml
  deploy/gcp/phase7-booking/10-deploy.sh
  deploy/gcp/phase7-booking/README.md
Due: none

docs(spec): booking-agent POST /tee-times read API
  docs/superpowers/specs/2026-07-28-booking-agent-tee-times-design.md
Due: none

docs(plan): booking-agent POST /tee-times implementation plan
  docs/superpowers/plans/2026-07-28-booking-agent-tee-times.md
Due: none

feat(booking-agent): parse ForeTees Member_sheet slots
  booking-agent/app/tee_sheet.py
  booking-agent/requirements-testing.txt
  booking-agent/requirements.txt
  booking-agent/tests/conftest.py
  booking-agent/tests/fixtures/member_sheet_sample.html
  booking-agent/tests/test_tee_sheet_parse.py
Due: none

feat(booking-agent): fetch day sheet under member ForeTees login
  booking-agent/app/tee_sheet.py
  booking-agent/tests/test_tee_sheet_fetch.py
Due: none

feat(booking-agent): expose POST /tee-times for day sheet reads
  booking-agent/app/main.py
  booking-agent/tests/test_tee_times_endpoint.py
Due: none

docs(booking-agent): document POST /tee-times day sheet API
  booking-agent/README.md
  docs/architecture/COMPUTER_USE_BOOKING.md
Due: none

feat(booking-agent): POST /tee-times day sheet under member login (#335)
  booking-agent/README.md
  booking-agent/app/main.py
  booking-agent/app/tee_sheet.py
  booking-agent/requirements-testing.txt
  booking-agent/requirements.txt
  booking-agent/tests/conftest.py
  booking-agent/tests/fixtures/member_sheet_sample.html
  booking-agent/tests/test_tee_sheet_fetch.py
  booking-agent/tests/test_tee_sheet_parse.py
  booking-agent/tests/test_tee_times_endpoint.py
  docs/architecture/COMPUTER_USE_BOOKING.md
  docs/superpowers/plans/2026-07-28-booking-agent-tee-times.md
  docs/superpowers/specs/2026-07-28-booking-agent-tee-times-design.md
Due: none

docs(spec): wire FastAPI tee-times through booking-agent
  docs/superpowers/specs/2026-07-29-wire-foretees-tee-times-via-booking-agent-design.md
Due: none

docs(plan): wire FastAPI tee-times through booking-agent
  docs/superpowers/plans/2026-07-29-wire-foretees-tee-times-via-booking-agent.md
Due: none

feat(foretees): fetch day sheet via booking-agent tee-times API
  backend/app/services/foretees_service.py
  backend/tests/unit/services/test_foretees_tee_times_proxy.py
Due: lint-db-transactions

feat(foretees): proxy tee-times list through booking agent
  backend/app/routers/foretees.py
  backend/tests/unit/routers/test_foretees_router.py
Due: lint-db-transactions

docs(foretees): list path proxies to booking-agent tee-times
  docs/architecture/COMPUTER_USE_BOOKING.md
Due: none

fix(foretees): clear ruff SIM117/format so backend gate passes
  backend/app/services/foretees_service.py
  backend/tests/unit/services/test_foretees_tee_times_proxy.py
Due: lint-db-transactions

fix(api): resync OpenAPI contract and stop silent schema drift
  .github/workflows/backend-ci.yml
  CLAUDE.md
  backend/openapi.json
  backend/requirements.txt
  docs/development/API_CONTRACT.md
  frontend/src/api/schema.d.ts
  scripts/sync_openapi.sh
Due: lint-frontend-deploy

fix(booking): stop Vertex 400 that killed the agent at the login page
  booking-agent/app/agent.py
  booking-agent/tests/test_agent_config.py
Due: none

chore(ci): drop legacy Render/Vercel Deploy to Production workflow
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  CLAUDE.md
  deploy/gcp/DECOMMISSION.md
Due: none

fix(booking): use a model that actually serves Computer Use
  booking-agent/app/agent.py
  booking-agent/app/config.py
  booking-agent/tests/test_agent_config.py
  deploy/gcp/cloudbuild-booking.yaml
Due: none

fix(booking): don't strand jobs waiting on a login confirmation
  booking-agent/app/agent.py
  booking-agent/app/config.py
  booking-agent/tests/test_confirm_lifecycle.py
  docs/architecture/COMPUTER_USE_BOOKING.md
  frontend/src/components/foretees/AgentConfirmDialog.jsx
Due: lint-frontend-deploy

chore(sheets): cut over to 2026-27 season dashboard
  .github/workflows/sheet-sync.yml
  backend/app/routers/unified_data.py
  backend/app/services/email_scheduler.py
  backend/app/services/spreadsheet_sync_service.py
  backend/openapi.json
  docs/backend/SHEET_SYNC_SCHEDULER.md
  docs/guides/google-sheets-sync.md
  frontend/src/api/schema.d.ts
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/context/SheetSyncContext.jsx
  frontend/src/pages/HomePage.jsx
  scripts/deployment/test-production-sync.sh
  scripts/diagnostics/test_all_routes.py
  scripts/diagnostics/test_sheet_parsing.py
  scripts/diagnostics/test_sync_endpoints.py
Due: lint-db-transactions, lint-frontend-deploy

fix(sheets): stop reading the retired writable copy
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/spreadsheet_sync_service.py
  backend/app/services/unified_data_service.py
  backend/tests/unit/services/test_unified_data_service.py
Due: lint-db-transactions

fix(sheets): use the 2026-27 sheet for writes too
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/spreadsheet_sync_service.py
  backend/app/services/unified_data_service.py
  backend/tests/unit/services/test_unified_data_service.py
Due: lint-db-transactions

fix(booking): ask for submit confirmation once per booking
  booking-agent/app/agent.py
  booking-agent/app/jobs.py
  booking-agent/tests/test_confirm_lifecycle.py
Due: none

feat: manage club-player link from the Account page
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/__tests__/ClubPlayerLinkSection.test.jsx
Due: lint-frontend-deploy

docs(deploy): mark Render teardown complete
  deploy/gcp/DECOMMISSION.md
Due: none

fix(onboarding): make club player linking recoverable after skip
  backend/app/services/email_service.py
  backend/tests/unit/services/test_email_service.py
  frontend/src/components/auth/ClubPlayerSection.jsx
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/__tests__/ClubPlayerSection.test.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/AccountPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(ci): point scheduled crons at Cloud Run after Render teardown
  .github/workflows/callout-list.yml
  .github/workflows/ghin-sync.yml
  .github/workflows/livsow-snapshot.yml
  backend/app/routers/callouts.py
  capabilities.yaml
Due: lint-db-transactions

chore(monitoring): mute single-event alert noise
  deploy/gcp/phase6-monitoring/30-alert-policies.sh
  deploy/gcp/phase6-monitoring/README.md
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
