Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

refactor: make typed client test-mockable; migrate availability views (#324)
  frontend/src/api/client.ts
  frontend/src/components/signup/AllPlayersAvailability.jsx
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/components/signup/__tests__/PlayerAvailability.test.jsx
  frontend/src/test-utils/mockFactories.jsx
Due: lint-frontend-deploy

refactor: migrate remaining signup views to the typed API client
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/EmailPreferences.jsx
  frontend/src/components/signup/SignupCalendar.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-frontend-deploy

refactor: migrate remaining signup views to the typed API client (#325)
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/EmailPreferences.jsx
  frontend/src/components/signup/SignupCalendar.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-frontend-deploy

refactor: migrate game-list and leaderboard views to the typed client
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
  frontend/src/pages/ActiveGamesPage.jsx
  frontend/src/pages/CompletedGamesPage.jsx
Due: lint-frontend-deploy

feat: safer signup identity, GHIN handicap provenance, email delivery & tee-sheet guards
  backend/.env.example
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/routers/signups.py
  backend/app/routers/tee_sheet.py
  backend/app/schemas/players.py
  backend/app/services/auth_service.py
  backend/app/services/ghin_service.py
  backend/app/services/player_service.py
  backend/migrations/add_handicap_source_and_email_tracking_postgres.sql
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/routers/test_signup_confirmation_email.py
  backend/tests/unit/routers/test_tee_sheet_router.py
  backend/tests/unit/services/test_auth_new_player_capture.py
  backend/tests/unit/services/test_auth_welcome_email.py
  backend/tests/unit/services/test_ghin_service.py
  docs/guides/admin-access.md
  docs/guides/tee-sheet-safety.md
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/signup/__tests__/WgpSignupSheet.test.jsx
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/PlayersRosterPage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
  frontend/src/pages/__tests__/PlayersRosterPage.test.jsx
  scripts/diagnostics/audit_signup_identities.py
Due: lint-db-transactions, lint-frontend-deploy

test(signup): wait for enabled Sign Me Up button to fix CI race
  frontend/src/components/signup/__tests__/WgpSignupSheet.test.jsx
Due: lint-frontend-deploy

refactor: disconnect the legacy tee sheet behind a feature flag (#313)
  .env.example
  backend/.env.example
  backend/app/observability/external_checks.py
  backend/app/routers/tee_sheet.py
  backend/tests/unit/observability/test_external_checks.py
  backend/tests/unit/routers/test_tee_sheet_router.py
  frontend/package-lock.json
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/pages/SignupPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: safer signup identity, GHIN handicap provenance, email delivery & tee-sheet guards (#327)
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/routers/signups.py
  backend/app/routers/tee_sheet.py
  backend/app/schemas/players.py
  backend/app/services/auth_service.py
  backend/app/services/ghin_service.py
  backend/app/services/player_service.py
  backend/migrations/add_handicap_source_and_email_tracking_postgres.sql
  backend/openapi.json
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/routers/test_signup_confirmation_email.py
  backend/tests/unit/routers/test_tee_sheet_router.py
  backend/tests/unit/services/test_auth_new_player_capture.py
  backend/tests/unit/services/test_auth_welcome_email.py
  backend/tests/unit/services/test_ghin_service.py
  docs/guides/admin-access.md
  docs/guides/tee-sheet-safety.md
  frontend/src/api/schema.d.ts
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/signup/__tests__/WgpSignupSheet.test.jsx
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/PlayersRosterPage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
  frontend/src/pages/__tests__/PlayersRosterPage.test.jsx
  scripts/diagnostics/audit_signup_identities.py
Due: lint-db-transactions, lint-frontend-deploy

feat(deploy): scaffold full GCP migration infra (all phases)
  .github/workflows/deploy-gcp.yml
  .gitignore
  deploy/gcp/README.md
  deploy/gcp/config.env.example
  deploy/gcp/lib/common.sh
  deploy/gcp/phase0-foundation/00-enable-apis.sh
  deploy/gcp/phase0-foundation/10-artifact-registry.sh
  deploy/gcp/phase0-foundation/20-service-accounts.sh
  deploy/gcp/phase0-foundation/30-workload-identity-federation.sh
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/phase1-cloud-run/README.md
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase2-cloud-sql/10-provision.sh
  deploy/gcp/phase2-cloud-sql/migration-runbook.md
  deploy/gcp/phase3-hosting/README.md
  deploy/gcp/phase3-hosting/firebase.json
  deploy/gcp/phase3-hosting/firebaserc.example
  deploy/gcp/phase4-scheduling/10-create-scheduler-jobs.sh
  deploy/gcp/phase4-scheduling/README.md
  deploy/gcp/secrets.md
Due: none

feat(deploy): scaffold full GCP migration infra (all phases) (#328)
  .github/workflows/deploy-gcp.yml
  .gitignore
  deploy/gcp/README.md
  deploy/gcp/config.env.example
  deploy/gcp/lib/common.sh
  deploy/gcp/phase0-foundation/00-enable-apis.sh
  deploy/gcp/phase0-foundation/10-artifact-registry.sh
  deploy/gcp/phase0-foundation/20-service-accounts.sh
  deploy/gcp/phase0-foundation/30-workload-identity-federation.sh
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/phase1-cloud-run/README.md
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase2-cloud-sql/10-provision.sh
  deploy/gcp/phase2-cloud-sql/migration-runbook.md
  deploy/gcp/phase3-hosting/README.md
  deploy/gcp/phase3-hosting/firebase.json
  deploy/gcp/phase3-hosting/firebaserc.example
  deploy/gcp/phase4-scheduling/10-create-scheduler-jobs.sh
  deploy/gcp/phase4-scheduling/README.md
  deploy/gcp/secrets.md
Due: none

refactor: migrate game-list and leaderboard views to the typed client (#326)
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
  frontend/src/pages/ActiveGamesPage.jsx
  frontend/src/pages/CompletedGamesPage.jsx
Due: lint-frontend-deploy

feat(deploy): add Cloud Build pipeline and CI wiring for GCP deploys
  .gcloudignore
  .github/workflows/deploy-gcp.yml
  deploy/gcp/README.md
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/00-enable-apis.sh
  deploy/gcp/phase0-foundation/20-service-accounts.sh
  deploy/gcp/phase0-foundation/25-cloud-build-iam.sh
  deploy/gcp/phase1-cloud-run/README.md
  deploy/gcp/phase1-cloud-run/create-cloud-build-trigger.sh
Due: none

feat(deploy): add Cloud Build pipeline and CI wiring for GCP deploys (#329)
  .gcloudignore
  .github/workflows/deploy-gcp.yml
  deploy/gcp/README.md
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/00-enable-apis.sh
  deploy/gcp/phase0-foundation/20-service-accounts.sh
  deploy/gcp/phase0-foundation/25-cloud-build-iam.sh
  deploy/gcp/phase1-cloud-run/README.md
  deploy/gcp/phase1-cloud-run/create-cloud-build-trigger.sh
Due: none

feat(backend): Cloud SQL pool tuning + Cloud Scheduler job endpoints (GCP phases 2 & 4)
  backend/app/database.py
  backend/app/main.py
  backend/app/routers/internal_jobs.py
  backend/app/services/email_scheduler.py
  backend/tests/test_db_pool_env.py
  backend/tests/test_internal_jobs.py
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase2-cloud-sql/migration-runbook.md
  deploy/gcp/phase4-scheduling/10-create-scheduler-jobs.sh
  deploy/gcp/phase4-scheduling/README.md
  deploy/gcp/secrets.md
Due: lint-db-transactions

feat(backend): Cloud SQL pool tuning + Cloud Scheduler job endpoints (GCP phases 2 & 4) (#330)
  backend/app/database.py
  backend/app/main.py
  backend/app/routers/internal_jobs.py
  backend/app/services/email_scheduler.py
  backend/tests/test_db_pool_env.py
  backend/tests/test_internal_jobs.py
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase2-cloud-sql/migration-runbook.md
  deploy/gcp/phase4-scheduling/10-create-scheduler-jobs.sh
  deploy/gcp/phase4-scheduling/README.md
  deploy/gcp/secrets.md
Due: lint-db-transactions

fix(deploy): align Cloud Run secrets with GCP services
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase0-foundation/40-secrets.sh
  deploy/gcp/phase1-cloud-run/README.md
  deploy/gcp/secrets.md
Due: none

yes
  deploy/gcp/phase0-foundation/20-service-accounts.sh
Due: none

fix(deploy): unblock Cloud Build on seventh-country project
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): push image before Cloud Run deploy
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): push Cloud Run image before deploy step
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): build production Docker stage for Cloud Run
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): configure Cloud Run container port 8000
  deploy/gcp/cloudbuild.yaml
Due: none

fix(deploy): harden Phase 1 Cloud Run deploy and smoke tests
  .github/workflows/deploy-gcp.yml
  deploy/gcp/README.md
  deploy/gcp/config.env.example
  deploy/gcp/phase1-cloud-run/env.production.yaml
Due: none

feat(deploy): wire Firebase Hosting canary URLs for Phase 3
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase3-hosting/AUTH0_CUTOVER.md
Due: none

fix(frontend): sync package-lock for Firebase Hosting CI build
  frontend/package-lock.json
Due: none

fix(ci): harden Firebase Hosting deploy against npm ci flakes
  .github/workflows/deploy-gcp.yml
Due: none

fix(gcp): cheap Enterprise Cloud SQL + reliable Firebase CI build
  .github/workflows/deploy-gcp.yml
  deploy/gcp/config.env.example
  deploy/gcp/phase2-cloud-sql/10-provision.sh
  deploy/gcp/phase3-hosting/firebaserc.example
Due: none

docs(gcp): finish cutover canary — cheap Cloud SQL, Hosting, schedulers
  .github/workflows/deploy-gcp.yml
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/phase3-hosting/20-deploy-hosting.sh
Due: none

fix(api): allow Firebase Hosting origin in CORS
  backend/app/main.py
Due: lint-db-transactions

fix(auth): stop null-email logins from reclaiming seed profiles
  backend/app/services/auth_service.py
  backend/tests/unit/services/test_auth_service.py
Due: lint-db-transactions

fix(auth): prefer club-linked profile when Auth0 ids are duplicated
  backend/app/services/auth_service.py
  backend/tests/unit/services/test_auth_service.py
Due: lint-db-transactions

fix(auth): avoid duplicate email failures during profile backfill
  backend/app/services/auth_service.py
  backend/tests/unit/services/test_auth_service.py
Due: lint-db-transactions

fix(ci): stabilize OpenAPI contract npm install
  .github/workflows/openapi-contract.yml
  frontend/package-lock.json
Due: none

feat(storage): store avatars in GCS and mark GCP as production
  backend/app/models.py
  backend/app/routers/players.py
  backend/app/services/media_storage_service.py
  backend/requirements.txt
  backend/scripts/migrate_avatars_to_gcs.py
  backend/tests/unit/routers/test_player_avatar.py
  backend/tests/unit/services/test_media_storage_service.py
  deploy/gcp/DECOMMISSION.md
  deploy/gcp/README.md
  deploy/gcp/config.env.example
  deploy/gcp/phase0-foundation/00-enable-apis.sh
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase3-hosting/AUTH0_CUTOVER.md
  deploy/gcp/phase5-storage/10-provision-media-bucket.sh
  deploy/gcp/phase5-storage/README.md
Due: lint-db-transactions

chore(api): regenerate OpenAPI contract after Sentry removal
  backend/openapi.json
  frontend/src/api/schema.d.ts
Due: lint-frontend-deploy

chore(decommission): add workflow to pause or unpause Vercel
  .github/workflows/pause-vercel.yml
Due: none

docs(gcp): mark Vercel project paused after cutover
  deploy/gcp/DECOMMISSION.md
Due: none

fix(account): show club history from server on Account stats
  backend/app/routers/member_rounds.py
  backend/app/schemas/players.py
  backend/openapi.json
  backend/tests/unit/routers/test_member_rounds_router.py
  backend/tests/unit/schemas/__init__.py
  backend/tests/unit/schemas/test_player_statistics_schema.py
  frontend/src/api/schema.d.ts
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/__tests__/AccountPage.stats.test.js
Due: lint-db-transactions, lint-frontend-deploy

fix(deploy): restore Cloud Run image build and OpenAPI pin sync
  backend/Dockerfile
  backend/openapi.json
  frontend/src/api/schema.d.ts
Due: lint-frontend-deploy
