Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

fix: Make version/build info clickable in footer
  frontend/src/components/AppFooter.js
Due: lint-frontend-deploy

refactor: Simplify SimpleScorekeeper with shared utilities
  frontend/src/components/game/EditPlayerNameModal.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/services/fetchJson.js
Due: lint-frontend-deploy

feat: Add legacy player list sync and validation
  backend/app/data/legacy_players.json
  backend/app/main.py
  backend/app/services/legacy_player_service.py
Due: lint-db-transactions

feat: Add legacy_name field to PlayerProfile for tee sheet sync
  backend/.env.example
  backend/app/models.py
  backend/app/schemas.py
  backend/app/services/auth_service.py
  backend/app/services/legacy_signup_service.py
Due: lint-db-transactions

feat: Add onboarding UI for legacy player name selection
  backend/app/routers/players.py
  frontend/src/App.js
  frontend/src/components/auth/LegacyNameSelector.js
  frontend/src/components/auth/OnboardingModal.js
  frontend/src/components/auth/OnboardingWrapper.js
  frontend/src/components/auth/index.js
  frontend/src/hooks/usePlayerProfile.js
Due: lint-db-transactions, lint-frontend-deploy

feat: Add Google Sheets sync for WGP Dashboard
  backend/app/main.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/services/spreadsheet_sync_service.py
Due: lint-db-transactions

fix: Update spreadsheet IDs and quota project for sync
  backend/app/services/spreadsheet_sync_service.py
Due: lint-db-transactions

feat: Add unified data service merging all sources
  .claude/settings.local.json
  backend/app/main.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/routers/unified_data.py
  backend/app/services/spreadsheet_sync_service.py
  backend/app/services/unified_data_service.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/context/SheetSyncContext.js
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

fix: Add legacy_name migration for production database
  .claude/settings.local.json
  backend/app/migrations/add_legacy_name_column.py
  backend/app/migrations_routes.py
Due: lint-db-transactions

fix: Add legacy_name column migration for auto-run on startup
  backend/migrations/add_legacy_name_postgres.sql
  backend/run_migrations.py
Due: none

fix: Add legacy_name migration to admin UI
  frontend/src/components/admin/DatabaseMigrations.jsx
Due: lint-frontend-deploy

fix: ESLint error in DatabaseMigrations
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/components/admin/DatabaseMigrations.jsx
Due: lint-frontend-deploy, check-sw-version-script

fix: Simplify migration SQL to avoid semicolon splitting issue
  backend/migrations/add_legacy_name_postgres.sql
Due: none

feat: Add OAuth refresh token support for production spreadsheet sync
  .claude/settings.local.json
  backend/app/services/spreadsheet_sync_service.py
Due: lint-db-transactions

debug: Add OAuth status to spreadsheet config endpoint
  backend/app/routers/spreadsheet_sync.py
Due: lint-db-transactions

feat: Wire up auto-sync and OfflineIndicator
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/App.js
Due: lint-frontend-deploy, check-sw-version-script

fix: Use syncManager for auto-sync instead of offlineStorage
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/App.js
Due: lint-frontend-deploy, check-sw-version-script

fix: Load APP_VERSION from version.json instead of hardcoding
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/services/cacheManager.js
Due: lint-frontend-deploy, check-sw-version-script

Fix hole deletion bug when updating courses
  backend/app/routers/courses.py
  tests/test_hole_update_fix.py
Due: lint-db-transactions

feat: Add account page with profile, settings, stats, and logout
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/pages/AccountPage.js
Due: lint-frontend-deploy

Remove mock auth / test mode from application
  .env.example
  frontend/.env.example
  frontend/src/App.js
  frontend/src/components/Navigation.js
  frontend/src/components/auth/AuthHealthCheck.js
  frontend/src/components/auth/ProtectedRoute.js
  frontend/src/context/MockAuthContext.js
  frontend/src/pages/AccountPage.js
  vercel.json
Due: lint-frontend-deploy

Fix remaining useMockAuth references in Navigation.js
  frontend/src/components/Navigation.js
Due: lint-frontend-deploy

Update package-lock.json after dependency install
  frontend/package-lock.json
Due: none

Move player sign-up/availability to front of homepage
  frontend/src/components/Navigation.js
  frontend/src/pages/HomePage.js
Due: lint-frontend-deploy

Add links to legacy sign up page and legacy standings spreadsheet
  frontend/src/components/Navigation.js
  frontend/src/pages/HomePage.js
Due: lint-frontend-deploy

Fix signup page tab responsiveness and broken tab switching
  frontend/src/pages/SignupPage.js
  frontend/src/styles/mobile-touch.css
Due: lint-frontend-deploy

Redesign signup page with day view as default, matching legacy tee sheet
  frontend/src/components/signup/DailySignupView.js
  frontend/src/pages/SignupPage.js
Due: lint-frontend-deploy

Enable legacy tee sheet sync in production
  render.yaml
Due: none

Add .npmrc to fix react-scripts/typescript peer dep conflict
  frontend/.npmrc
Due: none

Fix player_id parsing error by reordering routes in players.py
  backend/app/routers/players.py
Due: lint-db-transactions

Fix account linking: use shared DB session in get_current_user
  backend/app/services/auth_service.py
Due: lint-db-transactions

chore: update build version artifacts from CI verification
  frontend/public/service-worker.js
  frontend/public/version.json
Due: lint-frontend-deploy, check-sw-version-script

Add signup confirmation step and legacy replicate button
  backend/app/main.py
  frontend/src/components/signup/DailySignupView.js
Due: lint-db-transactions, lint-frontend-deploy

docs: add comprehensive codebase organization review
  docs/reports/codebase-organization-review.md
Due: none

refactor: Phase 1 cleanup — remove dead code, relocate misplaced files
  backend/app/crud.py
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/services/notification_service_example.py
  backend/app/services/oauth2_email_service.py
  backend/tests/manual/manual_ghin_check.py
  backend/tests/manual/manual_migration.py
  backend/tests/manual/manual_test_full_round_api.py
  backend/tests/manual/manual_test_game_state_validator.py
  backend/tests/manual/manual_test_scoring_mode.py
  backend/tests/manual/manual_test_simplified_scoring.py
  backend/tests/smoke_tests.py
  backend/tests/test_complete_game.py
  backend/tests/test_rule_manager.py
  tests/integration/test_multi_hole_tracking.py
  tests/integration/test_sheet_sync_fix.py
Due: lint-db-transactions

refactor: consolidate fragmented test directories into backend/tests/
  backend/tests/conftest.py
  backend/tests/startup_test.py
  backend/tests/test_advanced_rules.py
  backend/tests/test_analytics.py
  backend/tests/test_analytics_scenarios.py
  backend/tests/test_api.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_api_simple.py
  backend/tests/test_api_working.py
  backend/tests/test_basic_functionality.py
  backend/tests/test_betting_flow.py
  backend/tests/test_course_data.py
  backend/tests/test_debug.py
  backend/tests/test_debug_api.py
  backend/tests/test_dict_references.py
  backend/tests/test_final_implementation.py
  backend/tests/test_fixes.py
  backend/tests/test_full_game_flow.py
  backend/tests/test_ghin_integration.py
  backend/tests/test_ghin_local.py
  backend/tests/test_hole_completion.py
  backend/tests/test_hole_state_mechanics.py
  backend/tests/test_integration_scenarios.py
  backend/tests/test_progression.py
  backend/tests/test_short_game.py
  backend/tests/test_shot_range_analysis.py
  backend/tests/test_sqlalchemy.py
  backend/tests/test_unified_action_api.py
  backend/tests/test_wgp_direct.py
  tests/backend/conftest.py
  tests/backend/test_aardvark.py
  tests/backend/test_post_hole_analytics.py
Due: none

refactor: consolidate documentation — declutter root and backend/
  DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/backend/ARCHITECTURE_SEPARATION_GUIDE.md
  docs/backend/BOOTSTRAP_README.md
  docs/backend/DATABASE_SESSION_GUIDE.md
  docs/backend/DB_LINTING_RULES.md
  docs/backend/ENDPOINT_DUPLICATION_ANALYSIS.md
  docs/backend/FRONTEND_ENDPOINT_AUDIT.md
  docs/backend/MIGRATION_GUIDE.md
  docs/backend/PHASE1_COMPLETION_REPORT.md
  docs/backend/PHASE2_FRONTEND_COMPLETION_REPORT.md
  docs/backend/PHASE3_ADVANCED_FEATURES_UI_COMPLETION_REPORT.md
  docs/backend/PHASE4_UI_TEST_VERIFICATION.md
  docs/backend/PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/backend/README_TYPE_CHECKING.md
  docs/backend/ROUTER_EXTRACTION_PLAN.md
  docs/backend/RULE_MANAGER_QUICKSTART.md
  docs/backend/RULE_MANAGER_SUMMARY.md
  docs/backend/SCOREKEEPER_VERIFICATION.md
  docs/backend/SHEET_SYNC_SCHEDULER.md
  docs/backend/TEST_FAILURE_ANALYSIS.md
  docs/backend/TROUBLESHOOTING_GAME_CREATION.md
  docs/backend/todo.md
  docs/guides/DEPLOYMENT_CHECKLIST.md
  docs/guides/DEVELOPER_QUICK_START.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/GOLF_COURSE_OFFLINE_GUIDE.md
  docs/guides/GOOGLE_SHEETS_LEADERBOARD_SETUP.md
  docs/guides/README-DOCKER.md
  docs/guides/RESILIENCE_GUIDE.md
Due: none

refactor: move backend utility scripts to backend/scripts/
  backend/scripts/debug_carry_over.py
  backend/scripts/example_rule_manager_integration.py
  backend/scripts/extract_routers.py
  backend/scripts/fix_db_close.py
  backend/scripts/fix_db_close_simple.py
  backend/scripts/fix_game_state_schema.py
  backend/scripts/fix_sequence.py
  backend/scripts/migrate_database.py
  backend/scripts/migrate_email_tables.py
  backend/scripts/migrate_game_state.py
  backend/scripts/verify_phase1_features.py
Due: none

refactor: organize frontend components into feature directories
  frontend/src/App.js
  frontend/src/components/EnhancedWGPInterface.js
  frontend/src/components/__tests__/BettingOddsPanel.test.js
  frontend/src/components/__tests__/NewComponents.test.js
  frontend/src/components/__tests__/PerformanceAnalytics.test.js
  frontend/src/components/__tests__/PlayerProfileManager.test.js
  frontend/src/components/__tests__/PlayerStatistics.test.js
  frontend/src/components/__tests__/ShotVisualizationOverlay.test.js
  frontend/src/components/analytics/AnalyticsDashboard.js
  frontend/src/components/analytics/PerformanceAnalytics.js
  frontend/src/components/analytics/WGPAnalyticsDashboard.js
  frontend/src/components/betting/BettingOddsPanel.js
  frontend/src/components/betting/BettingOpportunityWidget.js
  frontend/src/components/betting/EnhancedBettingWidget.js
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/index.js
  frontend/src/components/integration/GHINIntegration.js
  frontend/src/components/integration/GoogleSheetsLiveSync.js
  frontend/src/components/integration/SheetIntegrationDashboard.js
  frontend/src/components/player/InteractivePlayerCard.js
  frontend/src/components/player/PlayerProfileManager.js
  frontend/src/components/player/PlayerStatistics.js
  frontend/src/components/visualization/HoleVisualization.js
  frontend/src/components/visualization/ProbabilityVisualization.js
  frontend/src/components/visualization/ShotVisualizationOverlay.js
  frontend/src/pages/AdminPage.js
  frontend/src/pages/PlayerDashboardPage.js
Due: lint-frontend-deploy
