Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

feat(profile): render player avatar_url on profile page
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-frontend-deploy

feat(scorecard): persist scan photo + backfill per-hole later (Part B) (#299)
  backend/app/models.py
  backend/app/routers/games.py
  backend/migrations/add_scorecard_image_postgres.sql
  backend/tests/unit/routers/test_scorecard_photo.py
  backend/tests/unit/routers/test_scorecard_round.py
  backend/tests/unit/test_models_scorecard_image.py
  frontend/src/components/game/ScorecardBackfill.jsx
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/ScorecardPhotoButton.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/ScorecardBackfill.test.jsx
  frontend/src/components/game/__tests__/ScorecardPhoto.players.test.jsx
  frontend/src/components/game/__tests__/ScorecardPhotoButton.test.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/SimpleScorekeeperPage.jsx
  frontend/src/utils/__tests__/scorecardImage.test.js
  frontend/src/utils/quarters.js
  frontend/src/utils/scorecardImage.js
Due: lint-db-transactions, lint-frontend-deploy

fix(test): accept list-or-str hole_scores from raw text() SELECT
  backend/tests/unit/services/test_completed_game_service.py
Due: none

feat(signup): mirror thin-client tee-sheet signups into daily_signups + confirmation email
  NOTE_TO_JEFF.md
  backend/app/routers/tee_sheet.py
  backend/tests/unit/routers/test_tee_sheet_router.py
Due: lint-db-transactions

chore(sync): cron to keep sheets→DB in sync (in-process job no-ops in prod)
  .github/workflows/sheet-sync.yml
  backend/app/services/spreadsheet_sync_service.py
Due: lint-db-transactions

chore(sync): cron to keep sheets→DB in sync (in-process job no-ops in prod) (#303)
  .github/workflows/sheet-sync.yml
  backend/app/services/spreadsheet_sync_service.py
Due: lint-db-transactions

feat(callouts): admin diagnostic endpoint to send a sample matchmaking email
  NOTE_TO_JEFF.md
  backend/app/routers/callouts.py
Due: lint-db-transactions

feat(callouts): admin diagnostic endpoint to send a sample matchmaking email (#304)
  NOTE_TO_JEFF.md
  backend/app/routers/callouts.py
Due: lint-db-transactions

feat(email): warmer welcome copy + admin diagnostic to send it
  backend/app/routers/admin.py
  backend/app/services/email_service.py
Due: lint-db-transactions

feat(email): warmer welcome copy + admin diagnostic to send it (#305)
  backend/app/routers/admin.py
  backend/app/services/email_service.py
Due: lint-db-transactions

feat(players): add Kevin Gent avatar image
  frontend/public/avatars/kevin-gent.jpg
Due: none

feat(players): self-service avatar upload + real game history on profile page
  backend/app/models.py
  backend/app/routers/players.py
  backend/migrations/add_player_avatar_image_postgres.sql
  backend/tests/unit/routers/test_player_avatar.py
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(players): add a players roster/directory page
  backend/app/models.py
  backend/app/schemas/players.py
  frontend/src/App.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/PlayersRosterPage.jsx
  frontend/src/pages/__tests__/PlayersRosterPage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(auth): request offline_access scope so refresh tokens are actually issued
  frontend/src/context/AuthContext.jsx
Due: lint-frontend-deploy

test(auth): pin useRefreshTokens/offline_access scope pairing
  frontend/src/context/__tests__/AuthContext.test.jsx
Due: lint-frontend-deploy

chore(caps): govern frontend auth/deploy invariants that caused real incidents
  .ctk/ledger.json
  capabilities.yaml
Due: none

docs: remove stale onboarding capability writeup and its companion note
  CAPABILITIES_ONBOARDING.md
  NOTE_TO_JEFF.md
Due: none

fix(players): make player profile pages actually public
  backend/app/routers/players.py
  backend/tests/unit/routers/test_players_router.py
  frontend/src/App.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

chore(caps): re-prove api-surface-no-drift after public-profile fix
  .ctk/ledger.json
Due: none

fix(nav): raise nav bar z-index so the desktop More dropdown is actually clickable
  frontend/src/components/ui/Navigation.jsx
Due: lint-frontend-deploy

chore(nav): centralize z-index values; add e2e regression test for the dropdown bug
  frontend/src/components/ui/Navigation.jsx
  frontend/tests/e2e/package-lock.json
  frontend/tests/e2e/playwright.config.js
  frontend/tests/e2e/tests/desktop-nav-dropdown.spec.js
Due: lint-frontend-deploy

feat(players): redesign profile page + always show the badge system
  frontend/src/pages/PlayerProfilePage.css
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-frontend-deploy

fix(players): remove the redundant, always-empty Match History section
  backend/app/routers/players.py
  frontend/src/pages/PlayerProfilePage.css
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

chore(caps): re-prove api-surface-no-drift + refresh expired live checks
  .ctk/ledger.json
Due: none

chore(caps): re-prove frontend-live-production (expired live check)
  .ctk/ledger.json
Due: none

feat(players): extend Clubhouse Ledger theme to roster page + real badge counts
  backend/app/routers/players.py
  frontend/src/pages/PlayerProfilePage.css
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/PlayersRosterPage.css
  frontend/src/pages/PlayersRosterPage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
  frontend/src/styles/clubhouse-theme.css
Due: lint-db-transactions, lint-frontend-deploy

chore(caps): re-prove api-surface-no-drift after badge-count endpoint change
  .ctk/ledger.json
Due: none

fix(badges): fix always-crashing award path + backfill career badges from history
  .ctk/ledger.json
  backend/app/badge_engine.py
  backend/app/routers/admin.py
  backend/tests/unit/test_badge_engine.py
  capabilities.yaml
Due: lint-db-transactions

chore(caps): re-prove api-surface-no-drift after adding badges backfill endpoint
  .ctk/ledger.json
Due: none

chore(caps): re-prove admin-banner-readback (admin.py touched by badges backfill endpoint)
  .ctk/ledger.json
Due: none

feat(badges): let players equip badges to a public showcase
  backend/app/badge_routes.py
  backend/app/routers/players.py
  backend/tests/unit/routers/test_badge_showcase.py
  frontend/src/pages/PlayerProfilePage.css
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

chore(caps): re-prove api-surface-no-drift + badges-awarded after equip feature
  .ctk/ledger.json
Due: none

feat(players): show hole-by-hole detail for in-app/scanned rounds, nudge for the rest
  backend/app/routers/players.py
  backend/app/services/unified_data_service.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/services/test_unified_data_service.py
  frontend/src/pages/PlayerProfilePage.css
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

chore(caps): re-prove api-surface-no-drift after hole-by-hole feature
  .ctk/ledger.json
Due: none

chore(caps): re-prove unified-data-aggregation after hole-scores plumbing
  .ctk/ledger.json
Due: none

chore(caps): re-prove expired live checks (health-live-production, auth-rejects-junk-token)
  .ctk/ledger.json
Due: none

fix(scorecard): replace Hough circle detection with contour+circularity
  backend/app/services/scorecard_preprocess.py
Due: lint-db-transactions

chore(caps): re-prove frontend-live-production (freshness expiry)
  .ctk/ledger.json
Due: none

chore(caps): re-prove health-live-production + auth-rejects-junk-token (freshness expiry)
  .ctk/ledger.json
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
