Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

feat: try multiple slot load actions before direct ttdata submission
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: headless browser booking for ForeTees v5
  backend/.gitignore
  backend/app/services/foretees_service.py
  backend/package-lock.json
  backend/package.json
  backend/scripts/foretees_book.js
Due: lint-db-transactions

feat: working ForeTees v5 booking via headless Playwright browser
  .claude/settings.local.json
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  backend/scripts/foretees_book.js
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/components/signup/MyMatches.js
  frontend/src/hooks/useTeeTimes.js
  frontend/src/pages/TeeTimesPage.js
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

feat: add Node.js + Playwright to Render build for v5 booking
  backend/.gitignore
  render.yaml
Due: none

perf: use Playwright headless shell for lighter Chromium install
  backend/scripts/foretees_book.js
  render.yaml
Due: none

fix: pass date and time to bookTeeTime in all components
  frontend/src/components/foretees/ForeTeesTeeSheet.js
  frontend/src/components/signup/MatchmakingSuggestions.js
  frontend/src/components/signup/MyMatches.js
Due: lint-frontend-deploy

fix: rename time param to slot_time to avoid shadowing time module
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: make Playwright install optional in Render build
  render.yaml
Due: none

fix: remove Node.js/Playwright from Render build
  render.yaml
Due: none

feat: switch Render to Docker with Node.js + Playwright
  backend/Dockerfile
  render.yaml
Due: none

revert: switch back to Python runtime on Render
  render.yaml
Due: none

feat: separate Node.js booking microservice for Render deployment
  backend/app/services/foretees_service.py
  backend/scripts/foretees_cancel.js
  booking-service/.gitignore
  booking-service/package-lock.json
  booking-service/package.json
  booking-service/server.js
  render.yaml
Due: lint-db-transactions

fix: remove unsupported ipAllowList from render.yaml database config
  render.yaml
Due: none

fix: remove databaseName and user from render.yaml db config
  render.yaml
Due: none

fix: remove database and disk from render.yaml Blueprint
  render.yaml
Due: none

fix: fix Playwright install on Render Node.js environment
  booking-service/package.json
  render.yaml
Due: none

feat: add tee time cancel button
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  frontend/src/components/foretees/ForeTeesTeeSheet.js
  frontend/src/hooks/useTeeTimes.js
Due: lint-db-transactions, lint-frontend-deploy

fix: move validators back into BookTeeTimeRequest class body
  backend/app/routers/foretees.py
Due: lint-db-transactions

fix: show ForeTees rejection messages from all response shapes
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

fix: use fresh httpx client for booking service calls
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: wake booking service before calling book/cancel (free tier sleeps)
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: show wait time message during booking on free tier
  frontend/src/components/foretees/BookingModal.js
Due: lint-frontend-deploy

feat: pre-wake booking service when tee sheet loads
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

fix: handle non-JSON responses from booking service (503, timeouts)
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: handle null booking result — show error toast instead of silent failure
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

fix: use no-cors mode for booking service wake-up ping
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

fix: use postinstall for Playwright chromium download on Render
  booking-service/package.json
  render.yaml
Due: none

Fix npm build warning: remove unused bookingError variable
  frontend/src/components/foretees/ForeTeesTeeSheet.js
Due: lint-frontend-deploy

Update lockfile and service worker version from build
  frontend/package-lock.json
  frontend/public/service-worker.js
  frontend/public/version.json
Due: lint-frontend-deploy, check-sw-version-script

fix: install chromium-headless-shell + prevent crash on Playwright errors
  booking-service/package.json
  booking-service/server.js
Due: none

fix: move Playwright install to build command with --with-deps for system libs
  booking-service/package.json
  render.yaml
Due: none

fix: remove --with-deps from playwright install (no root on Render)
  render.yaml
Due: none

fix: install Playwright browsers into project dir to survive Render deploy
  render.yaml
Due: none

fix: set PLAYWRIGHT_BROWSERS_PATH in server.js before require
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  booking-service/server.js
Due: lint-db-transactions

fix: use absolute path for PLAYWRIGHT_BROWSERS_PATH in build command
  render.yaml
Due: none

fix: move Playwright browser install to postinstall script
  booking-service/package.json
  render.yaml
Due: none

fix: guard against empty credentials before calling booking service
  backend/app/services/foretees_service.py
Due: lint-db-transactions

debug: log which ForeTees service path is taken per request
  backend/app/routers/foretees.py
Due: lint-db-transactions

debug: log raw booking field names to find correct time key
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: use ttdata for cancel instead of time-based navigation
  .claude/settings.local.json
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  booking-service/server.js
  frontend/src/components/foretees/ForeTeesTeeSheet.js
  frontend/src/hooks/useTeeTimes.js
Due: lint-db-transactions, lint-frontend-deploy

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
