Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

feat(auth): gate admin routes on verified Auth0 claims, not a spoofable header
  .github/workflows/_cron-curl.yml
  .github/workflows/sheet-sync.yml
  backend/app/badge_routes.py
  backend/app/main.py
  backend/app/routers/admin.py
  backend/app/routers/admin_oauth.py
  backend/app/routers/callouts.py
  backend/app/routers/players.py
  backend/app/routers/signups.py
  backend/app/routers/unified_data.py
  backend/app/schemas/players.py
  backend/app/services/auth_service.py
  backend/app/utils/admin_auth.py
  backend/tests/conftest.py
  backend/tests/unit/routers/test_admin_oauth_router.py
  backend/tests/unit/routers/test_admin_router.py
  backend/tests/unit/routers/test_badge_routes.py
  backend/tests/unit/routers/test_legacy_roster_admin.py
  backend/tests/unit/routers/test_livsow_router.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/routers/test_spreadsheet_sync_router.py
  backend/tests/unit/routers/test_unified_data_router.py
  deploy/gcp/phase1-cloud-run/env.production.yaml
  docs/guides/admin-access.md
  docs/guides/google-sheets-sync.md
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/hooks/useAuthenticatedFetch.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/AdminPage.jsx
  frontend/src/pages/admin/DatabaseManager.jsx
  frontend/src/utils/adminAuth.js
  scripts/diagnostics/test_all_routes.py
Due: lint-db-transactions, lint-frontend-deploy

feat(scorekeeper): let the hitting order be redone mid-game
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/gameReducer.reorder.test.js
  frontend/src/components/game/gameReducer.js
  frontend/src/components/game/scorekeeper/HoleHeader.jsx
  frontend/src/components/game/useGameActions.js
Due: lint-frontend-deploy

fix(handicaps): stop handing out strokes the group never agreed to
  backend/app/engine/hole_setup.py
  backend/app/routers/games_players.py
  backend/app/state/course_manager.py
  backend/app/validators/handicap_validator.py
  backend/openapi.json
  backend/tests/game_rules/special/test_creecher_feature.py
  backend/tests/unit/engine/test_hole_info_from_course.py
  backend/tests/unit/routers/test_create_custom_game.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/api/schema.d.ts
  frontend/src/components/game/ScoreInputField.jsx
  frontend/src/components/game/Scorecard.jsx
  frontend/src/components/game/__tests__/ScoreInputField.test.jsx
  frontend/src/components/game/__tests__/Scorecard.test.jsx
  frontend/src/pages/CreateGamePage.jsx
  frontend/src/pages/__tests__/CreateGamePage.test.jsx
  frontend/src/utils/strokeAllocation.jsx
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

fix(openapi): regenerate the contract on the pinned fastapi/pydantic
  backend/openapi.json
  frontend/src/api/schema.d.ts
Due: lint-frontend-deploy

fix(join): resolve handicaps from roster on the join-code path too
  backend/app/routers/games.py
  backend/app/routers/games_players.py
  backend/app/schemas/games.py
  backend/app/utils/handicap_resolve.py
  backend/openapi.json
  backend/tests/unit/routers/test_games_router.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/api/schema.d.ts
  frontend/src/pages/JoinGamePage.jsx
  frontend/src/pages/__tests__/JoinGamePage.test.jsx
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

fix(scorekeeper): persist float/Duncan/aardvark on hole submit and lock the math
  backend/app/routers/games_holes.py
  backend/openapi.json
  backend/tests/unit/routers/test_games_holes_router.py
  backend/tests/unit/services/test_hole_completion_service.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/api/schema.d.ts
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/__tests__/useHoleSubmission.test.js
  frontend/src/hooks/useHoleSubmission.js
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

test(scorekeeper): lock TeamSelector, specials, Joe's Special, and order nudge
  backend/tests/unit/services/test_hole_completion_service.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/gameReducer.reorder.test.js
  frontend/src/components/game/scorekeeper/__tests__/HoleHeader.test.jsx
  frontend/src/components/game/scorekeeper/__tests__/SpecialActionsPanel.test.jsx
  frontend/src/components/game/scorekeeper/__tests__/TeamSelector.test.jsx
  frontend/src/utils/__tests__/hittingOrder.test.js
  frontend/src/utils/hittingOrder.js
Due: lint-frontend-deploy, check-sw-version-script

feat(scorekeeper): wire carry-over wager doubling and badge
  backend/app/routers/games_holes.py
  backend/openapi.json
  backend/tests/unit/services/test_hole_completion_service.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/api/schema.d.ts
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.jsx
  frontend/src/components/game/scorekeeper/HoleHeader.jsx
  frontend/src/components/game/scorekeeper/__tests__/HoleHeader.test.jsx
  frontend/src/hooks/__tests__/useHoleSubmission.test.js
  frontend/src/hooks/useHoleSubmission.js
  frontend/src/hooks/useScorekeeperSync.js
  frontend/src/services/syncManager.jsx
  frontend/src/utils/__tests__/carryOver.test.js
  frontend/src/utils/carryOver.js
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

fix(sync): keep hole scores alive through bad course signal
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/hooks/useGameState.js
  frontend/src/hooks/useScorekeeperSync.js
  frontend/src/pages/SimpleScorekeeperPage.jsx
  frontend/src/services/__tests__/syncManager.offline.test.js
  frontend/src/services/syncManager.jsx
Due: lint-frontend-deploy, check-sw-version-script

test(scorekeeper): carry-over E2E, sync integration, and scorekeeper testids
  frontend/src/App.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/HoleHeader.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/game/scorekeeper/__tests__/HoleHeader.test.jsx
  frontend/src/pages/SimpleScorekeeperPage.jsx
  frontend/src/services/__tests__/carryOverSync.integration.test.js
  frontend/tests/e2e/page-objects/ScorekeeperPage.js
  frontend/tests/e2e/tests/scenarios/betting-scenarios.spec.js
  frontend/tests/e2e/utils/test-helpers.js
Due: lint-frontend-deploy

feat(scorecard): add Vertex Gemini scorecard agent on Cloud Run
  .github/workflows/deploy-gcp.yml
  backend/app/routers/scorecard.py
  backend/app/services/scorecard_agent_client.py
  backend/app/services/scorecard_scan_dispatcher.py
  backend/tests/unit/routers/test_scorecard_router.py
  backend/tests/unit/services/test_scorecard_agent_client.py
  backend/tests/unit/services/test_scorecard_scan_dispatcher.py
  deploy/gcp/cloudbuild-scorecard.yaml
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/phase8-scorecard/10-deploy.sh
  deploy/gcp/phase8-scorecard/README.md
  deploy/gcp/secrets.md
  scorecard-agent/.gitignore
  scorecard-agent/Dockerfile
  scorecard-agent/README.md
  scorecard-agent/app/__init__.py
  scorecard-agent/app/agent.py
  scorecard-agent/app/config.py
  scorecard-agent/app/data/scorecard_examples/example_001.jpeg
  scorecard-agent/app/data/scorecard_examples/example_001.png
  scorecard-agent/app/data/scorecard_examples/example_001_ground_truth.json
  scorecard-agent/app/extract.py
  scorecard-agent/app/main.py
  scorecard-agent/app/scorecard_preprocess.py
  scorecard-agent/app/vision.py
  scorecard-agent/requirements-testing.txt
  scorecard-agent/requirements.txt
  scorecard-agent/tests/conftest.py
  scorecard-agent/tests/test_agent_config.py
  scorecard-agent/tests/test_scan_endpoint.py
Due: lint-db-transactions

chore(openapi): sync contract after scorecard router doc update
  backend/openapi.json
Due: none

chore(openapi): regenerate frontend API types for scorecard router
  frontend/src/api/schema.d.ts
Due: lint-frontend-deploy

fix(scorecard): flip production to Vertex agent, reuse booking secret
  backend/app/services/scorecard_scan_dispatcher.py
  backend/tests/unit/services/test_scorecard_scan_dispatcher.py
  deploy/gcp/cloudbuild-scorecard.yaml
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase1-cloud-run/env.production.yaml
  deploy/gcp/secrets.md
Due: lint-db-transactions

feat(commissioner): move Ask Commissioner to Vertex Gemini
  backend/app/observability/external_checks.py
  backend/app/routers/commissioner.py
  backend/app/services/commissioner_llm_service.py
  backend/requirements.txt
  backend/tests/contract/test_commissioner_llm_contract.py
  backend/tests/contract/test_groq_contract.py
  backend/tests/unit/observability/test_external_checks.py
  backend/tests/unit/routers/test_commissioner_router.py
  backend/tests/unit/routers/test_health_external.py
  deploy/gcp/cloudbuild.yaml
  deploy/gcp/phase1-cloud-run/env.production.yaml
Due: lint-db-transactions

feat(commissioner): route data-chat through ADK agent with SQL tools
  backend/app/routers/commissioner.py
  backend/app/services/commissioner_adk_service.py
  backend/app/services/commissioner_llm_service.py
  backend/requirements.txt
  backend/tests/unit/routers/test_commissioner_router.py
  backend/tests/unit/services/test_commissioner_adk_service.py
Due: lint-db-transactions

fix(auth): pin every token request to the API audience so club linking ties in
  frontend/src/components/chat/GroupMeChat.jsx
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
  frontend/src/components/game/livsow/TeamEditModal.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/hooks/useAuthenticatedFetch.js
  frontend/src/hooks/useMatchmaking.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/hooks/useTeeTimes.js
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

fix(auth): pin the API audience in useAccessToken so getToken stops minting opaque tokens
  frontend/src/hooks/useAccessToken.js
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

fix(notifications): stop 500ing on GET /notifications when the list is non-empty
  backend/app/routers/notifications.py
  backend/tests/unit/routers/test_notifications_router.py
Due: lint-db-transactions

feat(linking): resolve club player on the backend, drop the upfront gate
  backend/app/routers/signups.py
  backend/app/services/auth_service.py
  backend/tests/unit/routers/test_signups_router.py
  backend/tests/unit/services/test_auth_service.py
  frontend/src/App.jsx
  frontend/src/components/auth/OnboardingModal.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/components/auth/index.js
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(joining): one-click club-player link, promote/sync auto-link, claimed-name guards
  backend/app/routers/players.py
  backend/app/services/auth_service.py
  backend/app/services/legacy_player_service.py
  backend/tests/unit/routers/test_players_router.py
  backend/tests/unit/services/test_auth_new_player_capture.py
  backend/tests/unit/services/test_legacy_player_service.py
  frontend/src/components/admin/RosterManager.jsx
  frontend/src/components/admin/__tests__/RosterManager.test.jsx
  frontend/src/components/auth/LegacyNameSelector.jsx
  frontend/src/components/auth/OnboardingWrapper.jsx
  frontend/src/components/auth/__tests__/OnboardingWrapper.test.jsx
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/pages/HomePage.css
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/__tests__/HomePage.clubLink.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(identity): audit signup mappings and pause legacy sheet sync
  backend/tests/unit/routers/test_signups_router.py
  backend/tests/unit/services/test_signup_identity_audit.py
  deploy/gcp/phase1-cloud-run/env.production.yaml
  docs/guides/issue-319-identity-audit.md
  docs/guides/tee-sheet-safety.md
  scripts/diagnostics/audit_signup_identities.py
Due: none

fix(deploy): preserve disabled booking integration on merge
  deploy/gcp/phase1-cloud-run/env.production.yaml
  docs/guides/issue-319-identity-audit.md
Due: none

fix(identity): audit signup mappings and pause legacy sheet integration (#351)
  backend/tests/unit/routers/test_signups_router.py
  backend/tests/unit/services/test_signup_identity_audit.py
  deploy/gcp/phase1-cloud-run/env.production.yaml
  docs/guides/issue-319-identity-audit.md
  docs/guides/tee-sheet-safety.md
  scripts/diagnostics/audit_signup_identities.py
Due: none

fix(leaderboard): exclude rounds before the current season
  backend/app/services/unified_data_service.py
  backend/tests/unit/services/test_unified_data_service.py
Due: lint-db-transactions

fix(leaderboard): exclude rounds before the current season (#352)
  backend/app/services/unified_data_service.py
  backend/tests/unit/services/test_unified_data_service.py
Due: lint-db-transactions

fix(leaderboard): link player names to profiles and history
  frontend/src/App.jsx
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/game/__tests__/Leaderboard.test.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
Due: lint-frontend-deploy

fix(booking): hide tee-time booking behind a disabled flag
  backend/app/services/foretees_service.py
  backend/tests/unit/services/test_foretees_disabled.py
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/config/features.js
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/SignupPage.jsx
  frontend/src/pages/__tests__/SignupPage.booking-disabled.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(account): preserve calendar dates in recent rounds
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/__tests__/AccountPage.stats.test.js
Due: lint-frontend-deploy

fix: pause tee-time booking and correct account round dates (#354)
  backend/app/services/foretees_service.py
  backend/tests/unit/services/test_foretees_disabled.py
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/config/features.js
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/SignupPage.jsx
  frontend/src/pages/__tests__/AccountPage.stats.test.js
  frontend/src/pages/__tests__/SignupPage.booking-disabled.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(preferences): authenticate requests and surface load failures
  frontend/src/components/signup/EmailPreferences.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/components/signup/__tests__/EmailPreferences.test.jsx
Due: lint-frontend-deploy

fix(preferences): prevent edits while saving
  frontend/src/components/signup/EmailPreferences.jsx
  frontend/src/components/signup/__tests__/EmailPreferences.test.jsx
Due: lint-frontend-deploy

fix(preferences): authenticate requests and surface load failures (#355)
  frontend/src/components/signup/EmailPreferences.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/components/signup/__tests__/EmailPreferences.test.jsx
Due: lint-frontend-deploy

fix(gcp): allow the production custom domain
  deploy/gcp/phase1-cloud-run/env.production.yaml
Due: none

fix(gcp): allow the production custom domain (#356)
  deploy/gcp/phase1-cloud-run/env.production.yaml
Due: none

fix(frontend): compile Tailwind for production
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.jsx
  frontend/src/tailwind.css
  frontend/tailwind.config.js
Due: lint-frontend-deploy

fix(ci): use public npm registry for Tailwind packages
  frontend/package-lock.json
Due: none

fix(caps): repair LedgerEntry schema drift and api-surface check
  .ctk/caps/ledger.py
  .ctk/checks/api_surface_baseline.json
  .ctk/checks/api_surface_check.py
  .ctk/ledger.json
  capabilities.yaml
  deploy/gcp/config.env.example
  deploy/gcp/phase3-hosting/CUSTOM_DOMAIN_DNS.md
  deploy/gcp/phase3-hosting/README.md
Due: none

fix(hosting): add HSTS includeSubDomains and preload directives
  deploy/gcp/phase3-hosting/firebase.json
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
