Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

feat: edit hole modal for quick edits without overwriting current hole
  frontend/src/components/game/EditHoleModal.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

fix: remove lockfile to avoid npm 11/10 version mismatch on Vercel
  frontend/package-lock.json
Due: none

fix: switch Vercel install from npm ci to npm install
  vercel.json
Due: none

fix: include vercel.json in ignore command diff check
  vercel.json
Due: none

fix: resolve Vite build errors from CRA migration
  frontend/package.json
  frontend/scripts/lint-frontend-deploy.cjs
  frontend/scripts/update-sw-version.cjs
  frontend/src/components/game/StaleGameBanner.jsx
Due: lint-frontend-deploy

feat: simplify quarters panel to manual-only with sticky balance indicator
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
Due: lint-frontend-deploy

fix: remove stuart mode and photo scan from scorekeeper flow
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

fix: simplify game_id UUID backfill to unblock schema sync transaction
  backend/schema/add_game_id_to_game_state_postgres.sql
Due: none

fix: stop dropping schema statements with leading comments
  backend/ensure_schema.py
Due: none

fix: handle comment-only segments in schema sync; drop dead hole migration
  backend/app/migrations/__init__.py
  backend/ensure_schema.py
  backend/render-startup.py
Due: lint-db-transactions

fix: route naive datetime.now() / utcnow() through utc_now() helper
  backend/app/course_import.py
  backend/app/domain/game_types.py
  backend/app/domain/wgp_handlers_betting.py
  backend/app/domain/wgp_handlers_core.py
  backend/app/domain/wgp_handlers_teams.py
  backend/app/fix_wing_point_data.py
  backend/app/middleware/caching.py
  backend/app/middleware/rate_limiting.py
  backend/app/routers/admin.py
  backend/app/routers/analytics.py
  backend/app/routers/betting_odds.py
  backend/app/routers/games.py
  backend/app/routers/health.py
  backend/app/routers/matchmaking.py
  backend/app/routers/messages.py
  backend/app/routers/sheet_integration.py
  backend/app/routers/signups.py
  backend/app/seed_courses.py
  backend/app/seed_data.py
  backend/app/services/auth_service.py
  backend/app/services/email_scheduler.py
  backend/app/services/ghin_service.py
  backend/app/services/leaderboard_service.py
  backend/app/services/matchmaking_service.py
  backend/app/services/pairing_scheduler_service.py
  backend/app/services/player_service.py
  backend/app/services/sheet_integration_service.py
  backend/app/services/statistics_service.py
  backend/app/services/team_formation_service.py
  backend/app/services/unified_data_service.py
  backend/app/utils/time.py
  backend/tests/unit/services/test_pairing_scheduler_service.py
Due: lint-db-transactions

fix: import email scheduler init; route remaining datetime.now(UTC) through utc_now
  backend/app/badge_engine.py
  backend/app/badge_seeds.py
  backend/app/fallback_game_manager.py
  backend/app/main.py
  backend/app/mixins/persistence_mixin.py
  backend/app/routers/admin.py
  backend/app/routers/course_data_update.py
  backend/app/routers/courses.py
  backend/app/routers/games.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
  backend/app/routers/matchmaking.py
  backend/app/routers/players.py
  backend/app/routers/spreadsheet_sync.py
  backend/app/routers/unified_data.py
  backend/app/services/game_lifecycle_service.py
  backend/app/services/notification_service.py
  backend/app/utils/api_helpers.py
  backend/tests/unit/engine/test_game_lifecycle_service.py
Due: lint-db-transactions

feat: re-add Stuart Mode behind Cmd/Ctrl+Shift+S, no visible toggle
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

feat: add long-press activation for Stuart Mode (mobile-friendly)
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

feat(stuart-mode): pre-fill AI gross scores when playing solo
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/utils/stuartModeSimulation.js
Due: lint-frontend-deploy

feat(stuart-mode): AI captain auto-picks team mode + partner
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/utils/stuartModeAiDecisions.js
Due: lint-frontend-deploy

feat(stuart-mode): full betting sim — partner accept/decline + doubles
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/utils/stuartModeAiDecisions.js
Due: lint-frontend-deploy

fix(stuart-mode): treat handicap=0 as scratch, not as default 18
  frontend/src/utils/stuartModeAiDecisions.js
  frontend/src/utils/stuartModeSimulation.js
Due: lint-frontend-deploy

tune(stuart-mode): calibrate solo gate + throttle AI doubles
  frontend/src/utils/stuartModeAiDecisions.js
Due: lint-frontend-deploy

feat(stuart-mode): live tee → after-tee → green hole phases
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/utils/stuartModeAiDecisions.js
Due: lint-frontend-deploy

feat(stuart-mode): add visible 🧠 toggle in top-right corner
  frontend/src/components/game/SimpleScorekeeper.jsx
Due: lint-frontend-deploy

feat(scorecard-scan): zero-sum validation, JSON robustness, image preprocessing
  backend/app/services/scorecard_scan_service.py
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/utils/scorecardImage.js
Due: lint-db-transactions, lint-frontend-deploy

docs: scorecard circle preprocessing design spec
  docs/superpowers/specs/2026-04-28-scorecard-circle-preprocessing-design.md
Due: none

docs: scorecard circle preprocessing implementation plan
  docs/superpowers/plans/2026-04-28-scorecard-circle-preprocessing.md
Due: none

chore(backend): add opencv-python-headless for scorecard circle detection
  backend/requirements.txt
Due: none

feat(scorecard-scan): scaffold scorecard_preprocess module
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

feat(scorecard-scan): decode pipeline with graceful failure
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

feat(scorecard-scan): hough circle detection on handwriting region
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

feat(scorecard-scan): draw red rectangles around detected circles
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

feat(scorecard-scan): integrate circle preprocessing + prompt hint
  backend/app/services/scorecard_scan_service.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

tune(scorecard-scan): raise hough param2 30→40 to cut false positives
  backend/app/services/scorecard_preprocess.py
Due: lint-db-transactions

chore(frontend): migrate component tests to .jsx + a11y labels + 0.2.0
  .gitignore
  frontend/package-lock.json
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/__mocks__/react-router-dom.jsx
  frontend/src/components/__tests__/BadgeGallery.test.jsx
  frontend/src/components/__tests__/ShotVisualizationOverlay.test.jsx
  frontend/src/components/game/__tests__/ScoreInputField.test.jsx
  frontend/src/components/game/__tests__/Scorecard.test.jsx
  frontend/src/components/game/__tests__/ShotAnalysisWidget.test.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.jsx
  frontend/src/components/game/__tests__/TeeTossModal.test.jsx
  frontend/src/components/game/scorekeeper/QuartersPanel.jsx
  frontend/src/components/signup/__tests__/AllPlayersAvailability.test.jsx
  frontend/src/components/signup/__tests__/PlayerAvailability.test.jsx
  frontend/src/components/tutorial/__tests__/TutorialSystem.test.jsx
  frontend/src/components/ui/__tests__/Button.test.jsx
  frontend/src/setupTests.js
  frontend/src/test-utils/mockFactories.jsx
  frontend/src/test-utils/testHelpers.jsx
  frontend/tests/e2e/tests/scenarios/special-rules-scenarios.spec.js
  frontend/vite.config.js
Due: lint-frontend-deploy, check-sw-version-script

docs(scorecard-scan): improvement roadmap with failure modes and sequencing
  docs/features/SCORECARD_SCAN_IMPROVEMENTS.md
Due: none

feat(scorecard-scan): cell-level eval harness for regression testing
  backend/scripts/eval_scorecard_scan.py
Due: none

feat(scorecard-scan): perspective-correction deskew before circle annotation
  backend/app/services/scorecard_preprocess.py
  backend/app/services/scorecard_scan_service.py
  backend/scripts/eval_scorecard_scan.py
  backend/tests/unit/services/test_scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

feat(scorecard-scan): grid line detection + crop to grid bounds
  backend/app/services/scorecard_preprocess.py
  backend/app/services/scorecard_scan_service.py
  backend/scripts/eval_scorecard_scan.py
  backend/tests/unit/services/test_scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_scan_service.py
Due: lint-db-transactions

chore(scorecard-scan): clean up RUF059 unused unpacks in new tests
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
