Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

fix: repair broken imports after component reorganization
  .github/workflows/frontend-ci.yml
  frontend/src/components/analytics/PerformanceAnalytics.js
  frontend/src/components/integration/GoogleSheetsLiveSync.js
  frontend/src/components/integration/SheetIntegrationDashboard.js
  frontend/src/components/player/PlayerProfileManager.js
  frontend/src/components/player/PlayerStatistics.js
Due: lint-frontend-deploy

fix: update broken doc links and script paths after codebase reorganization
  README.md
  docs/README.md
  docs/backend/BOOTSTRAP_README.md
  docs/development/AGENTS.md
  docs/development/CLAUDE_AUTOMATION_README.md
  docs/development/project-brief.md
  docs/guides/ADMIN_SYNC_GUIDE.md
  docs/guides/BACKEND_FRONTEND_CONNECTIVITY.md
  docs/guides/DEPLOYMENT_BEST_PRACTICES.md
  docs/guides/DOCKER-SETUP.md
  docs/guides/GHIN_QUICK_START.md
  docs/guides/PODMAN_TESTING_GUIDE.md
  docs/guides/PRODUCTION_SYNC_VERIFICATION.md
  docs/guides/QUICK_SYNC_REFERENCE.md
  docs/guides/README-DOCKER.md
  docs/guides/RESILIENCE_GUIDE.md
  docs/guides/browser-testing.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/legacy-signup-bridge.md
  docs/guides/local-deployment-testing.md
  docs/guides/local-development.md
  docs/guides/production-setup.md
  docs/status/current-state.md
  scripts/deployment/test-prod-all.sh
Due: none

refactor: continue codebase organization — relocate misplaced files and fix references
  README.md
  backend/docker-compose.yml
  backend/tests/test_hole_update_fix.py
  backend/tests/test_monte_carlo_api.py
  config/Procfile
  docs/backend/GAME_STATE_VALIDATOR_USAGE.md
  docs/backend/NOTIFICATION_SERVICE_QUICK_REFERENCE.md
  docs/backend/NOTIFICATION_SERVICE_README.md
  docs/development/AGENTS.md
  docs/frontend/AUTH0_CREDENTIALS_SETUP.md
  docs/frontend/AUTH0_SETUP.md
  docs/frontend/ROUTING.md
  docs/frontend/TEST_REPORT.md
  docs/guides/DEPLOYMENT_BEST_PRACTICES.md
  docs/guides/deployment-troubleshooting.md
  docs/guides/local-deployment-testing.md
  docs/guides/local-development.md
  docs/guides/production-setup.md
  docs/status/current-state.md
  docs/testing/e2e-scenarios/BACKEND_FIX_SUMMARY.md
  docs/testing/e2e-scenarios/COMPLETE_SUMMARY.md
  docs/testing/e2e-scenarios/FINAL_DELIVERABLE.md
  docs/testing/e2e-scenarios/FINAL_STATUS.md
  docs/testing/e2e-scenarios/FINAL_SUMMARY.md
  docs/testing/e2e-scenarios/FINAL_TEST_STATUS.md
  docs/testing/e2e-scenarios/IMPLEMENTATION_NOTES.md
  docs/testing/e2e-scenarios/INDEX.md
  docs/testing/e2e-scenarios/QUARTERS_FOCUSED_TESTS.md
  docs/testing/e2e-scenarios/SOLUTION_MOCKED_TESTS.md
  docs/testing/e2e-scenarios/TEST_STATUS_REPORT.md
  docs/testing/e2e-scenarios/UI_GAPS_ANALYSIS.md
  package.json
  pytest.ini
  scripts/deployment/test-prod-all.sh
  scripts/deployment/validate_pre_deploy.py
  scripts/deployment/verify_live_deployments.py
Due: none

refactor: consolidate api-contracts, product specs, and backend utilities
  backend/api_contracts/README.md
  backend/api_contracts/__init__.py
  backend/api_contracts/game-state.schema.json
  backend/api_contracts/manager_contracts.py
  backend/api_contracts/service_contracts.py
  backend/api_contracts/test_contracts.py
  backend/api_contracts/validator_contracts.py
  backend/conftest.py
  backend/scripts/fallback_game_manager.py
  backend/scripts/fix_wing_point_data.py
  backend/scripts/migrate_player_profiles.py
  backend/scripts/migrate_score_performance.py
  backend/tests/conftest.py
  docs/product/data-model/data-model.md
  docs/product/design-system/colors.json
  docs/product/design-system/typography.json
  docs/product/product-overview.md
  docs/product/product-roadmap.md
  docs/product/sections/live-scorekeeper/LiveScorekeeperPreview.tsx
  docs/product/sections/live-scorekeeper/components/BettingActionsPanel.tsx
  docs/product/sections/live-scorekeeper/components/HoleHeader.tsx
  docs/product/sections/live-scorekeeper/components/LiveScorekeeper.tsx
  docs/product/sections/live-scorekeeper/components/NotesPanel.tsx
  docs/product/sections/live-scorekeeper/components/PlayerCard.tsx
  docs/product/sections/live-scorekeeper/components/StandingsSidebar.tsx
  docs/product/sections/live-scorekeeper/components/SubmitButton.tsx
  docs/product/sections/live-scorekeeper/components/TeamSelector.tsx
  docs/product/sections/live-scorekeeper/components/index.ts
  docs/product/sections/live-scorekeeper/data.json
  docs/product/sections/live-scorekeeper/spec.md
  docs/product/sections/live-scorekeeper/types.ts
  docs/product/shell/spec.md
  docs/testing/TEST_STREAMLINING_SUMMARY.md
  scripts/deployment/validate_deployments.py
Due: none

fix: resolve broken import paths and stale tests in frontend
  frontend/src/components/__tests__/BettingOddsPanel.test.js
  frontend/src/components/game/EnhancedScoringWidget.js
  frontend/src/components/game/GameDashboard.js
  frontend/src/components/game/GameHistory.js
  frontend/src/components/game/GameStatsTracker.js
  frontend/src/components/game/ShotRangeAnalyzer.js
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.js
  frontend/src/components/ui/AppFooter.js
  frontend/src/components/ui/ColdStartHandler.js
  frontend/src/components/ui/Navigation.js
  frontend/src/components/ui/SyncStatusIndicator.js
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
Due: lint-frontend-deploy

fix: repair broken test mock paths and remove stale usePlayerProfile test
  frontend/src/components/__tests__/BettingOddsPanel.test.js
  frontend/src/components/game/__tests__/SimpleScorekeeper.betting.test.js
  frontend/src/hooks/__tests__/usePlayerProfile.test.js
Due: lint-frontend-deploy

refactor: strip CLAUDE.md and .claude/ config down to project essentials
  .claude/create_prd.md
  .claude/create_tasks_from_prd.md
  .claude/deployment-instructions.md
  .claude/deployment-summary.md
  .claude/settings.json
  .claude/settings.local.json
  .claude/type-checking-guide.md
  CLAUDE.md
  package.json
Due: none

feat: add per-user ForeTees credentials with encrypted storage
  .env.example
  backend/app/main.py
  backend/app/models.py
  backend/app/routers/foretees.py
  backend/app/services/encryption_service.py
  backend/app/services/foretees_service.py
  backend/migrations/add_foretees_credentials.sql
  backend/migrations/add_foretees_credentials_postgres.sql
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/App.js
  frontend/src/components/foretees/BookingModal.js
  frontend/src/components/ui/Navigation.js
  frontend/src/hooks/useTeeTimes.js
  frontend/src/pages/AccountPage.js
  frontend/src/pages/TeeTimesPage.js
  render.yaml
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

fix: register foretees credentials migration in run_migrations.py
  backend/run_migrations.py
Due: none

refactor: auto-discover migration files instead of hardcoded list
  backend/run_migrations.py
Due: none

chore: bump version to trigger Vercel frontend rebuild
  frontend/public/version.json
Due: lint-frontend-deploy

fix: ensure foretees columns exist on app startup
  backend/app/main.py
Due: lint-db-transactions

refactor: remove inline migration from lifespan, rely on run_migrations.py
  backend/app/main.py
Due: lint-db-transactions

refactor: rename migrations/ to schema/, run_migrations.py to ensure_schema.py
  backend/ensure_schema.py
  backend/migrations/README.md
  backend/render-startup.py
  backend/schema/README.md
  backend/schema/add_foretees_credentials.sql
  backend/schema/add_foretees_credentials_postgres.sql
  backend/schema/add_game_id_to_game_state.sql
  backend/schema/add_game_id_to_game_state_postgres.sql
  backend/schema/add_join_codes_and_player_linking.sql
  backend/schema/add_join_codes_postgres.sql
  backend/schema/add_legacy_name_postgres.sql
  backend/schema/add_special_event_stats.sql
  backend/schema/add_streak_and_h2h_tracking.sql
  backend/schema/add_tee_order_to_game_players.sql
  backend/schema/enable_uuid_extension_postgres.sql
  backend/schema/seed_course_holes.sql
Due: none

fix: add /admin/ensure-schema endpoint to apply schema on demand
  backend/app/routers/health.py
Due: lint-db-transactions

fix: update ForeTees login form fields to match current site
  backend/app/services/foretees_service.py
  frontend/public/version.json
Due: lint-db-transactions, lint-frontend-deploy

fix: correct ForeTees SSO flow and tee sheet parsing
  backend/app/services/foretees_service.py
  frontend/public/version.json
Due: lint-db-transactions, lint-frontend-deploy

fix: parse all ForeTees error messages (notice_list, warning_list)
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
Due: lint-db-transactions

refactor: consolidate tee sheet into /signup, remove /tee-times
  frontend/public/version.json
  frontend/src/App.js
  frontend/src/components/foretees/ForeTeesTeeSheet.js
  frontend/src/components/ui/Navigation.js
  frontend/src/pages/SignupPage.js
Due: lint-frontend-deploy

feat: integrate ForeTees tee time booking into matchmaking
  frontend/src/components/signup/MatchmakingSuggestions.js
Due: lint-frontend-deploy

Fix tee time booking: form parsing, headers, and error handling
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: availability matching flow with email notifications
  backend/app/main.py
  backend/app/managers/websocket_manager.py
  backend/app/routers/matchmaking.py
  backend/app/routers/players.py
  backend/app/schemas.py
  backend/app/services/email_service.py
  frontend/src/components/signup/MyMatches.js
  frontend/src/components/signup/PlayerAvailability.js
  frontend/src/hooks/useMatchmaking.js
  frontend/src/pages/SignupPage.js
Due: lint-db-transactions, lint-frontend-deploy

feat: add Resend as native email provider
  backend/app/main.py
  backend/app/services/email_service.py
  backend/app/services/providers/resend_provider.py
  backend/requirements.txt
Due: lint-db-transactions

fix: add diagnostic logging for ForeTees booking form parse failures
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: return debug info in booking response for form parse failures
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: enhanced booking debug - search full HTML for form patterns
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: capture context around teecurr/id_hash mentions in booking debug
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: return stripped full HTML body in booking debug response
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: parse ForeTees v5 data-ftjson for booking form fields
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: try XHR JSON and POST json_mode for ForeTees v5 booking
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: broader data-ftjson regex + POST debug info in booking response
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: dump full data-ftjson section and value for diagnosis
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: dump full ftjson structure with key types for diagnosis
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: deep recursive search for real teecurr_id/id_hash in ftjson
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: use ForeTees callback_map for data-loading POST
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: clean up booking flow with proper v5 callback POST + debug
  backend/app/services/foretees_service.py
Due: lint-db-transactions

fix: reject teecurr_id=0 with OR logic, fix post_text scoping
  backend/app/services/foretees_service.py
Due: lint-db-transactions

feat: direct ttdata booking submission for ForeTees v5
  backend/app/services/foretees_service.py
Due: lint-db-transactions
