Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

.pre-commit-config.yaml:

# Pre-commit hooks for Wolf-Goat-Pig
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Standard Python linters
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  # Ruff for fast linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/mypy.ini]
        additional_dependencies:
          - types-requests
          - sqlalchemy
          - fastapi
          - pydantic

  # Custom database transaction linter
  - repo: local
    hooks:
      - id: lint-db-transactions
        name: Database Transaction Linter
        entry: backend/lint_db_transactions.py
        language: python
        types: [python]
        files: ^backend/app/.*\.py$
        pass_filenames: false
        args: ['backend/app/']
        verbose: true

      # Frontend deployment linter - catches caching/SW issues
      - id: lint-frontend-deploy
        name: Frontend Deployment Linter
        entry: node frontend/scripts/lint-frontend-deploy.js
        language: system
        files: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false
        verbose: true

      # Ensure service worker version script exists when SW changes
      - id: check-sw-version-script
        name: Check SW Version Script
        entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
        language: system
        files: ^frontend/public/service-worker\.js$
        pass_filenames: false

feat(scorecard): draw circle markers on a contrast-enhanced base image
  backend/app/services/scorecard_preprocess.py
  backend/tests/unit/services/test_scorecard_preprocess.py
Due: lint-db-transactions

chore(caps): re-prove frontend-live-production (freshness expiry)
  .ctk/ledger.json
Due: none

fix(ci): wire scorecard-eval's model override to the env var the code reads
  .github/workflows/scorecard-eval.yml
Due: none

chore(caps): re-prove health-live-production + auth-rejects-junk-token (freshness expiry)
  .ctk/ledger.json
Due: none

feat(scorecard): env-var overrides for main image size + reference examples
  .github/workflows/scorecard-eval.yml
  backend/app/services/scorecard_scan_service.py
Due: lint-db-transactions

chore(caps): re-prove scorecard-scan (source changed) + expired live checks
  .ctk/ledger.json
Due: none

chore(ci): dedupe GitHub Actions workflows
  .github/workflows/_cron-curl.yml
  .github/workflows/backend-ci.yml
  .github/workflows/callout-list.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/ghin-sync.yml
  .github/workflows/livsow-snapshot.yml
  .github/workflows/pr-checks.yml
  .github/workflows/sheet-sync.yml
Due: none

chore(ci): dedupe GitHub Actions workflows (#306)
  .github/workflows/_cron-curl.yml
  .github/workflows/backend-ci.yml
  .github/workflows/callout-list.yml
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/ghin-sync.yml
  .github/workflows/livsow-snapshot.yml
  .github/workflows/pr-checks.yml
  .github/workflows/sheet-sync.yml
Due: none

fix(auth): recover from Missing Refresh Token & surface score submit on home
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/context/__tests__/AuthContext.test.jsx
  frontend/src/hooks/useAccessToken.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

fix(auth): recover from Missing Refresh Token & surface score submit on home (#307)
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/context/__tests__/AuthContext.test.jsx
  frontend/src/hooks/useAccessToken.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/PostRoundPage.jsx
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

fix(auth): extend Missing Refresh Token recovery to remaining subpages
  frontend/src/components/chat/GroupMeChat.jsx
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
  frontend/src/components/game/livsow/TeamEditModal.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/hooks/useAccessToken.js
  frontend/src/hooks/useMatchmaking.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/hooks/useTeeTimes.js
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

fix(auth): extend Missing Refresh Token recovery to remaining subpages (#308)
  frontend/src/components/chat/GroupMeChat.jsx
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
  frontend/src/components/game/livsow/TeamEditModal.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/hooks/useAccessToken.js
  frontend/src/hooks/useMatchmaking.js
  frontend/src/hooks/usePlayerProfile.js
  frontend/src/hooks/useTeeTimes.js
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
  frontend/src/pages/__tests__/PlayerProfilePage.test.jsx
  frontend/src/services/__tests__/authToken.test.js
  frontend/src/services/authToken.js
Due: lint-frontend-deploy

feat(home): prioritize signup, standings, and group score attestation
  backend/app/routers/member_rounds.py
  backend/app/services/notification_service.py
  backend/tests/unit/routers/test_member_rounds_router.py
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/pages/HomePage.css
  frontend/src/pages/HomePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(home): prioritize signup, standings, and group score attestation (#309)
  backend/app/routers/member_rounds.py
  backend/app/services/notification_service.py
  backend/tests/unit/routers/test_member_rounds_router.py
  frontend/src/components/rounds/PostRoundForm.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/components/ui/NotificationBell.jsx
  frontend/src/pages/HomePage.css
  frontend/src/pages/HomePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(signup): default Sign up to play to the day-by-day sheet
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/SignupPage.jsx
Due: lint-frontend-deploy

fix(signup): default Sign up to play to the day-by-day sheet (#310)
  frontend/src/App.jsx
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/SignupPage.jsx
Due: lint-frontend-deploy

docs: add Firebase migration design doc (draft/RFC)
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

docs: lock database decision to Cloud SQL for PostgreSQL
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

fix(signup): use logged-in player profile for daily sign-ups
  frontend/src/components/signup/DailySignupView.jsx
Due: lint-frontend-deploy

docs: lock hosting/auth/interim-DB decisions in Firebase design
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

docs: accept Cloud SQL always-on floor (D6)
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

test(signup): prove daily signup uses current player
  .ctk/ledger.json
  capabilities.yaml
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-frontend-deploy

chore(ctk): gate tested backend services that lacked capabilities
  .ctk/ledger.json
  capabilities.yaml
Due: none

docs: drop WebSockets for stateless HTTP (D7)
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

refactor: remove WebSocket layer in favor of stateless HTTP
  backend/app/main.py
  backend/app/managers/__init__.py
  backend/app/managers/websocket_manager.py
  backend/app/routers/websocket_routes.py
  backend/tests/infra/test_imports.py
  backend/tests/unit/routers/test_websocket_routes_router.py
  frontend/src/hooks/useMatchmaking.js
Due: lint-db-transactions, lint-frontend-deploy

refactor: remove WebSocket layer in favor of stateless HTTP (#312)
  backend/app/main.py
  backend/app/managers/__init__.py
  backend/app/managers/websocket_manager.py
  backend/app/routers/websocket_routes.py
  backend/tests/infra/test_imports.py
  backend/tests/unit/routers/test_websocket_routes_router.py
  frontend/src/hooks/useMatchmaking.js
Due: lint-db-transactions, lint-frontend-deploy

docs: Firebase migration design doc (#311)
  docs/architecture/FIREBASE_MIGRATION_DESIGN.md
Due: none

chore(ctk): gate remaining backend services with capability proofs
  .ctk/ledger.json
  backend/tests/unit/services/test_email_scheduler.py
  backend/tests/unit/services/test_hole_completion_service.py
  backend/tests/unit/services/test_league_media_service.py
  backend/tests/unit/services/test_livsow_service.py
  backend/tests/unit/services/test_post_hole_analysis_service.py
  capabilities.yaml
Due: none

Disconnect the legacy tee sheet connection behind a feature flag
  .env.example
  backend/.env.example
  backend/app/observability/external_checks.py
  backend/app/routers/tee_sheet.py
  backend/tests/unit/observability/test_external_checks.py
  backend/tests/unit/routers/test_tee_sheet_router.py
  frontend/package-lock.json
  frontend/src/pages/SignupPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

Remove the "Replicate to Legacy Signup Page" button from DailySignupView
  frontend/src/components/signup/DailySignupView.jsx
Due: lint-frontend-deploy

feat: establish OpenAPI contract with generated frontend types
  .github/workflows/openapi-contract.yml
  backend/app/routers/health.py
  backend/openapi.json
  backend/scripts/export_openapi.py
  docs/development/API_CONTRACT.md
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/schema.d.ts
  frontend/src/hooks/useMatchmaking.js
Due: lint-db-transactions, lint-frontend-deploy

Normalize retired signup tab IDs in the URL to the calendar view
  frontend/src/pages/SignupPage.jsx
Due: lint-frontend-deploy

fix(signup): derive daily signup identity from authenticated profile
  .ctk/ledger.json
  backend/app/routers/signups.py
  backend/app/schemas/signups.py
  backend/tests/unit/routers/test_signups_router.py
  backend/tests/unit/routers/test_team_formation_router.py
  capabilities.yaml
  docs/product/GO_TO_PROD_PLAN.md
  frontend/src/components/signup/DailySignupView.jsx
  frontend/src/components/signup/__tests__/DailySignupView.test.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat: establish OpenAPI contract with generated frontend types (#314)
  .github/workflows/openapi-contract.yml
  backend/app/routers/health.py
  backend/openapi.json
  backend/scripts/export_openapi.py
  docs/development/API_CONTRACT.md
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/api/schema.d.ts
  frontend/src/hooks/useMatchmaking.js
Due: lint-db-transactions, lint-frontend-deploy

refactor: migrate matchmaking components to the typed API client
  frontend/src/api/http.ts
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
Due: lint-frontend-deploy

chore: regenerate OpenAPI contract to match current backend
  backend/openapi.json
  frontend/src/api/schema.d.ts
Due: lint-frontend-deploy

test(signup): verify persisted identity by readback
  .ctk/ledger.json
  backend/tests/unit/routers/test_signups_router.py
Due: none

build: pin fastapi and pydantic for a reproducible OpenAPI contract
  backend/requirements.txt
Due: none

refactor: migrate matchmaking components to the typed API client (#315)
  backend/openapi.json
  backend/requirements.txt
  frontend/src/api/http.ts
  frontend/src/api/schema.d.ts
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
Due: lint-frontend-deploy

refactor: make typed client test-mockable; migrate availability views
  frontend/src/api/client.ts
  frontend/src/components/signup/AllPlayersAvailability.jsx
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/components/signup/__tests__/PlayerAvailability.test.jsx
  frontend/src/test-utils/mockFactories.jsx
Due: lint-frontend-deploy
