Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix(db): auto-apply migrations/*.sql at startup — fixes badges.emoji 500
  backend/app/main.py
  backend/app/migrations_runner.py
  backend/tests/unit/services/test_livsow_transactions.py
Due: lint-db-transactions

fix(badges): /available 500 — func.case is not sqlalchemy.case
  backend/app/badge_routes.py
  backend/tests/unit/routers/test_badge_routes.py
Due: lint-db-transactions

feat(livsow): public standings, desktop two-column layout, chat polish
  frontend/src/App.jsx
  frontend/src/components/chat/GroupMeFeed.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
Due: lint-frontend-deploy

revert(livsow): require login again — undo public standings access
  frontend/src/App.jsx
Due: lint-frontend-deploy

feat(livsow): captain-editable team pages (no-code)
  backend/app/models.py
  backend/app/routers/unified_data.py
  backend/migrations/add_livsow_team_content_postgres.sql
  backend/tests/unit/routers/test_livsow_router.py
  frontend/src/components/game/livsow/LivSowTeamPage.jsx
  frontend/src/components/game/livsow/TeamEditModal.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(livsow): starter content for each franchise + admin seeder
  backend/app/routers/unified_data.py
  backend/tests/unit/routers/test_livsow_router.py
Due: lint-db-transactions

feat(livsow): official team crests as logos
  backend/app/routers/unified_data.py
  backend/tests/unit/routers/test_livsow_router.py
  frontend/public/livsow-logos/high-beta.png
  frontend/public/livsow-logos/knudsen-s-ironheads.png
  frontend/public/livsow-logos/ripper-golf-club.png
  frontend/public/livsow-logos/saks-smash.png
  frontend/public/livsow-logos/sutorius-aces.png
  frontend/public/livsow-logos/vice-grips.png
Due: lint-db-transactions

fix(pwa): serve HTML network-first so deploys don't break nav
  frontend/public/service-worker.js
  frontend/public/version.json
Due: lint-frontend-deploy, check-sw-version-script

feat(nav): add LivSow + League Chat to the home hamburger menu
  frontend/src/pages/HomePage.jsx
Due: lint-frontend-deploy

refactor(nav): one navigation system — remove the home-page hamburger
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/HomePage.jsx
Due: lint-frontend-deploy

feat(stuart-mode): make the toggle discoverable — labeled inline switch
  frontend/src/components/game/scorekeeper/StuartModeControls.jsx
Due: lint-frontend-deploy

feat(game): create games with real or ghost (AI) players
  backend/app/routers/games.py
  backend/app/routers/games_players.py
  backend/tests/unit/routers/test_create_custom_game.py
  frontend/src/pages/CreateGamePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(game): roster picker covers the whole league (rostered + free agents)
  backend/app/routers/games_players.py
Due: lint-db-transactions

feat(scorekeeper): add Coach assist mode for real rounds
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/components/game/__tests__/SimpleScorekeeper.stuartmode.test.jsx
  frontend/src/components/game/scorekeeper/StuartModeControls.jsx
  frontend/src/hooks/useUIState.js
  frontend/src/pages/CreateGamePage.jsx
Due: lint-frontend-deploy

fix(scorekeeper): remove spurious Rotation/Wager Error banner
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/hooks/useScorekeeperSync.js
Due: lint-frontend-deploy

fix(scorekeeper): cap the round at 18 holes
  frontend/src/components/game/scorekeeper/HoleNavigation.jsx
  frontend/src/components/game/scorekeeper/__tests__/HoleNavigation.test.jsx
  frontend/src/hooks/useHoleSubmission.js
Due: lint-frontend-deploy

fix(games): persist scorekeeper scores so /state reflects them (sync fix)
  backend/app/routers/games_holes.py
  backend/tests/unit/routers/test_games_holes_router.py
Due: lint-db-transactions

fix(games): flag_modified on remaining game.state JSON writes
  backend/app/routers/games.py
  backend/app/routers/games_players.py
Due: lint-db-transactions

refactor(models): MutableDict on game.state to prevent silent JSON drops
  backend/app/models.py
  backend/app/routers/games.py
  backend/app/routers/games_players.py
  backend/tests/unit/test_mutable_state.py
Due: lint-db-transactions

test(api): close read-after-write gaps (silent-persistence regression guards)
  backend/tests/unit/routers/test_games_players_router.py
  backend/tests/unit/routers/test_leaderboard_router.py
  backend/tests/unit/routers/test_notifications_router.py
Due: none

refactor(games): make /state DB-authoritative — kill the split-brain at the source
  backend/app/routers/games.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
Due: lint-db-transactions

refactor(games): retire the orphaned /wgp/{id}/action gameplay engine (Tier 2)
  backend/app/main.py
  backend/app/routers/games.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
  backend/app/routers/wgp_actions.py
  backend/tests/api/test_api_endpoints.py
  backend/tests/integration/test_full_game_flow.py
  backend/tests/integration/test_hole_completion.py
  backend/tests/unit/routers/test_wgp_actions_router.py
Due: lint-db-transactions

test(courses): salvage partial hole-update regression from root tests
  backend/tests/unit/routers/test_courses_router.py
Due: none

test(sheet-sync): salvage partial-failure regression (xfail: created_date bug)
  backend/tests/unit/services/test_sheet_integration_service.py
Due: none

test(bdd): relocate behave suite to backend/tests/bdd
  backend/requirements-testing.txt
  backend/tests/bdd/README.md
  backend/tests/bdd/behave/features/game_rules_core.feature
  backend/tests/bdd/behave/steps/game_rules_steps.py
  backend/tests/bdd/behave/steps/utils/__init__.py
  backend/tests/bdd/environment.py
  scripts/testing/run_behave.sh
Due: none

test: remove legacy root tests/ tree
  tests/bdd/TEST_RESULTS.md
  tests/conftest.py
  tests/fixtures/sample_course_import.json
  tests/integration/functional_test_suite.py
  tests/integration/simple_course_test.py
  tests/integration/test_course_enhancements.py
  tests/integration/test_course_import.py
  tests/integration/test_deployment.py
  tests/integration/test_monte_carlo.py
  tests/integration/test_multi_hole_tracking.py
  tests/integration/test_sheet_sync_fix.py
  tests/manual/data/full_wgp_round_expected.json
  tests/manual/results/wgp_round_test_results.json
  tests/test_hole_update_fix.py
  tests/test_monte_carlo_api.py
Due: none

docs: point BDD references at backend/tests/bdd after relocation
  docs/guides/bdd-workflow.md
  docs/testing/COMPREHENSIVE_TESTING_PLAN.md
  docs/testing/QUICK_START_GUIDE.md
  docs/testing/README.md
Due: none

chore(scripts): remove legacy runners broken by the test consolidation
  docs/architecture/architecture.md
  docs/guides/production-setup.md
  scripts/development/install.py
  scripts/testing/run_bdd_tests.sh
  scripts/testing/run_tests.sh
Due: none

docs: document the single backend venv setup
  CLAUDE.md
Due: none

style(bdd): ruff check+format the relocated behave suite
  backend/tests/bdd/behave/steps/game_rules_steps.py
  backend/tests/bdd/environment.py
Due: none

docs: add test-infra consolidation spec + plan
  docs/superpowers/plans/2026-06-14-test-infra-consolidation.md
  docs/superpowers/specs/2026-06-14-test-infra-consolidation-design.md
Due: none

test: wire ctk into the backend suite (pythonpath + worked example)
  backend/pyproject.toml
  backend/tests/unit/routers/test_games_players_router.py
Due: none

chore: vendor claude-test-kit (.ctk) anti-silent-failure test kit
  .ctk/README.md
  .ctk/conftest.py
  .ctk/ctk/__init__.py
  .ctk/ctk/assertions.py
  .ctk/ctk/contracts.py
  .ctk/ctk/lint.py
  .ctk/ctk/logguard.py
  .ctk/ctk/runners.py
  .ctk/ctk/verify.py
  .ctk/pytest.ini
  .ctk/requirements.txt
Due: none

test(infra): check route registration via OpenAPI, not app.routes
  backend/tests/infra/test_imports.py
Due: none

fix(sheet-sync): create players with created_at, not created_date
  backend/app/services/sheet_integration_service.py
  backend/tests/unit/services/test_sheet_integration_service.py
Due: lint-db-transactions

fix(courses): allow partial hole updates in CourseUpdate validator
  backend/app/schemas/courses.py
  backend/tests/unit/routers/test_courses_router.py
Due: lint-db-transactions

test(infra): add respx/responses + live marker for integration tests
  backend/pyproject.toml
  backend/requirements-testing.txt
Due: none

test(integration): scaffold contract + live suites with shared fixtures
  backend/tests/contract/__init__.py
  backend/tests/contract/conftest.py
  backend/tests/live/__init__.py
  backend/tests/live/_helpers.py
  backend/tests/live/conftest.py
Due: none

test(groq): contract + read-only live integration tests
  backend/tests/contract/test_groq_contract.py
  backend/tests/live/test_groq_live.py
Due: none

test(contract): clear proxy env so httpx-mocked tests run locally too
  backend/tests/contract/conftest.py
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
