Repository stuagano/wolf-goat-pig: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

lint-db-transactions:
  name: Database Transaction Linter
  entry: backend/lint_db_transactions.py
  language: python
  pass_filenames: false
  args:
  - backend/app/
  verbose: true

lint-frontend-deploy:
  name: Frontend Deployment Linter
  entry: node frontend/scripts/lint-frontend-deploy.js
  language: system
  pass_filenames: false
  verbose: true

check-sw-version-script:
  name: Check SW Version Script
  entry: bash -c 'test -f frontend/scripts/update-sw-version.js || (echo "‚ùå Missing frontend/scripts/update-sw-version.js" && exit 1)'
  language: system
  pass_filenames: false

fix(tests): repair pre-existing failures unblocked by green CI
  backend/app/routers/admin.py
  backend/tests/unit/routers/test_commissioner_router.py
Due: lint-db-transactions

fix(game-creation): prevent 2/3-player games and harden lobby flow
  backend/app/routers/games.py
  frontend/src/pages/CreateGamePage.jsx
  frontend/src/pages/GameLobbyPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(players): enforce 2-50 char limit on player name updates
  backend/app/routers/games_players.py
Due: lint-db-transactions

refactor(scoring): replace engine-mode paths with clean DB-backed scoring layer
  backend/app/domain/wgp_handlers_core.py
  backend/app/models.py
  backend/app/routers/games_holes.py
  backend/app/routers/games_players.py
  backend/app/routers/wgp_actions.py
  backend/app/services/game_lifecycle_service.py
  backend/app/wolf_goat_pig.py
  backend/migrations/add_hole_events_postgres.sql
  backend/migrations/add_hole_logs_postgres.sql
  backend/migrations/add_hole_orders_postgres.sql
  frontend/src/components/game/ScorecardPhoto.jsx
  frontend/src/components/game/ScorecardReview.jsx
  frontend/src/components/game/SimpleScorekeeper.jsx
  frontend/src/services/syncManager.jsx
Due: lint-db-transactions, lint-frontend-deploy

refactor(leaderboard): align frontend to real /data/leaderboard field names
  backend/app/routers/leaderboard.py
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/context/SheetSyncContext.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(ghin): post score to GHIN after scorecard save
  .claude/settings.local.json
  backend/app/routers/ghin.py
  backend/app/services/ghin_service.py
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/components/game/GHINPostModal.jsx
  frontend/src/components/game/ScorecardPhoto.jsx
Due: lint-db-transactions, lint-frontend-deploy, check-sw-version-script

chore(vercel): use npm ci for faster, OOM-safe installs
  vercel.json
Due: none

chore(vercel): skip playwright browser download on CI
  vercel.json
Due: none

chore(deps): move playwright to tests/e2e, out of Vercel build
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/package.json
  vercel.json
Due: none

chore(vercel): revert to npm install — playwright gone so no more OOM
  vercel.json
Due: none

chore(frontend): remove stale lockfile — let Vercel resolve fresh
  frontend/package-lock.json
Due: none

feat(ghin): auto-fetch handicap from GHIN when player joins game
  backend/app/routers/games.py
  frontend/src/pages/GameLobbyPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(ghin): save profile_id on match, improve name lookup fallbacks
  backend/app/routers/games.py
  frontend/src/pages/GameLobbyPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(ghin): add /ghin/find-players batch search endpoint
  backend/app/routers/ghin.py
Due: lint-db-transactions

revert(ghin): remove bulk find-players endpoint — hammers GHIN API
  backend/app/routers/ghin.py
Due: lint-db-transactions

feat(tee-sheet): push game players to thousand-cranes tee sheet
  backend/app/main.py
  backend/app/routers/tee_sheet.py
  frontend/src/pages/GameLobbyPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(tee-sheet): add pretty sign-up page reading from legacy thousand-cranes backend
  backend/app/routers/tee_sheet.py
  frontend/src/App.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/GameLobbyPage.jsx
  frontend/src/pages/TeeSheetPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(tee-sheet): add 14-day upcoming strip with sign-up counts
  backend/app/routers/tee_sheet.py
  frontend/src/pages/TeeSheetPage.jsx
Due: lint-db-transactions, lint-frontend-deploy

refactor(tee-sheet): consolidate into SignupPage, remove duplicate nav entry
  .claude/settings.local.json
  .envrc
  .gitignore.bak.20260526
  SETUP-personal-identity.md
  docs/superpowers/plans/2026-04-17-stuart-mode.md
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/scorecard_test_fail.txt
  frontend/src/App.jsx
  frontend/src/components/signup/WgpSignupSheet.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/SignupPage.jsx
  frontend/src/pages/TeeSheetPage.jsx
  frontend/test_results.txt
Due: lint-frontend-deploy, check-sw-version-script

feat(nav): split availability/matchmaking into Find a Game page
  frontend/src/App.jsx
  frontend/src/components/ui/Navigation.jsx
  frontend/src/pages/FindAGamePage.jsx
  frontend/src/pages/SignupPage.jsx
Due: lint-frontend-deploy

refactor(nav): move My Availability to Account page
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/FindAGamePage.jsx
Due: lint-frontend-deploy

refactor(nav): move Email Settings to Account page
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/FindAGamePage.jsx
Due: lint-frontend-deploy

refactor(nav): move My Matches from Find a Game to Account page
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/FindAGamePage.jsx
Due: lint-frontend-deploy

feat(notifications): in-app match notification bell
  backend/app/main.py
  backend/app/routers/notifications.py
  backend/app/services/notification_service.py
  frontend/src/components/ui/Navigation.jsx
  frontend/src/components/ui/NotificationBell.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(profiles): public player profile pages at /players/:id
  backend/app/routers/players.py
  frontend/src/App.jsx
  frontend/src/components/signup/AllPlayersAvailability.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(badges): wire achievement engine into game completion
  backend/app/main.py
  backend/app/routers/games.py
Due: lint-db-transactions

feat(badges): add emoji icons to badge system
  backend/app/badge_routes.py
  backend/app/badge_seeds.py
  backend/app/models.py
  backend/app/routers/players.py
  backend/migrations/add_badge_emoji_postgres.sql
  backend/migrations/update_badge_emoji_postgres.sql
  frontend/src/components/game/BadgeGallery.css
  frontend/src/components/game/BadgeGallery.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

fix(booking): pass ISO date to booking service, not display string
  frontend/src/components/foretees/BookingModal.jsx
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
Due: lint-frontend-deploy

feat(booking): add co-players to ForeTees booking automatically
  backend/app/routers/foretees.py
  backend/app/services/foretees_service.py
  booking-service/server.js
  frontend/src/components/foretees/BookingModal.jsx
  frontend/src/components/signup/MatchmakingSuggestions.jsx
  frontend/src/components/signup/MyMatches.jsx
  frontend/src/hooks/useTeeTimes.js
Due: lint-db-transactions, lint-frontend-deploy

fix(booking): rewrite fillCoPlayers for ForeTees v5 modal player select
  booking-service/server.js
Due: none

fix(booking): click Members tab in player select modal before searching
  booking-service/server.js
Due: none

feat(leaderboard): admin-configurable spreadsheet + "View Spreadsheet" link
  backend/app/routers/spreadsheet_sync.py
  backend/app/routers/unified_data.py
  backend/app/services/spreadsheet_sync_service.py
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/components/integration/SheetIntegrationDashboard.jsx
  frontend/src/context/SheetSyncContext.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(stuart-mode): real-time tee shot tapper with live threat adjustment
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
  frontend/src/utils/stuartModeInsights.js
Due: lint-frontend-deploy

refactor(stuart-mode): commissioner pushes intel, no typing required
  frontend/src/components/game/scorekeeper/StuartModePanel.jsx
Due: lint-frontend-deploy

fix(auth): re-enable Auth0 audience so availability returns real JWTs
  frontend/public/service-worker.js
  frontend/public/version.json
  frontend/src/components/signup/PlayerAvailability.jsx
  frontend/src/context/AuthContext.jsx
Due: lint-frontend-deploy, check-sw-version-script

feat(livsow): add LivSow stableford leaderboard from Google Sheet
  backend/app/routers/unified_data.py
  backend/app/services/livsow_service.py
  frontend/src/App.jsx
  frontend/src/components/game/LivSowLeaderboard.jsx
  frontend/src/components/ui/Navigation.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(livsow): show LivSow team affiliation on WGP leaderboard and player profiles
  backend/app/routers/unified_data.py
  backend/app/services/livsow_service.py
  frontend/src/components/game/Leaderboard.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(profile): add editable bio/description field to player profiles
  backend/app/routers/players.py
  frontend/src/pages/AccountPage.jsx
  frontend/src/pages/PlayerProfilePage.jsx
Due: lint-db-transactions, lint-frontend-deploy

feat(livsow): show each player's contribution to team total
  backend/app/services/livsow_service.py
  frontend/src/components/game/LivSowLeaderboard.jsx
Due: lint-db-transactions, lint-frontend-deploy

chore: remove quarantined _unused dirs and stray test artifacts
  .gitignore
  .gitignore.bak.20260526
  _unused/backend/app/services/achievement_service.py
  _unused/backend/app/services/score_calculation_service.py
  _unused/backend/docker-compose.yml
  _unused/backend/tests/manual/manual_test_scoring_mode.py
  _unused/backend/tests/unit/engine/test_achievement_service.py
  _unused/backend/tests/unit/services/test_score_calculation_service.py
  backend/scripts/fix_db_close.py
  frontend/_unused/src/components/__tests__/PerformanceAnalytics.test.js
  frontend/_unused/src/components/__tests__/PlayerProfileManager.test.js
  frontend/_unused/src/components/analytics/PerformanceAnalytics.js
  frontend/_unused/src/components/analytics/PostHoleAnalytics.js
  frontend/_unused/src/components/player/PlayerProfileManager.js
  frontend/_unused/src/config/environment.js
  frontend/_unused/src/pages/TeeTimesPage.js
  frontend/_unused/src/services/__tests__/offlineGameManager.test.js
  frontend/_unused/src/services/offlineGameManager.js
  frontend/_unused/src/utils_api.js
  frontend/scorecard_test_fail.txt
  frontend/test_results.txt
Due: none

Path conditions:
  lint-db-transactions: any of: ^backend/app/.*\.py$ and \.py$
  lint-frontend-deploy: any of: ^frontend/(public|src)/.*\.(js|jsx|ts|tsx|json|css)$
  check-sw-version-script: any of: ^frontend/public/service-worker\.js$
